<div
	*ngIf="{ user: user$ | async, offer: actualOffer$ | async } as data"
	class="grid gap-4"
>
	<mat-card>
		<div *ngIf="data.user === uType.OWNER" class="label-box">
			<mat-label class="label-description">
				<span class="text-3xl"
					>Status oferty:
					{{ offerService.offerStatuses.get(data.offer?.offerStatus ?? 0) }}
					<button
						mat-mini-fab
						class="box-icon"
						color="primary"
						matTooltip="Oferta najmu czeka na zaakceptowanie!"
						aria-label="MenuButton"
						(click)="onRentApproval(data.offer?.offerId)"
					>
						<mat-icon>notifications</mat-icon>
					</button>
				</span></mat-label
			>
		</div>
		<div class="gallery">
			<div class="container slider">
				<div [@slideAnimation]="currentIndex">
					<ng-template
						ngFor
						[ngForOf]="data.offer?.property?.images"
						let-slide
						let-i="index"
					>
						<div class="offer-title-outer">
							<span class="offer-title-inner"
								><h1 class="text-3xl">
									Wynajem -
									{{
										realEstateService.propertyTypes.get(
											data.offer?.property?.propertyType ?? 0
										)
									}}
									{{ data.offer?.property?.area }} m² {{ data.offer?.property?.city }}
									<mat-icon
										*ngIf="data.offer?.isPromoted"
										class="promotion-icon"
										matTooltip="Promowana oferta"
										[inline]="true"
										>new_releases</mat-icon
									>
								</h1></span
							>
						</div>
						<div
							*ngIf="data.user === uType.OWNER || data.user === uType.STUDENT"
							class="menu-title"
						>
							<button
								class="box-icon"
								id="menu"
								mat-mini-fab
								color="primary"
								matTooltip="Więcej opcji"
								aria-label="MenuButton"
								[matMenuTriggerFor]="menu"
								[disabled]="
									data?.offer?.offerStatus === 1 || data?.offer?.offerStatus === 2
								"
							>
								<mat-icon>more_horiz</mat-icon>
							</button>
							<mat-menu #menu="matMenu" id="sort">
								<button
									*ngFor="let menuOption of this.menuOptions"
									mat-menu-item
									[value]="menuOption.description"
									(click)="onSelect(menuOption, data.offer?.offerId)"
								>
									<span
										[ngClass]="menuOption.option === 'closeOffer' ? 'close-offer' : ''"
										>{{ menuOption.description }}</span
									>
								</button>
							</mat-menu>
						</div>
						<img
							*ngIf="
								(data.offer?.property?.images?.length ?? 0) > 0 &&
								isCurrentSlideIndex(i)
							"
							class="slide slide-animation non-draggable-image"
							src="{{ baseUrl }}/{{ slide.path }}"
							(swiperight)="nextSlide(data.offer?.property?.images?.length)"
							(swipeleft)="prevSlide(data.offer?.property?.images?.length)"
						/>
					</ng-template>
				</div>

				<button
					class="arrow prev"
					(click)="nextSlide(data.offer?.property?.images?.length)"
				>
					<mat-icon>arrow_back_ios</mat-icon>
				</button>
				<button
					class="arrow next"
					(click)="prevSlide(data.offer?.property?.images?.length)"
				>
					<mat-icon>arrow_forward_ios</mat-icon>
				</button>
				<nav class="nav">
					<div class="wrapper">
						<ul class="dots">
							<li
								*ngFor="let slide of data.offer?.property?.images; let i = index"
								class="dot"
							>
								<span
									[ngClass]="{ active: isCurrentSlideIndex(i) }"
									(click)="setCurrentSlideIndex(i)"
								></span>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<div class="button-box">
			<mat-label class="label-survey">
				<span [ngSwitch]="data.offer?.surveyOwnerOffer?.smokingAllowed">
					<mat-icon
						*ngSwitchCase="false"
						class="icon"
						matTooltip="Palenie niedozwolone"
						[inline]="true"
						>smoke_free
					</mat-icon>
					<mat-icon
						*ngSwitchCase="true"
						class="icon"
						matTooltip="Palenie dozwolone"
						[inline]="true"
						>smoking_rooms
					</mat-icon>
				</span>
				<span [ngSwitch]="data.offer?.surveyOwnerOffer?.animalsAllowed">
					<mat-icon
						*ngSwitchCase="true"
						class="icon"
						matTooltip="Zwierzęta dozwolone"
						[inline]="true"
						>pets</mat-icon
					>
				</span>
				<span [ngSwitch]="data.offer?.surveyOwnerOffer?.partiesAllowed">
					<mat-icon
						*ngSwitchCase="true"
						class="icon"
						matTooltip="Imprezy dozwolone"
						[inline]="true"
						>cake</mat-icon
					>
				</span>
			</mat-label>
			<mat-label class="label-price"
				><span class="text-3xl"
					>Cena
					{{ data.offer?.price | currency : "PLN" : true : ".2-2" }}/mies.</span
				></mat-label
			>
		</div>
	</mat-card>
	<mat-card>
		<div class="label-box">
			<mat-label class="label-description"
				><mat-icon class="icon" [inline]="true">description</mat-icon
				><span class="text-3xl">Opis oferty</span></mat-label
			>
		</div>
		<mat-divider></mat-divider>
		<div class="container-description">
			<div class="column-header-description">
				<p class="text-2xl pt-4">Kaucja:</p>
				<p class="text-2xl pt-4">Data wystawienia:</p>
				<p class="text-2xl pt-4">Data zakończenia:</p>
				<p class="text-2xl pt-4">Adres:</p>
				<p class="text-2xl pt-4">Metraż:</p>
				<p class="text-2xl pt-4">Liczba pokoi:</p>
				<p class="text-2xl pt-4">Liczba pięter:</p>
				<p class="text-2xl pt-4">Piętro:</p>
				<p class="text-2xl pt-4">Maks. liczba mieszkańców:</p>
				<p class="text-2xl pt-4">Rok budowy:</p>
				<p class="text-2xl pt-4">Wyposażenie:</p>
				<p class="text-2xl pt-4">Informacje o umowie:</p>
				<p
					*ngIf="data.user === uType.OWNER || data.user === uType.STUDENT"
					class="text-2xl"
				>
					Współlokatorzy:
				</p>
			</div>
			<div class="column-header-description">
				<p class="text-2xl pt-4">
					{{ data.offer?.deposit | currency : "PLN" : true : ".2-2" }}
				</p>
				<p class="text-2xl pt-4">{{ data.offer?.startDate | date }}</p>
				<p class="text-2xl pt-4">{{ data.offer?.endDate | date }}</p>
				<p class="text-2xl pt-4">
					{{ data.offer?.property?.postalCode }} {{ data.offer?.property?.city }},
					ul. {{ data.offer?.property?.street }} {{ data.offer?.property?.number }}
				</p>
				<p class="text-2xl pt-4">{{ data.offer?.property?.area }} m²</p>
				<p class="text-2xl pt-4">{{ data.offer?.property?.numberOfRooms }}</p>
				<p class="text-2xl pt-4">
					{{
						data.offer?.property?.numberOfFloors === null
							? "-"
							: data.offer?.property?.numberOfFloors
					}}
				</p>
				<p class="text-2xl pt-4">
					{{
						data.offer?.property?.floor === null ? "-" : data.offer?.property?.floor
					}}
				</p>
				<p class="text-2xl pt-4">
					{{ data.offer?.property?.maxNumberOfInhabitants }}
				</p>
				<p class="text-2xl pt-4">{{ data.offer?.property?.constructionYear }}</p>
				<p class="text-2xl pt-4">{{ data.offer?.regulations }}</p>
				<p
					*ngIf="data.user === uType.OWNER || data.user === uType.STUDENT"
					class="text-2xl pt-4"
				>
					Jan Kowalski, Barbara Nowak
				</p>
				<p class="text-2xl pt-4">
					<span *ngFor="let equipment of data?.offer?.property?.equipment"
						><mat-chip class="mr-4" [ngSwitch]="equipment.equipmentId">
							<div *ngSwitchCase="1" class="box-equipment">
								<span class="material-symbols-outlined">dishwasher</span>
								<span>{{ equipment.name }}</span>
							</div>
							<div *ngSwitchCase="2" class="box-equipment">
								<mat-icon>local_laundry_service</mat-icon
								><span>{{ equipment.name }}</span>
							</div>
							<div *ngSwitchCase="3" class="box-equipment">
								<mat-icon>iron</mat-icon><span>{{ equipment.name }}</span>
							</div>
							<div *ngSwitchCase="4" class="box-equipment">
								<span class="material-symbols-outlined">kettle</span>
								<span>{{ equipment.name }}</span>
							</div>
							<div *ngSwitchCase="5" class="box-equipment">
								<mat-icon>coffee_maker</mat-icon><span>{{ equipment.name }}</span>
							</div>
							<div *ngSwitchCase="6" class="box-equipment">
								<mat-icon>ac_unit</mat-icon><span>{{ equipment.name }}</span>
							</div>
							<div *ngSwitchCase="7" class="box-equipment">
								<mat-icon>balcony</mat-icon><span>{{ equipment.name }}</span>
							</div>
							<div *ngSwitchCase="8" class="box-equipment">
								<mat-icon>tv</mat-icon><span>{{ equipment.name }}</span>
							</div>
							<div *ngSwitchCase="9" class="box-equipment">
								<mat-icon>bathtub</mat-icon><span>{{ equipment.name }}</span>
							</div>
							<div *ngSwitchCase="10" class="box-equipment">
								<span class="material-symbols-outlined">oven</span>
								<span>{{ equipment.name }}</span>
							</div>
							<div *ngSwitchCase="11" class="box-equipment">
								<mat-icon>microwave</mat-icon><span>{{ equipment.name }}</span>
							</div>
							<div *ngSwitchCase="12" class="box-equipment">
								<mat-icon>elevator</mat-icon><span>{{ equipment.name }}</span>
							</div>
							<div *ngSwitchDefault class="box-equipment">
								<mat-icon>devices</mat-icon><span>{{ equipment.name }}</span>
							</div>
						</mat-chip>
					</span>
				</p>
				<p class="text-2xl pt-4">{{ data.offer?.regulations }}</p>
				<p
					*ngIf="data.user === uType.OWNER || data.user === uType.STUDENT"
					class="text-2xl pt-4"
				>
					Jan Kowalski, Barbara Nowak
				</p>
			</div>
		</div>
	</mat-card>
	<div *ngIf="data.user === uType.OWNER" class="label-box">
		<mat-label class="label-description"
			><mat-icon class="icon" [inline]="true">attach_money</mat-icon
			><span class="text-3xl">Płatności</span></mat-label
		>
	</div>
	<div *ngIf="data.user === uType.OWNER" class="payments">
		<table mat-table class="mat-elevation-z8" [dataSource]="payments">
			<ng-container
				*ngFor="let column of this.displayedColumnsStudent"
				[matColumnDef]="column"
			>
				<th *matHeaderCellDef mat-header-cell>{{ column }}</th>
				<td *matCellDef="let payment" mat-cell class="text-2xl">
					{{ payment[column] }}
				</td>
			</ng-container>
			<tr
				*matRowDef="let paymentRow; columns: this.displayedColumnsStudent"
				mat-row
			></tr>
		</table>
	</div>
	<div *ngIf="data.user === uType.STUDENT" class="button-box-options">
		<button mat-raised-button color="primary">Dodaj współlokatorów</button>
	</div>
	<div *ngIf="data.user === uType.DETAILS" class="button-box-options">
		<button mat-raised-button color="primary" (click)="returnStart()">
			Powrót
		</button>
		<button
			mat-raised-button
			color="primary"
			(click)="onAddMeeting(data.offer?.offerId)"
		>
			Dodaj spotkanie
		</button>
		<button
			mat-raised-button
			color="primary"
			(click)="startRent(data.offer?.offerId)"
		>
			Wynajmij
		</button>
	</div>
</div>
