h1 {
	font-size: 30px;
	margin-top: 16px;
	text-align: center;
}
mat-card {
	margin: 16px 0;
}

mat-form-field {
	width: 100%;
	margin: 2px 0;
}

::-ms-reveal {
	display: none;
}

::ng-deep .mdc-notched-outline__notch {
	border-right: none !important;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buttons button {
	width: 100%;
	margin-bottom: 10px;
}

