<h1 class="p-4 text-xl">{{ "Dispute.open-dispute-owner-dialog" | translate }}</h1>
<div>
	<mat-form-field class="w-full text-lg">
		<mat-label>{{ "Dispute.start-describing-problem" | translate }}</mat-label>
		<textarea matInput [formControl]="message"></textarea>
	</mat-form-field>
</div>
<div mat-dialog-actions align="end">
	<button mat-raised-button mat-dialog-close>{{ "cancel" | translate }}</button>
	<button mat-raised-button mat-dialog-close [disabled]="!message.valid">
		{{ "send" | translate }}
	</button>
</div>
