<h1 class="p-4 text-xl">Otwórz spór z właścicielem</h1>
<form [formGroup]="startDisputeForm" (ngSubmit)="onSubmit()">
	<div>
		<mat-form-field class="w-full text-lg">
			<mat-label>Tytuł sporu</mat-label>
			<textarea matInput formControlName="title"></textarea>
		</mat-form-field>
		<mat-form-field class="w-full text-lg">
			<mat-label>Opis problemu</mat-label>
			<textarea matInput formControlName="description"></textarea>
		</mat-form-field>
	</div>
	<div mat-dialog-actions align="end">
		<button mat-raised-button mat-dialog-close>Anuluj</button>
		<button
			mat-raised-button
			mat-dialog-close
			type="submit"
			[disabled]="startDisputeForm.invalid"
		>
			Wyślij
		</button>
	</div>
</form>
