<div>
	<div class="box-title">
		<div class="text-4xl p-4 font-semibold">Przeglądanie nieruchomości</div>
	</div>
	<ng-template #notFound>
		<div class="not-found">
			<h1 class="text-3xl p-4">
				Nie dodano jeszcze żadnej nieruchomości
				<button
					*appAccessControl="authService.allPermissions.get('verifiedOwner')"
					mat-icon-button
					id="add"
					class="box-icon-add"
					aria-label="Add"
					matTooltip="Dodaj nieruchomość"
					(click)="addRealEstate()"
				>
					<mat-icon [inline]="true">add</mat-icon>
				</button>
			</h1>
		</div>
	</ng-template>
	<div *ngIf="realEstateOptions$ | async as realEstates; else notFound">
		<div class="real-estate-owner">
			<div class="container-list">
				<h1 class="text-3xl pl-4 font-semibold">
					<div class="box-title-sub">
						<span>Moje nieruchomości</span>
						<button
							*appAccessControl="authService.allPermissions.get('verifiedOwner')"
							mat-icon-button
							id="add"
							class="box-icon-add"
							aria-label="Add"
							matTooltip="Dodaj nieruchomość"
							(click)="addRealEstate()"
						>
							<mat-icon [inline]="true">add</mat-icon>
						</button>
					</div>
				</h1>
				<mat-divider class="divider"></mat-divider>
				<mat-nav-list>
					<a
						*ngFor="let realEstate of realEstates"
						mat-list-item
						class="item-list"
						routerLink="{{ realEstate.propertyId }}"
						><div class="box-title">
							<span class="text-xl font-bold">{{
								realEstateService.propertyTypes.get(realEstate.propertyType)
							}}</span>
							<mat-icon
								[ngClass]="
									realEstate.verificationStatus === 0
										? 'box-icon-valid'
										: 'box-icon-invalid'
								"
								>check_circle</mat-icon
							>
						</div>
						<div class="box-subtitle">
							{{ realEstate.city }}, ul. {{ realEstate.street }}
							{{ realEstate.number }}, {{ realEstate.area }} m²
						</div>
					</a>
				</mat-nav-list>
			</div>
			<div class="container-outlet">
				<router-outlet (deactivate)="onDeactivate()"></router-outlet>
			</div>
		</div>
	</div>
</div>
