<div
	*ngIf="{ properties: realEstateOptions$ | async, user: user$ | async } as data"
>
	<div class="box-title">
		<div *ngIf="data.user === uType.OWNER" class="text-4xl p-4 font-semibold">
			{{ "Real-estate.browsing-properties" | translate }}
		</div>
		<div *ngIf="data.user === uType.DETAILS" class="text-4xl p-4 font-semibold">
			{{ "Real-estate.view" | translate }}
		</div>
	</div>
	<ng-template #notFound>
		<mat-card>
			<h1 class="text-3xl p-4">
				<span class="mr-4">{{
					"Real-estate.browsing-properties-info" | translate
				}}</span>
				<button
					*appAccessControl="authService.getPermissions(authModels.VERIFIED_OWNER)"
					mat-mini-fab
					id="add"
					color="basic"
					aria-label="Add"
					matTooltip="{{ 'Real-estate.add-property' | translate }}"
					(click)="addRealEstate()"
				>
					<mat-icon class="font-bold">add</mat-icon>
				</button>
			</h1>
		</mat-card>
	</ng-template>
	<div
		*ngIf="data.user === uType.OWNER && !data.properties?.length"
		class="not-found"
	>
		<ng-container [ngTemplateOutlet]="notFound"></ng-container>
	</div>
	<div *ngIf="data.user === uType.OWNER && data.properties?.length">
		<div class="real-estate-owner">
			<mat-card class="container-list">
				<h1 class="text-3xl p-4 font-semibold">
					<div class="box-title-sub">
						<span class="mr-4">{{ "Real-estate.my-properties" | translate }}</span>
						<button
							*appAccessControl="authService.getPermissions(authModels.VERIFIED_OWNER)"
							mat-mini-fab
							id="add"
							color="basic"
							class="box-icon-add"
							aria-label="Add"
							matTooltip="{{ 'Real-estate.add-property' | translate }}"
							(click)="addRealEstate()"
						>
							<mat-icon class="font-bold">add</mat-icon>
						</button>
					</div>
				</h1>
				<mat-divider class="divider"></mat-divider>
				<mat-nav-list>
					<a
						*ngFor="let realEstate of data.properties"
						mat-list-item
						class="item-list"
						routerLink="{{ realEstate.propertyId }}"
						><div class="box-title">
							<span class="text-xl font-bold">{{
								realEstateService.getPropertyType(realEstate.propertyType) | translate
							}}</span>
							<mat-icon
								[ngClass]="
									realEstate.verificationStatus === 0
										? 'box-icon-valid'
										: 'box-icon-invalid'
								"
								>check_circle</mat-icon
							>
						</div>
						<div class="box-subtitle">
							{{ realEstate.city }}, {{ "Real-estate.st" | translate }}.
							{{ realEstate.street }} {{ realEstate.number }}, {{ realEstate.area }} m²
						</div>
					</a>
				</mat-nav-list>
			</mat-card>
			<div class="container-outlet">
				<router-outlet (deactivate)="onDeactivate()"></router-outlet>
			</div>
		</div>
	</div>
	<div *ngIf="data.user === uType.DETAILS" class="real-estate-student">
		<router-outlet></router-outlet>
	</div>
</div>
