<h1 *ngIf="data$ | async as data" mat-dialog-title>
	{{ "Rents-details.rate-rental" | translate }} {{ data.description }}
</h1>
<div mat-dialog-content>
	<form [formGroup]="form">
		<mat-form-field appearance="fill">
			<mat-label>{{ "Rent-rate.rate" | translate }}</mat-label>
			<mat-slider
				thumbLabel
				tickInterval="1"
				min="1"
				max="5"
				step="1"
				formControlName="rate"
			></mat-slider>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>{{ "Rent-rate.cleanliness" | translate }}</mat-label>
			<mat-slider
				thumbLabel
				tickInterval="1"
				min="1"
				max="5"
				step="1"
				formControlName="cleanliness"
			></mat-slider>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>{{ "Rent-rate.service" | translate }}</mat-label>
			<mat-slider
				thumbLabel
				tickInterval="1"
				min="1"
				max="5"
				step="1"
				formControlName="service"
			></mat-slider>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>{{ "Rent-rate.location" | translate }}</mat-label>
			<mat-slider
				thumbLabel
				tickInterval="1"
				min="1"
				max="5"
				step="1"
				formControlName="location"
			></mat-slider>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>{{ "Rent-rate.equipment" | translate }}</mat-label>
			<mat-slider
				thumbLabel
				tickInterval="1"
				min="1"
				max="5"
				step="1"
				formControlName="equipment"
			></mat-slider>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>{{ "Rent-rate.value-for-money" | translate }}</mat-label>
			<mat-slider
				thumbLabel
				tickInterval="1"
				min="1"
				max="5"
				step="1"
				formControlName="price"
			></mat-slider>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>{{ "Rent-rate.opinion" | translate }}</mat-label>
			<textarea matInput formControlName="opinion"></textarea>
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions class="button-box">
	<button mat-button mat-dialog-close cdkFocusInitial type="button">
		{{ "cancel" | translate }}
	</button>
	<button mat-raised-button color="primary" (click)="onSubmit()">
		{{ "Rent-rate.rate2" | translate }}
	</button>
</div>
