<h1 *ngIf="data$ | async as data" mat-dialog-title>
	Oceń najem {{ data.description }}
</h1>
<div mat-dialog-content>
	<form [formGroup]="form">
		<mat-form-field appearance="fill">
			<mat-label>Ocena</mat-label>
			<input matInput type="number" min="1" max="5" formControlName="rate" />
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Czystość</mat-label>
			<mat-select formControlName="cleanliness">
				<mat-option *ngFor="let rate of rates" [value]="rate.id">
					{{ rate.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Obsługa</mat-label>
			<mat-select formControlName="service">
				<mat-option *ngFor="let rate of rates" [value]="rate.id">
					{{ rate.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Lokalizacja</mat-label>
			<mat-select formControlName="location">
				<mat-option *ngFor="let rate of rates" [value]="rate.id">
					{{ rate.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Wyposażenie</mat-label>
			<mat-select formControlName="equipment">
				<mat-option *ngFor="let rate of rates" [value]="rate.id">
					{{ rate.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Stosunek jakości do ceny</mat-label>
			<mat-select formControlName="price">
				<mat-option *ngFor="let rate of rates" [value]="rate.id">
					{{ rate.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Opinia</mat-label>
			<textarea matInput formControlName="opinion"></textarea>
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions class="button-box">
	<button mat-button mat-dialog-close cdkFocusInitial type="button">
		Anuluj
	</button>
	<button mat-raised-button color="primary" (click)="onSubmit()">Oceń</button>
</div>
