<h1 *ngIf="data$ | async as data" mat-dialog-title>
	Oceń najem {{ data.description }}
</h1>
<div mat-dialog-content>
	<form [formGroup]="form">
		<mat-form-field appearance="fill">
			<mat-label>Ocena</mat-label>
			<mat-slider
				thumbLabel
				tickInterval="1"
				min="1"
				max="5"
				step="1"
				formControlName="rate"
			></mat-slider>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Czystość</mat-label>
			<mat-slider
				thumbLabel
				tickInterval="1"
				min="1"
				max="5"
				step="1"
				formControlName="cleanliness"
			></mat-slider>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Obsługa</mat-label>
			<mat-slider
				thumbLabel
				tickInterval="1"
				min="1"
				max="5"
				step="1"
				formControlName="service"
			></mat-slider>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Lokalizacja</mat-label>
			<mat-slider
				thumbLabel
				tickInterval="1"
				min="1"
				max="5"
				step="1"
				formControlName="location"
			></mat-slider>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Wyposażenie</mat-label>
			<mat-slider
				thumbLabel
				tickInterval="1"
				min="1"
				max="5"
				step="1"
				formControlName="equipment"
			></mat-slider>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Stosunek jakości do ceny</mat-label>
			<mat-slider
				thumbLabel
				tickInterval="1"
				min="1"
				max="5"
				step="1"
				formControlName="price"
			></mat-slider>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Opinia</mat-label>
			<textarea matInput formControlName="opinion"></textarea>
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions class="button-box">
	<button mat-button mat-dialog-close cdkFocusInitial type="button">
		Anuluj
	</button>
	<button mat-raised-button color="primary" (click)="onSubmit()">Oceń</button>
</div>
