// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-primary: mat.define-palette(mat.$indigo-palette);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-theme: mat.define-light-theme(
	(
		color: (
			primary: $angular-primary,
			accent: $angular-accent,
			warn: $angular-warn,
		),
	)
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-theme);

/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mdc-notched-outline__notch {
	border-right: none;
}

.mat-step-header .mat-step-icon-selected {
	background-color: #fbbb8b;
	transform: scale(1.6);
}

.mat-step-icon.mat-step-icon-state-edit {
	background-color: #fbbb8b;
	transform: scale(1.6);
}

.mat-step-text-label {
	font-size: 1.2rem;
	padding-left: 4px;
}

.mat-step-header .mat-step-icon {
	transform: scale(1.6);
}

.mat-calendar-body-cell.has-event::after {
	content: "";
	background: red;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

mat-error {
	font-size: x-small;
}
