// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$md-flats4uspalette: (
	50: #fff7f1,
	100: #feebdc,
	200: #fdddc5,
	300: #fccfae,
	400: #fcc59c,
	500: #fbbb8b,
	600: #fab583,
	700: #faac78,
	800: #f9a46e,
	900: #f8965b,
	A100: #ffffff,
	A200: #ffffff,
	A400: #fffbf8,
	A700: #ffeadf,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #ffffff,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
$angular-basic: mat.define-palette($md-flats4uspalette, 100);
$angular-primary: mat.define-palette($md-flats4uspalette, 500);
$angular-accent: mat.define-palette($md-flats4uspalette, 900);
// The warn palette is optional (defaults to red).
$angular-warn: mat.define-palette(mat.$red-palette);

$textColor_light: black;
$textColor_dark: white;
$bgColor_light: rgb(245 245 244);
$bgColor_dark: #282828;
$borderColor_light: black;
$borderColor_dark: white;
$bgColor_dark_header: #3f3f3f;
$bgColor_light_header: #fbbb8b;

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-light-theme: mat.define-light-theme(
	(
		color: (
			basic: $angular-basic,
			primary: $angular-primary,
			accent: $angular-accent,
			warn: $angular-warn,
		),
	)
);

$angular-dark-theme: mat.define-dark-theme(
	(
		color: (
			basic: $angular-basic,
			primary: $angular-primary,
			accent: $angular-accent,
			warn: $angular-warn,
		),
		typography: mat.define-typography-config(),
		density: 0,
	)
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@mixin darken() {
	--textColor: #{$textColor_dark};
	--bgColor: #{$bgColor_dark};
	--borderColor: #{$borderColor_dark};
	--headerBgColor: #{$bgColor_dark_header};
}

@mixin lighten() {
	--textColor: #{$textColor_light};
	--bgColor: #{$bgColor_light};
	--borderColor: #{$borderColor_light};
	--headerBgColor: #{$bgColor_light_header};
}

body.dark {
	@include darken();
	@include mat.all-component-themes($angular-dark-theme);
}

body.light {
	@include lighten();
	@include mat.all-component-themes($angular-light-theme);
}

@include mat.all-component-themes($angular-light-theme);

/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	@include lighten();
}
.mdc-notched-outline__notch {
	border-right: none;
}

.mat-step-header .mat-step-icon-selected {
	background-color: #fbbb8b;
	transform: scale(1.6);
}

.mat-step-icon.mat-step-icon-state-edit {
	background-color: #fbbb8b;
	transform: scale(1.6);
}

.mat-step-text-label {
	font-size: 1.2rem;
	padding-left: 4px;
}

.mat-step-header .mat-step-icon {
	transform: scale(1.6);
}

.mat-calendar-body-cell.has-event::after {
	content: "";
	background: red;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

footer {
	background-color: var(--headerBgColor);
	color: var(--textColor);
	.quick-links a {
		color: var(--textColor);
	}
	.quick-links a:hover {
		background-color: var(--textColor);
		color: var(--bgColor);
	}
	.social-logos a {
		color: var(--textColor);
	}

	.social-logos a:hover {
		background-color: var(--textColor);
		color: var(--bgColor);
	}
}

.custom-toolbar {
	background-color: var(--headerBgColor) !important;
}

mat-error {
	font-size: x-small;
}

.stylePopup .leaflet-popup-content-wrapper,
.stylePopup .leaflet-popup-tip {
	background-color: var(--bgColor);
	color: var(--textColor);
}

.marker-cluster {
	background-color: var(--headerBgColor) !important;
}

.marker-cluster div {
	background-color: var(--headerBgColor) !important;
}

.dialog-title {
	color: var(--textColor);
}

@media screen and (max-width: 600px) {
	.stylePopup .leaflet-popup-content-wrapper {
		max-width: 200px;
	}
}
