<mat-card>
	<h2>{{ "Password-change.password-change" | translate }}</h2>
	<mat-card-content class="mx-auto pt-1 w-3/5 md:w-1/3">
		<form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
			<mat-form-field appearance="outline">
				<mat-label>{{ "Password-change.current-password" | translate }}</mat-label>
				<input
					formControlName="oldPassword"
					matInput
					[type]="hideOldPassword ? 'password' : 'text'"
				/>
				<button
					mat-icon-button
					type="button"
					matSuffix
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hideOldPassword"
					(click)="hideOldPassword = !hideOldPassword"
				>
					<mat-icon>{{
						hideOldPassword ? "visibility_off" : "visibility"
					}}</mat-icon>
				</button>
				<mat-error
					*ngIf="passwordChangeForm.controls['oldPassword'].hasError('required')"
					>{{ "required-field" | translate }}!</mat-error
				>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>{{ "Password-change.new-password" | translate }}</mat-label>
				<input
					formControlName="newPassword"
					matInput
					[type]="hideNewPassword ? 'password' : 'text'"
				/>
				<button
					mat-icon-button
					type="button"
					matSuffix
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hideNewPassword"
					(click)="hideNewPassword = !hideNewPassword"
				>
					<mat-icon>{{
						hideNewPassword ? "visibility_off" : "visibility"
					}}</mat-icon>
				</button>
				<mat-error *ngIf="passwordChangeForm.controls['newPassword'].invalid">
					<span
						*ngIf="passwordChangeForm.controls['newPassword'].hasError('required')"
						>{{ "required-field" | translate }}!</span
					>
					<span
						*ngIf="passwordChangeForm.controls['newPassword'].hasError('pattern')"
						>{{ "Password-change.password-info1" | translate }}!</span
					>
					<span
						*ngIf="
							passwordChangeForm.controls['newPassword'].hasError('minlength') ||
							passwordChangeForm.controls['newPassword'].hasError('maxlength')
						"
					>
						{{ "Password-change.password-info2" | translate }}!</span
					>
				</mat-error>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>{{
					"Password-change.repeat-new-password" | translate
				}}</mat-label>
				<input
					formControlName="confirmPassword"
					matInput
					[type]="hideConfirmPassword ? 'password' : 'text'"
				/>
				<mat-error
					*ngIf="
						passwordChangeForm.controls['confirmPassword'].hasError('passwordNoMatch')
					"
					>{{ "Password-change.same-password" | translate }}!</mat-error
				>
				<mat-error
					*ngIf="passwordChangeForm.controls['confirmPassword'].hasError('required')"
					>{{ "required-field" | translate }}!</mat-error
				>
				<button
					mat-icon-button
					type="button"
					matSuffix
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hideConfirmPassword"
					(click)="hideConfirmPassword = !hideConfirmPassword"
				>
					<mat-icon>{{
						hideConfirmPassword ? "visibility_off" : "visibility"
					}}</mat-icon>
				</button>
			</mat-form-field>

			<div class="buttons">
				<button
					mat-flat-button
					color="primary"
					class="btn-submit"
					type="submit"
					[disabled]="!passwordChangeForm.valid"
				>
					{{ "save" | translate }}
				</button>
				<button
					mat-flat-button
					color="accent"
					class="btn-cancel"
					type="button"
					routerLink="../"
				>
					{{ "cancel" | translate }}
				</button>
			</div>
		</form>
	</mat-card-content>
</mat-card>
