<mat-card>
	<h2>Zmiana hasła</h2>
	<mat-card-content class="mx-auto pt-1 w-3/5 md:w-1/3">
		<form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
			<mat-form-field appearance="outline">
				<mat-label>Aktualne hasło</mat-label>
				<input
					formControlName="oldPassword"
					matInput
					[type]="hideOldPassword ? 'password' : 'text'"
				/>
				<button
					mat-icon-button
					type="button"
					matSuffix
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hideOldPassword"
					(click)="hideOldPassword = !hideOldPassword"
				>
					<mat-icon>{{
						hideOldPassword ? "visibility_off" : "visibility"
					}}</mat-icon>
				</button>
				<mat-error
					*ngIf="passwordChangeForm.controls['newPassword'].hasError('required')"
					>Pole jest wymagane</mat-error
				>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Nowe hasło</mat-label>
				<input
					formControlName="newPassword"
					matInput
					[type]="hideNewPassword ? 'password' : 'text'"
				/>
				<button
					mat-icon-button
					type="button"
					matSuffix
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hideNewPassword"
					(click)="hideNewPassword = !hideNewPassword"
				>
					<mat-icon>{{
						hideNewPassword ? "visibility_off" : "visibility"
					}}</mat-icon>
				</button>
				<mat-error
					*ngIf="passwordChangeForm.controls['newPassword'].hasError('required')"
					>Pole jest wymagane</mat-error
				>
				<mat-error
					*ngIf="passwordChangeForm.controls['newPassword'].hasError('pattern')"
					>Hasło musi mieć jedną wielką i małą literę oraz cyfrę</mat-error
				>
				<mat-error
					*ngIf="
						passwordChangeForm.controls['newPassword'].hasError('minlength') ||
						passwordChangeForm.controls['newPassword'].hasError('maxlength')
					"
					>Hasło musi mieć od 8 do 50 znaków</mat-error
				>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Powtórz nowe hasło</mat-label>
				<input
					formControlName="confirmPassword"
					matInput
					[type]="hideConfirmPassword ? 'password' : 'text'"
				/>
				<mat-error
					*ngIf="
						passwordChangeForm.controls['confirmPassword'].hasError('passwordNoMatch')
					"
					>Hasła muszą być takie same</mat-error
				>
				<mat-error
					*ngIf="passwordChangeForm.controls['confirmPassword'].hasError('required')"
					>Pole jest wymagane</mat-error
				>
				<button
					mat-icon-button
					type="button"
					matSuffix
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hideConfirmPassword"
					(click)="hideConfirmPassword = !hideConfirmPassword"
				>
					<mat-icon>{{
						hideConfirmPassword ? "visibility_off" : "visibility"
					}}</mat-icon>
				</button>
			</mat-form-field>

			<div class="buttons">
				<button
					mat-flat-button
					color="primary"
					class="btn-submit"
					type="submit"
					[disabled]="!passwordChangeForm.valid"
				>
					Zapisz
				</button>
				<button
					mat-flat-button
					color="accent"
					class="btn-cancel"
					type="button"
					routerLink="../"
				>
					Anuluj
				</button>
			</div>
		</form>
	</mat-card-content>
</mat-card>
