.startsite {
	background-color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
	padding-top: 0;
	justify-content: center;
	margin: 0 16px;
}

.imgs {
	object-fit: cover;
	height: 400px;
	overflow: hidden;
}

.paginator-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	height: auto;
	min-width: 200px;
	max-width: 500px;
	cursor: pointer;
}

.promoted-card {
	height: auto;
	min-width: 200px;
	max-width: 500px;
	cursor: pointer;
	border: 4px #fbbb8b;
	border-style: solid;
}

.card-content {
	margin-top: 8px;
}

.card-full-width {
	width: 100%;
}

.card:hover {
	box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.255);
}

.promoted-card:hover {
	box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.255);
}

.container {
	background-color: #fbbc8b9c;
	display: flex;
	flex-direction: column;
	padding-bottom: 0px;
	padding-top: 20px;
	border: 1px solid rgba(0, 0, 0, 0.221);
	border-radius: 4px;
	min-width: fit-content;
}

.container-offers {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	padding: 0 40px 40px 40px;
	justify-content: center;
}

.container-title {
	align-self: center;
	text-align: center;
	font-size: xx-large;
	padding-top: 20px;
	padding-bottom: 20px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);
}

.container-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: fit-content;
	padding-bottom: 20px;
}

.container-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: fit-content;
	padding-bottom: 20px;
}

.container-spinner {
	align-self: center;
}

.box-filters {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	justify-content: center;
	padding-top: 4px;
}

.box-other-filters {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	justify-content: center;
}

mat-card-header {
	font-weight: bold;
	justify-content: center;
	font-size: large;
}

mat-card-subtitle {
	font-size: large;
	margin-top: 4px;
}

mat-card-content {
	text-align: justify;
	font-size: medium;
	justify-content: center;
}

.batch {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 24px;
}

.batch-full-width {
	width: 100%;
}

.box-icon {
	padding: 0 4px;
}

.box-icon-function {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.ico {
	font-size: xx-large;
	min-width: max-content;
	min-height: max-content;
}

.promotion-icon {
	font-size: x-large;
	color: #fbbb8b;
	float: right;
	margin-left: 4px;
}

.subtitle-flat-type {
	background-color: #000000;
	color: #ffffff;
	opacity: 40%;
	padding: 4px;
}

.box-icon-watched {
	font-size: x-large;
	display: flex;
	align-content: center;
	justify-content: center;
	cursor: pointer;
}

.example-full-width {
	width: 100%;
}

mat-chip {
	background-color: #fbbb8b;

	.chip {
		display: flex;
		align-content: center;
		justify-content: center;
	}
}

mat-form-field {
	padding: 4px;
}

.suffix {
	padding: 0 4px;
}

.description {
	display: flex;
	justify-content: center;
}

.offer-title-outer {
	position: absolute;
	padding: 4px;
	top: 0;
	left: 0;
	width: 100%;
}

.offer-title-inner {
	background: rgba(0, 0, 0, 0.32);
	color: white;
	position: absolute;
	padding: 4px;
	z-index: 996;
	width: fit-content;
	margin-right: 4px;
}

p {
	white-space: pre-line;
}

/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[matinput][type="number"] {
	-moz-appearance: textfield;
}

@media screen and (max-width: 992px) {
	.container-offers {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.container-offers {
		grid-template-columns: repeat(1, 1fr);
	}
}
