<div class="startsite">
	<form
		class="container-form"
		[formGroup]="startSiteForm"
		(ngSubmit)="onSubmit()"
	>
		<div class="container-title">
			<h1 class="text-4xl p-4">{{ "stronaGlowna.real-title" | translate }}</h1>
		</div>
		<div class="container">
			<div class="box-filters">
				<mat-form-field appearance="fill">
					<mat-label>{{ "label1" | translate }}</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>location_on</mat-icon></div>
					</span>
					<mat-select id="region" formControlName="regionsGroup">
						<mat-option
							*ngFor="let region of this.realEstateService.regions"
							[value]="region"
						>
							{{ region | translate }}
						</mat-option>
					</mat-select>
					<mat-error
						*ngIf="startSiteForm.controls['regionsGroup'].errors?.['required']"
					>
						{{ "info-label1" | translate }}
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>{{ "label2" | translate }}</mat-label>
					<input
						id="city"
						type="text"
						placeholder="{{ 'label2' | translate }}"
						aria-label="City"
						matInput
						formControlName="citiesGroup"
						[matAutocomplete]="autoCity"
					/>
					<span matPrefix>
						<div class="box-icon"><mat-icon>location_on</mat-icon></div>
					</span>
					<mat-autocomplete #autoCity="matAutocomplete">
						<mat-optgroup
							*ngFor="let groupCities of citiesGroupOptions$ | async"
							[label]="groupCities.whole"
						>
							<mat-option *ngFor="let city of groupCities.parts" [value]="city">
								{{ city | translate }}
							</mat-option>
						</mat-optgroup>
					</mat-autocomplete>
					<mat-error
						*ngIf="startSiteForm.controls['citiesGroup'].errors?.['required']"
					>
						{{ "info-label2" | translate }}
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>{{ "label3" | translate }}</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>directions_walk</mat-icon></div>
					</span>
					<mat-select id="distance" formControlName="distance">
						<mat-option
							*ngFor="let distance of this.realEstateService.distances"
							[value]="distance.value"
						>
							{{ distance.viewValue }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>{{ "label4" | translate }}</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>home</mat-icon></div>
					</span>
					<mat-select id="property" formControlName="property" multiple>
						<mat-option
							*ngFor="let property of this.realEstateService.properties"
							[value]="property.value"
						>
							{{ property.viewValue | translate }}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="startSiteForm.controls['property'].errors?.['required']">
						{{ "info-label4" | translate }}
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>{{ "label5" | translate }}</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>attach_money</mat-icon></div>
					</span>
					<input
						id="minPrice"
						formControlName="minPrice"
						type="number"
						placeholder="{{ 'label5' | translate }}"
						aria-label="MinimalPrice"
						matInput
						[matAutocomplete]="autoPriceMin"
					/>
					<span class="suffix" class="suffix" matSuffix>zł</span>
					<mat-autocomplete #autoPriceMin="matAutocomplete">
						<mat-option
							*ngFor="let price of this.realEstateService.priceMaxs"
							[value]="price.value"
						>
							{{ price.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error> {{ "info-error" | translate }} </mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>{{ "label6" | translate }}</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>attach_money</mat-icon></div>
					</span>
					<input
						id="maxPrice"
						formControlName="maxPrice"
						type="number"
						placeholder="{{ 'label6' | translate }}"
						aria-label="MaximalPrice"
						matInput
						[matAutocomplete]="autoPriceMin"
					/>
					<span class="suffix" matSuffix>zł</span>
					<mat-autocomplete #autoPriceMin="matAutocomplete">
						<mat-option
							*ngFor="let price of this.realEstateService.priceMaxs"
							[value]="price.value"
						>
							{{ price.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error> {{ "info-error" | translate }} </mat-error>
				</mat-form-field>
				<div class="batch">
					<button
						class="box-icon-function"
						id="showMoreFilters"
						type="button"
						mat-icon-button
						matTooltip="{{ 'filter' | translate }}"
						aria-label="ShowMoreFilters"
						(click)="showFilters()"
					>
						<mat-icon class="ico" [inline]="true">filter_list</mat-icon>
					</button>

					<button
						class="box-icon-function"
						id="showMap"
						type="button"
						mat-icon-button
						matTooltip="{{ 'map' | translate }}"
						aria-label="ShowMap"
						(click)="showMap()"
					>
						<mat-icon class="ico" [inline]="true">map</mat-icon>
					</button>

					<button
						class="box-icon-function"
						id="search"
						type="submit"
						mat-icon-button
						matTooltip="{{ 'search' | translate }}"
						aria-label="SearchForOffers"
						[disabled]="!startSiteForm.valid"
					>
						<mat-icon class="ico" [inline]="true">search</mat-icon>
					</button>
					<button
						class="box-icon-function"
						id="sort"
						type="button"
						mat-icon-button
						matTooltip="{{ 'sort' | translate }}"
						aria-label="SortButton"
						[matMenuTriggerFor]="menu"
					>
						<mat-icon class="ico" [inline]="true">sort</mat-icon>
					</button>
					<mat-menu #menu="matMenu" id="sort">
						<button
							*ngFor="let sortByOption of this.startService.sortByOptions"
							mat-menu-item
							[value]="sortByOption"
							(click)="onSelect(sortByOption)"
						>
							<span>{{ sortByOption.description | translate }}</span>
						</button>
					</mat-menu>
				</div>
			</div>
			<div *ngIf="showMoreFilters" class="box-other-filters">
				<mat-form-field appearance="fill">
					<mat-label>{{ "label7" | translate }}</mat-label>
					<input
						id="district"
						type="text"
						placeholder="{{ 'label7' | translate }}"
						aria-label="District"
						matInput
						formControlName="districtsGroup"
						[matAutocomplete]="autoDistrict"
					/>
					<span matPrefix>
						<div class="box-icon"><mat-icon>location_on</mat-icon></div>
					</span>
					<mat-autocomplete #autoDistrict="matAutocomplete">
						<mat-optgroup
							*ngFor="let groupDistricts of districtGroupOptions$ | async"
							[label]="groupDistricts.whole"
						>
							<mat-option
								*ngFor="let district of groupDistricts.parts"
								[value]="district"
							>
								{{ district | translate }}
							</mat-option>
						</mat-optgroup>
					</mat-autocomplete>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>{{ "label8" | translate }}</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>straighten</mat-icon></div>
					</span>
					<input
						id="minArea"
						formControlName="minArea"
						type="number"
						placeholder="{{ 'label8' | translate }}"
						aria-label="MinimalArea"
						matInput
						[matAutocomplete]="autoAreaFrom"
					/>
					<span matSuffix class="suffix">m²</span>
					<mat-autocomplete #autoAreaFrom="matAutocomplete">
						<mat-option
							*ngFor="let area of this.realEstateService.areaFroms"
							[value]="area.value"
						>
							{{ area.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error> {{ "info-error" | translate }} </mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>{{ "label9" | translate }}</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>straighten</mat-icon></div>
					</span>
					<input
						id="maxArea"
						formControlName="maxArea"
						type="number"
						placeholder="{{ 'label9' | translate }}"
						aria-label="MaximalArea"
						matInput
						[matAutocomplete]="autoAreaTo"
					/>
					<span matSuffix class="suffix">m²</span>
					<mat-autocomplete #autoAreaTo="matAutocomplete">
						<mat-option
							*ngFor="let area of this.realEstateService.areaTos"
							[value]="area.value"
						>
							{{ area.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error> {{ "info-error" | translate }} </mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>{{ "label10" | translate }}</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>history</mat-icon></div>
					</span>
					<mat-select id="year" formControlName="year" multiple>
						<mat-option
							*ngFor="let year of this.realEstateService.yearOfBuilds"
							[value]="year.value"
						>
							{{ year.viewValue }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>{{ "label11" | translate }}</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>meeting_room</mat-icon></div>
					</span>
					<input
						id="rooms"
						formControlName="rooms"
						type="number"
						placeholder="{{ 'label11' | translate }}"
						aria-label="NumberOfRooms"
						matInput
						[matAutocomplete]="autoNumberOfRooms"
					/>
					<mat-autocomplete #autoNumberOfRooms="matAutocomplete">
						<mat-option
							*ngFor="let room of this.realEstateService.numberOfRooms"
							[value]="room.value"
						>
							{{ room.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error> {{ "info-error" | translate }} </mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>{{ "label12" | translate }}</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>location_city</mat-icon></div>
					</span>
					<input
						id="floors"
						formControlName="floors"
						type="number"
						placeholder="{{ 'label12' | translate }}"
						aria-label="NumberOfFloors"
						matInput
						[matAutocomplete]="autoNumberOfFloors"
					/>
					<mat-autocomplete #autoNumberOfFloors="matAutocomplete">
						<mat-option
							*ngFor="let floor of this.realEstateService.numberOfFloors"
							[value]="floor.value"
						>
							{{ floor.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error> {{ "info-error" | translate }} </mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>{{ "label13" | translate }}</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>category</mat-icon></div>
					</span>
					<mat-select id="equipment" formControlName="equipment" multiple>
						<mat-option
							*ngFor="let equipment of this.realEstateService.equipment"
							[value]="equipment.equipmentId"
						>
							{{ equipment.name | translate }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</form>
	<div *ngIf="isLoading$ | async" class="container-spinner">
		<mat-spinner color="primary"></mat-spinner>
	</div>
	<div
		*ngIf="
			(isLoading$ | async) === false && (flatOptions$ | async) as flatOptions
		"
	>
		<div>
			<div class="container-info">
				<div *ngIf="isSubmitted" class="container-title">
					<h1 *ngIf="flatOptions.totalCount !== 0">
						{{ "found" | translate }}
						<span [appGetDescription]="flatOptions.totalCount"></span>
					</h1>
					<h1 *ngIf="flatOptions.totalCount === 0">
						{{ "nofound" | translate }}
					</h1>
				</div>
				<div *ngIf="!isSubmitted" class="container-title">
					<h1>{{ "promo" | translate }}</h1>
				</div>
			</div>
			<ng-template #flats let-flats="flats">
				<mat-card
					*ngFor="let flat of flats"
					[ngClass]="flat.isPromoted === true ? 'promoted-card' : 'card'"
				>
					<div class="offer-title-outer">
						<span class="offer-title-inner"
							><h2 class="text-m">
								{{ "rent" | translate }}
								{{ realEstateService.propertyTypes.get(flat.property.propertyType) }}
								{{ flat.property.area }} m² {{ flat.property.city }}
								<mat-icon
									*ngIf="flat.isPromoted"
									class="promotion-icon"
									matTooltip="Promowana oferta"
									>new_releases</mat-icon
								>
							</h2>
						</span>
					</div>
					<img
						mat-card-image
						class="imgs"
						alt="Mieszkanie"
						src="{{ baseUrl }}/{{ flat.property.images[0].path }}"
						(click)="navigateToFlat(flat.offerId)"
					/>
					<mat-card-content matSort class="card-content">
						<mat-chip-listbox>
							<mat-chip>
								<div class="chip">
									<mat-icon>attach_money</mat-icon>
									<span>{{ "price" | translate }} {{ flat.price }} zł/mc</span>
								</div>
							</mat-chip>
							<mat-chip>
								<div class="chip">
									<mat-icon>add</mat-icon
									><span>{{ "deposit" | translate }} {{ flat.deposit }} zł/mc</span>
								</div>
							</mat-chip>
							<mat-chip>
								<div class="chip">
									<mat-icon>straighten</mat-icon>
									<span>{{ "area" | translate }} {{ flat.property.area }} m²</span>
								</div>
							</mat-chip>
							<mat-chip *ngIf="flat.property.propertyType !== 2">
								<div class="chip">
									<mat-icon>meeting_room</mat-icon>
									<span
										>{{ "nroom" | translate }} {{ flat.property.numberOfRooms }}</span
									>
								</div>
							</mat-chip>
							<mat-chip>
								<button
									class="box-icon-watched"
									id="addToWatched"
									type="button"
									mat-icon-button
									matTooltip="{{ 'addObservable' | translate }}"
									aria-label="AddToWatched"
									(click)="addToWatched(flat.offerId)"
								>
									<mat-icon>favorite_border</mat-icon>
								</button>
							</mat-chip>
						</mat-chip-listbox>
					</mat-card-content>
				</mat-card>
			</ng-template>
			<div *ngIf="isSubmitted" class="container-offers">
				<ng-container
					[ngTemplateOutlet]="flats"
					[ngTemplateOutletContext]="{ flats: flatOptions.result }"
				>
				</ng-container>
			</div>
			<fieldset
				*ngIf="flatOptions.totalCount !== 0 && !isSubmitted"
				class="container-offers"
			>
				<ng-container
					class="container-offers"
					[ngTemplateOutlet]="flats"
					[ngTemplateOutletContext]="{
						flats: (flatOptionsPromoted$ | async)?.result
					}"
				></ng-container>
			</fieldset>
		</div>
		<div class="paginator-box">
			<mat-paginator
				#paginator
				id="paginator2"
				showFirstLastButtons
				aria-label="Paginator"
				[length]="
					isSubmitted
						? flatOptions.totalCount
						: (flatOptionsPromoted$ | async)?.totalCount
				"
				[pageSize]="pageSize"
				[pageIndex]="pageIndex"
				[pageSizeOptions]="[6, 12, 18, 48]"
				(page)="changePage($event)"
			>
			</mat-paginator>
		</div>
	</div>
</div>
