<div class="startsite">
	<form class="container-4" [formGroup]="mainSiteForm" (ngSubmit)="onSubmit()">
		<div class="container-3">
			<h1>Znajdź mieszkanie, pokój lub dom do wynajęcia</h1>
		</div>
		<div class="container">
			<div class="box2">
				<mat-form-field appearance="fill">
					<mat-label>Województwo</mat-label>
					<span matPrefix>
						<div class="boxIcon"><mat-icon>location_on</mat-icon></div>
					</span>
					<mat-select id="region" formControlName="regionsGroup">
						<mat-option *ngFor="let region of regions" [value]="region">
							{{ region }}
						</mat-option>
					</mat-select>
					<mat-error
						class="error-text"
						*ngIf="mainSiteForm.controls['regionsGroup'].errors?.['required']"
					>
						Nie wybrano województwa!
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Miejscowość</mat-label>
					<input
						id="city"
						type="text"
						placeholder="Miejscowość"
						aria-label="City"
						matInput
						formControlName="citiesGroup"
						[matAutocomplete]="autoCity"
					/>
					<span matPrefix>
						<div class="boxIcon"><mat-icon>location_on</mat-icon></div>
					</span>
					<mat-autocomplete #autoCity="matAutocomplete">
						<mat-optgroup
							*ngFor="let group of citiesGroupOptions$ | async"
							[label]="group.whole"
						>
							<mat-option *ngFor="let city of group.parts" [value]="city">
								{{ city }}
							</mat-option>
						</mat-optgroup>
					</mat-autocomplete>
					<mat-error
						class="error-text"
						*ngIf="mainSiteForm.controls['citiesGroup'].errors?.['required']"
					>
						Nie wybrano miasta!
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Odległość</mat-label>
					<span matPrefix>
						<div class="boxIcon"><mat-icon>directions_walk</mat-icon></div>
					</span>
					<mat-select id="distance" formControlName="distance">
						<mat-option *ngFor="let distance of distances" [value]="distance.value">
							{{ distance.viewValue }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Rodzaj nieruchomości</mat-label>
					<span matPrefix>
						<div class="boxIcon"><mat-icon>home</mat-icon></div>
					</span>
					<mat-select id="property" formControlName="property" multiple>
						<mat-option *ngFor="let property of properties" [value]="property">
							{{ property }}
						</mat-option>
					</mat-select>
					<mat-error
						class="error-text"
						*ngIf="mainSiteForm.controls['property'].errors?.['required']"
					>
						Nie wybrano nieruchomości!
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Cena min.</mat-label>
					<span matPrefix>
						<div class="boxIcon"><mat-icon>attach_money</mat-icon></div>
					</span>
					<input
						id="minPrice"
						formControlName="minPrice"
						type="number"
						placeholder="Cena min."
						aria-label="MinimalPrice"
						matInput
						[matAutocomplete]="autoPriceMin"
					/>
					<span class="suffix" class="suffix" matSuffix>zł</span>
					<mat-autocomplete #autoPriceMin="matAutocomplete">
						<mat-option *ngFor="let price of priceMaxs" [value]="price.value">
							{{ price.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error
						class="error-text"
						*ngIf="mainSiteForm.controls['minPrice'].errors?.['isNumeric']"
					>
						Nieprawidłowa wartość!
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Cena maks.</mat-label>
					<span matPrefix>
						<div class="boxIcon"><mat-icon>attach_money</mat-icon></div>
					</span>
					<input
						id="maxPrice"
						formControlName="maxPrice"
						type="number"
						placeholder="Cena maks."
						aria-label="MaximalPrice"
						matInput
						[matAutocomplete]="autoPriceMin"
					/>
					<span class="suffix" matSuffix>zł</span>
					<mat-autocomplete #autoPriceMin="matAutocomplete">
						<mat-option *ngFor="let price of priceMaxs" [value]="price.value">
							{{ price.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error
						class="error-text"
						*ngIf="mainSiteForm.controls['maxPrice'].errors?.['isNumeric']"
					>
						Nieprawidłowa wartość!
					</mat-error>
				</mat-form-field>
				<div class="batch">
					<button
						class="boxIcon2"
						type="button"
						(click)="showFilters()"
						mat-icon-button
						matTooltip="Pokaż więcej filtrów"
						id="showMoreFilters"
						aria-label="ShowMoreFilters"
					>
						<mat-icon>filter_list</mat-icon>
					</button>

					<button
						class="boxIcon2"
						type="button"
						(click)="showMap()"
						mat-icon-button
						matTooltip="Pokaż mapę"
						id="showMap"
						aria-label="ShowMap"
					>
						<mat-icon>map</mat-icon>
					</button>

					<button
						class="boxIcon2"
						type="submit"
						mat-icon-button
						matTooltip="Szukaj ofert"
						id="search"
						aria-label="SearchForOffers"
						[disabled]="!mainSiteForm.valid"
					>
						<mat-icon>search</mat-icon>
					</button>
					<div class="boxIcon" [appGetDescription]="numberOfRecords"></div>
				</div>
			</div>
			<div *ngIf="showMoreFilters" class="box3">
				<mat-form-field appearance="fill">
					<mat-label>Dzielnica</mat-label>
					<input
						id="district"
						type="text"
						placeholder="Dzielnica"
						aria-label="District"
						matInput
						formControlName="districtsGroup"
						[matAutocomplete]="autoDistrict"
					/>
					<span matPrefix>
						<div class="boxIcon"><mat-icon>location_on</mat-icon></div>
					</span>
					<mat-autocomplete #autoDistrict="matAutocomplete">
						<mat-optgroup
							*ngFor="let group2 of districtGroupOptions$ | async"
							[label]="group2.whole"
						>
							<mat-option *ngFor="let district of group2.parts" [value]="district">
								{{ district }}
							</mat-option>
						</mat-optgroup>
					</mat-autocomplete>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Powierzchnia od</mat-label>
					<span matPrefix>
						<div class="boxIcon"><mat-icon>straighten</mat-icon></div>
					</span>
					<input
						id="minArea"
						formControlName="minArea"
						type="number"
						placeholder="Powierzchnia od"
						aria-label="MinimalArea"
						matInput
						[matAutocomplete]="autoAreaFrom"
					/>
					<span matSuffix class="suffix">m²</span>
					<mat-autocomplete #autoAreaFrom="matAutocomplete">
						<mat-option *ngFor="let area of areaFroms" [value]="area.value">
							{{ area.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error
						class="error-text"
						*ngIf="mainSiteForm.controls['minArea'].errors?.['isNumeric']"
					>
						Nieprawidłowa wartość!
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Powierzchnia do</mat-label>
					<span matPrefix>
						<div class="boxIcon"><mat-icon>straighten</mat-icon></div>
					</span>
					<input
						id="maxArea"
						formControlName="maxArea"
						type="number"
						placeholder="Powierzchnia do"
						aria-label="MaximalArea"
						matInput
						[matAutocomplete]="autoAreaTo"
					/>
					<span matSuffix class="suffix">m²</span>
					<mat-autocomplete #autoAreaTo="matAutocomplete">
						<mat-option *ngFor="let area of areaTos" [value]="area.value">
							{{ area.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error
						class="error-text"
						*ngIf="mainSiteForm.controls['maxArea'].errors?.['isNumeric']"
					>
						Nieprawidłowa wartość!
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Lata budowy</mat-label>
					<span matPrefix>
						<div class="boxIcon"><mat-icon>history</mat-icon></div>
					</span>
					<mat-select id="year" formControlName="year" multiple>
						<mat-option *ngFor="let year of yearOfBuilds" [value]="year">
							{{ year }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Min. liczba pokoi</mat-label>
					<span matPrefix>
						<div class="boxIcon"><mat-icon>meeting_room</mat-icon></div>
					</span>
					<input
						id="rooms"
						formControlName="rooms"
						type="number"
						placeholder="Min. liczba pokoi"
						aria-label="NumberOfRooms"
						matInput
						[matAutocomplete]="autoNumberOfRooms"
					/>
					<mat-autocomplete #autoNumberOfRooms="matAutocomplete">
						<mat-option *ngFor="let room of numberOfRooms" [value]="room.value">
							{{ room.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error
						class="error-text"
						*ngIf="mainSiteForm.controls['rooms'].errors?.['isNumeric']"
					>
						Nieprawidłowa wartość!
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Maks. liczba pięter</mat-label>
					<span matPrefix>
						<div class="boxIcon"><mat-icon>location_city</mat-icon></div>
					</span>
					<input
						id="floors"
						formControlName="floors"
						type="number"
						placeholder="Maks. liczba pięter"
						aria-label="NumberOfFloors"
						matInput
						[matAutocomplete]="autoNumberOfFloors"
					/>
					<mat-autocomplete #autoNumberOfFloors="matAutocomplete">
						<mat-option *ngFor="let floor of numberOfFloors" [value]="floor.value">
							{{ floor.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error
						class="error-text"
						*ngIf="mainSiteForm.controls['floors'].errors?.['isNumeric']"
					>
						Nieprawidłowa wartość!
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Wyposażenie</mat-label>
					<span matPrefix>
						<div class="boxIcon"><mat-icon>category</mat-icon></div>
					</span>
					<mat-select id="equipment" formControlName="equipment" multiple>
						<mat-option *ngFor="let equipment of equipment" [value]="equipment">
							{{ equipment }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</form>

	<div class="container-2">
		<mat-card class="card" (click)="navigateToFlat()">
			<mat-card-subtitle>Warszawa, Wola</mat-card-subtitle>
			<img
				mat-card-image
				class="imgs"
				src="./assets/mieszkanie.jpg"
				alt="Mieszkanie"
			/>
			<mat-card-content>
				<mat-chip-listbox>
					<mat-chip>
						<div class="chip">
							<mat-icon>attach_money</mat-icon> <span>Cena: 2500 zł/mc</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>add</mat-icon><span>Czynsz: 500 zł/mc</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>straighten</mat-icon> <span>Powierzchnia: 35 m²</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>meeting_room</mat-icon> <span>Liczba pokoi: 2</span>
						</div>
					</mat-chip>
				</mat-chip-listbox>
			</mat-card-content>
		</mat-card>
		<mat-card class="card" (click)="navigateToFlat()">
			<mat-card-subtitle>Warszawa, Wola</mat-card-subtitle>
			<img
				mat-card-image
				class="imgs"
				src="./assets/mieszkanie.jpg"
				alt="Mieszkanie"
			/>
			<mat-card-content>
				<mat-chip-listbox>
					<mat-chip>
						<div class="chip">
							<mat-icon>attach_money</mat-icon> <span>Cena: 2500 zł/mc</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>add</mat-icon><span>Czynsz: 500 zł/mc</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>straighten</mat-icon> <span>Powierzchnia: 35 m²</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>meeting_room</mat-icon> <span>Liczba pokoi: 2</span>
						</div>
					</mat-chip>
				</mat-chip-listbox>
			</mat-card-content>
		</mat-card>
		<mat-card class="card" (click)="navigateToFlat()">
			<mat-card-subtitle>Warszawa, Wola</mat-card-subtitle>
			<img
				mat-card-image
				class="imgs"
				src="./assets/mieszkanie.jpg"
				alt="Mieszkanie"
			/>
			<mat-card-content>
				<mat-chip-listbox>
					<mat-chip>
						<div class="chip">
							<mat-icon>attach_money</mat-icon> <span>Cena: 2500 zł/mc</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>add</mat-icon><span>Czynsz: 500 zł/mc</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>straighten</mat-icon> <span>Powierzchnia: 35 m²</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>meeting_room</mat-icon> <span>Liczba pokoi: 2</span>
						</div>
					</mat-chip>
				</mat-chip-listbox>
			</mat-card-content>
		</mat-card>
		<mat-card class="card" (click)="navigateToFlat()">
			<mat-card-subtitle>Warszawa, Wola</mat-card-subtitle>
			<img
				mat-card-image
				class="imgs"
				src="./assets/mieszkanie.jpg"
				alt="Mieszkanie"
			/>
			<mat-card-content>
				<mat-chip-listbox>
					<mat-chip>
						<div class="chip">
							<mat-icon>attach_money</mat-icon> <span>Cena: 2500 zł/mc</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>add</mat-icon><span>Czynsz: 500 zł/mc</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>straighten</mat-icon> <span>Powierzchnia: 35 m²</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>meeting_room</mat-icon> <span>Liczba pokoi: 2</span>
						</div>
					</mat-chip>
				</mat-chip-listbox>
			</mat-card-content>
		</mat-card>
		<mat-card class="card" (click)="navigateToFlat()">
			<mat-card-subtitle>Warszawa, Wola</mat-card-subtitle>
			<img
				mat-card-image
				class="imgs"
				src="./assets/mieszkanie.jpg"
				alt="Mieszkanie"
			/>
			<mat-card-content>
				<mat-chip-listbox>
					<mat-chip>
						<div class="chip">
							<mat-icon>attach_money</mat-icon> <span>Cena: 2500 zł/mc</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>add</mat-icon><span>Czynsz: 500 zł/mc</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>straighten</mat-icon> <span>Powierzchnia: 35 m²</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>meeting_room</mat-icon> <span>Liczba pokoi: 2</span>
						</div>
					</mat-chip>
				</mat-chip-listbox>
			</mat-card-content>
		</mat-card>
		<mat-card class="card" (click)="navigateToFlat()">
			<mat-card-subtitle>Warszawa, Wola</mat-card-subtitle>
			<img
				mat-card-image
				class="imgs"
				src="./assets/mieszkanie.jpg"
				alt="Mieszkanie"
			/>
			<mat-card-content>
				<mat-chip-listbox>
					<mat-chip>
						<div class="chip">
							<mat-icon>attach_money</mat-icon> <span>Cena: 2500 zł/mc</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>add</mat-icon><span>Czynsz: 500 zł/mc</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>straighten</mat-icon> <span>Powierzchnia: 35 m²</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>meeting_room</mat-icon> <span>Liczba pokoi: 2</span>
						</div>
					</mat-chip>
				</mat-chip-listbox>
			</mat-card-content>
		</mat-card>
	</div>
</div>
