<div class="startsite">
	<form class="container-4" [formGroup]="mainSiteForm" (ngSubmit)="onSubmit()">
		<div class="container-3">
			<h1>Znajdź mieszkanie, pokój lub dom do wynajęcia</h1>
		</div>
		<div class="container">
			<div class="box-2">
				<mat-form-field appearance="fill">
					<mat-label>Województwo</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>location_on</mat-icon></div>
					</span>
					<mat-select id="region" formControlName="regionsGroup">
						<mat-option *ngFor="let region of regions" [value]="region">
							{{ region }}
						</mat-option>
					</mat-select>
					<mat-error
						*ngIf="mainSiteForm.controls['regionsGroup'].errors?.['required']"
						class="error-text"
					>
						Nie wybrano województwa!
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Miejscowość</mat-label>
					<input
						id="city"
						type="text"
						placeholder="Miejscowość"
						aria-label="City"
						matInput
						formControlName="citiesGroup"
						[matAutocomplete]="autoCity"
					/>
					<span matPrefix>
						<div class="box-icon"><mat-icon>location_on</mat-icon></div>
					</span>
					<mat-autocomplete #autoCity="matAutocomplete">
						<mat-optgroup
							*ngFor="let group of citiesGroupOptions$ | async"
							[label]="group.whole"
						>
							<mat-option *ngFor="let city of group.parts" [value]="city">
								{{ city }}
							</mat-option>
						</mat-optgroup>
					</mat-autocomplete>
					<mat-error
						*ngIf="mainSiteForm.controls['citiesGroup'].errors?.['required']"
						class="error-text"
					>
						Nie wybrano miasta!
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Odległość</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>directions_walk</mat-icon></div>
					</span>
					<mat-select id="distance" formControlName="distance">
						<mat-option *ngFor="let distance of distances" [value]="distance.value">
							{{ distance.viewValue }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Rodzaj nieruchomości</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>home</mat-icon></div>
					</span>
					<mat-select id="property" formControlName="property" multiple>
						<mat-option *ngFor="let property of properties" [value]="property">
							{{ property }}
						</mat-option>
					</mat-select>
					<mat-error
						*ngIf="mainSiteForm.controls['property'].errors?.['required']"
						class="error-text"
					>
						Nie wybrano nieruchomości!
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Cena min.</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>attach_money</mat-icon></div>
					</span>
					<input
						id="minPrice"
						formControlName="minPrice"
						type="number"
						placeholder="Cena min."
						aria-label="MinimalPrice"
						matInput
						[matAutocomplete]="autoPriceMin"
					/>
					<span class="suffix" class="suffix" matSuffix>zł</span>
					<mat-autocomplete #autoPriceMin="matAutocomplete">
						<mat-option *ngFor="let price of priceMaxs" [value]="price.value">
							{{ price.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error class="error-text"> Nieprawidłowa wartość! </mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Cena maks.</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>attach_money</mat-icon></div>
					</span>
					<input
						id="maxPrice"
						formControlName="maxPrice"
						type="number"
						placeholder="Cena maks."
						aria-label="MaximalPrice"
						matInput
						[matAutocomplete]="autoPriceMin"
					/>
					<span class="suffix" matSuffix>zł</span>
					<mat-autocomplete #autoPriceMin="matAutocomplete">
						<mat-option *ngFor="let price of priceMaxs" [value]="price.value">
							{{ price.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error class="error-text"> Nieprawidłowa wartość! </mat-error>
				</mat-form-field>
				<div class="batch">
					<button
						class="box-icon-2"
						id="showMoreFilters"
						type="button"
						mat-icon-button
						matTooltip="Pokaż więcej filtrów"
						aria-label="ShowMoreFilters"
						(click)="showFilters()"
					>
						<mat-icon>filter_list</mat-icon>
					</button>

					<button
						class="box-icon-2"
						id="showMap"
						type="button"
						mat-icon-button
						matTooltip="Pokaż mapę"
						aria-label="ShowMap"
						(click)="showMap()"
					>
						<mat-icon>map</mat-icon>
					</button>

					<button
						class="box-icon-2"
						id="search"
						type="submit"
						mat-icon-button
						matTooltip="Szukaj ofert"
						aria-label="SearchForOffers"
					>
						<!-- [disabled]="!mainSiteForm.valid" -->
						<mat-icon>search</mat-icon>
					</button>
				</div>
			</div>
			<div *ngIf="showMoreFilters" class="box-3">
				<mat-form-field appearance="fill">
					<mat-label>Dzielnica</mat-label>
					<input
						id="district"
						type="text"
						placeholder="Dzielnica"
						aria-label="District"
						matInput
						formControlName="districtsGroup"
						[matAutocomplete]="autoDistrict"
					/>
					<span matPrefix>
						<div class="box-icon"><mat-icon>location_on</mat-icon></div>
					</span>
					<mat-autocomplete #autoDistrict="matAutocomplete">
						<mat-optgroup
							*ngFor="let group2 of districtGroupOptions$ | async"
							[label]="group2.whole"
						>
							<mat-option *ngFor="let district of group2.parts" [value]="district">
								{{ district }}
							</mat-option>
						</mat-optgroup>
					</mat-autocomplete>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Powierzchnia od</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>straighten</mat-icon></div>
					</span>
					<input
						id="minArea"
						formControlName="minArea"
						type="number"
						placeholder="Powierzchnia od"
						aria-label="MinimalArea"
						matInput
						[matAutocomplete]="autoAreaFrom"
					/>
					<span matSuffix class="suffix">m²</span>
					<mat-autocomplete #autoAreaFrom="matAutocomplete">
						<mat-option *ngFor="let area of areaFroms" [value]="area.value">
							{{ area.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error class="error-text"> Nieprawidłowa wartość! </mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Powierzchnia do</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>straighten</mat-icon></div>
					</span>
					<input
						id="maxArea"
						formControlName="maxArea"
						type="number"
						placeholder="Powierzchnia do"
						aria-label="MaximalArea"
						matInput
						[matAutocomplete]="autoAreaTo"
					/>
					<span matSuffix class="suffix">m²</span>
					<mat-autocomplete #autoAreaTo="matAutocomplete">
						<mat-option *ngFor="let area of areaTos" [value]="area.value">
							{{ area.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error class="error-text"> Nieprawidłowa wartość! </mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Lata budowy</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>history</mat-icon></div>
					</span>
					<mat-select id="year" formControlName="year" multiple>
						<mat-option *ngFor="let year of yearOfBuilds" [value]="year">
							{{ year }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Min. liczba pokoi</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>meeting_room</mat-icon></div>
					</span>
					<input
						id="rooms"
						formControlName="rooms"
						type="number"
						placeholder="Min. liczba pokoi"
						aria-label="NumberOfRooms"
						matInput
						[matAutocomplete]="autoNumberOfRooms"
					/>
					<mat-autocomplete #autoNumberOfRooms="matAutocomplete">
						<mat-option *ngFor="let room of numberOfRooms" [value]="room.value">
							{{ room.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error class="error-text"> Nieprawidłowa wartość! </mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Maks. liczba pięter</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>location_city</mat-icon></div>
					</span>
					<input
						id="floors"
						formControlName="floors"
						type="number"
						placeholder="Maks. liczba pięter"
						aria-label="NumberOfFloors"
						matInput
						[matAutocomplete]="autoNumberOfFloors"
					/>
					<mat-autocomplete #autoNumberOfFloors="matAutocomplete">
						<mat-option *ngFor="let floor of numberOfFloors" [value]="floor.value">
							{{ floor.viewValue }}
						</mat-option>
					</mat-autocomplete>
					<mat-error class="error-text"> Nieprawidłowa wartość! </mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill">
					<mat-label>Wyposażenie</mat-label>
					<span matPrefix>
						<div class="box-icon"><mat-icon>category</mat-icon></div>
					</span>
					<mat-select id="equipment" formControlName="equipment" multiple>
						<mat-option *ngFor="let equipment of equipment" [value]="equipment">
							{{ equipment }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</form>
	<div *ngIf="!isSubmitted" class="container-5">
		<div class="container-3">
			<h1>Promowane <span class="colour-text">oferty</span></h1>
		</div>
		<div class="container-2">
			<mat-card
				*ngFor="let offer of promotedFlatOffers"
				class="card"
				(click)="navigateToFlat(offer.url)"
			>
				<mat-card-subtitle
					>{{ offer.regionCity.city }}, {{ offer.district }}</mat-card-subtitle
				>
				<img mat-card-image class="imgs" [src]="offer.imgSource" alt="Mieszkanie" />
				<mat-card-content>
					<mat-chip-listbox>
						<mat-chip>
							<div class="chip">
								<mat-icon>attach_money</mat-icon>
								<span>Cena: {{ offer.price }} zł/mc</span>
							</div>
						</mat-chip>
						<mat-chip>
							<div class="chip">
								<mat-icon>add</mat-icon><span>Czynsz: {{ offer.rent }} zł/mc</span>
							</div>
						</mat-chip>
						<mat-chip>
							<div class="chip">
								<mat-icon>straighten</mat-icon>
								<span>Powierzchnia: {{ offer.area }} m²</span>
							</div>
						</mat-chip>
						<mat-chip>
							<div class="chip">
								<mat-icon>meeting_room</mat-icon>
								<span>Liczba pokoi: {{ offer.rooms }}</span>
							</div>
						</mat-chip>
					</mat-chip-listbox>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
	<div *ngIf="isSubmitted">
		<div class="container-3">
			<h1>
				Znaleziono
				<span class="colour-text" [appGetDescription]="numberOfRecords"></span>
				<br />{{ chosenRegionString }}, {{ chosenCityString
				}}{{ chosenDistrictString }}
			</h1>
		</div>
		<table mat-table [dataSource]="dataSource">
			<ng-container matColumnDef="photo">
				<th mat-header-cell *matHeaderCellDef>Zdjęcie podglądowe</th>
				<td
					mat-cell
					*matCellDef="let element"
					matTooltip="Pokaż szczegóły"
					(click)="showDescription(element.url)"
				>
					<img class="image" [src]="element.imgSource" />
				</td>
			</ng-container>

			<ng-container matColumnDef="type">
				<th mat-header-cell *matHeaderCellDef>Rodzaj nieruchomości</th>
				<td mat-cell *matCellDef="let element">{{ element.type }}</td>
			</ng-container>

			<ng-container matColumnDef="price">
				<th mat-header-cell *matHeaderCellDef>Cena</th>
				<td mat-cell *matCellDef="let element">{{ element.price }} zł/mc</td>
			</ng-container>

			<ng-container matColumnDef="rent">
				<th mat-header-cell *matHeaderCellDef>Czynsz</th>
				<td mat-cell *matCellDef="let element">{{ element.rent }} zł/mc</td>
			</ng-container>

			<ng-container matColumnDef="area">
				<th mat-header-cell *matHeaderCellDef>Powierzchnia</th>
				<td mat-cell *matCellDef="let element">{{ element.area }} m²</td>
			</ng-container>

			<ng-container matColumnDef="rooms">
				<th mat-header-cell *matHeaderCellDef>Liczba pokoi</th>
				<td mat-cell *matCellDef="let element">{{ element.rooms }}</td>
			</ng-container>

			<ng-container matColumnDef="favorite">
				<th mat-header-cell *matHeaderCellDef></th>
				<td mat-cell *matCellDef="let element">
					<button
						class="box-icon-3"
						id="addToFavorite"
						type="button"
						mat-icon-button
						matTooltip="Dodaj do ulubionych"
						aria-label="AddToFavorite"
						(click)="addToFavorite()"
					>
						<mat-icon>favorite_border</mat-icon>
					</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr
				mat-row
				*matRowDef="let row; columns: displayedColumns"
				class="colour-row"
			></tr>
		</table>
	</div>
	<div [hidden]="!isSubmitted">
		<mat-paginator
			id="paginator2"
			showFirstLastButtons
			[pageSizeOptions]="[5, 10, 20, 100]"
			aria-label="Paginator"
		>
		</mat-paginator>
	</div>
</div>
