.startsite {
	background-color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
	padding-top: 0;
	justify-content: center;
	margin: 0 16px;
}

.imgs {
	object-fit: cover;
	max-height: 400px;
}

.paginator-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	height: auto;
	min-width: 200px;
	max-width: 500px;
	cursor: pointer;
}

.card-content {
	margin-top: auto;
}

.card-full-width {
	width: 100%;
}

.card:hover {
	box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.255);
}

.container {
	background-color: #fbbc8b9c;
	display: flex;
	flex-direction: column;
	padding-bottom: 0px;
	padding-top: 20px;
	border: 1px solid rgba(0, 0, 0, 0.221);
	border-radius: 4px;
	min-width: fit-content;
}

.container-offers {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	padding: 0 40px 40px 40px;
	justify-content: center;
}

.container-title {
	align-self: center;
	text-align: center;
	font-size: xx-large;
	padding-top: 20px;
	padding-bottom: 20px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);
}

.container-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: fit-content;
	padding-bottom: 20px;
}

.container-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: fit-content;
	padding-bottom: 20px;
}

.container-spinner {
	align-self: center;
}

.box-filters {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	justify-content: center;
	padding-top: 4px;
}

.box-other-filters {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	justify-content: center;
}

mat-card-header {
	font-weight: bold;
	justify-content: center;
	font-size: large;
}

mat-card-subtitle {
	padding-top: 4px;
	font-size: large;
}

mat-card-content {
	text-align: justify;
	font-size: medium;
	justify-content: center;
}

.batch {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 24px;
}

.batch-full-width {
	width: 100%;
}

.box-icon {
	padding: 0 4px;
}

.box-icon-function {
	transform: scale(1.2);
}

.box-icon-watched {
	font-size: x-large;
	display: flex;
	align-content: center;
	justify-content: center;
	cursor: pointer;
}

.example-full-width {
	width: 100%;
}

mat-chip {
	background-color: #fbbb8b;

	.chip {
		display: flex;
		align-content: center;
		justify-content: center;
	}
}

mat-form-field {
	padding: 4px;
}

.error-text {
	color: #ff0000;
	font-size: x-small;
}

.suffix {
	padding: 0 4px;
}

.description {
	display: flex;
	justify-content: center;
}

.promoted-offers {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 40px;
	grid-column-gap: 40px;
	padding: 4px 4px 4px 4px;
	justify-content: center;
	border: 4px #fbbb8b;
	border-style: solid;
	margin: 40px 40px;
}

.image {
	width: auto;
	height: 100%;
	max-height: 40px;
	cursor: pointer;
}

.image:hover {
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.255);
}

p {
	white-space: pre-line;
}

/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[matinput][type="number"] {
	-moz-appearance: textfield;
}

@media screen and (max-width: 992px) {
	.container-offers {
		grid-template-columns: repeat(2, 1fr);
	}
	.promoted-offers {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 40px;
		grid-column-gap: 40px;
		padding: 4px 4px 4px 4px;
		justify-content: center;
		border: 4px #fbbb8b;
		border-style: solid;
		margin: 40px 40px;
	}
	mat-paginator {
		transform: scale(0.8);
	}
}

@media screen and (max-width: 600px) {
	.container-offers {
		grid-template-columns: repeat(1, 1fr);
	}
	.promoted-offers {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 40px;
		grid-column-gap: 40px;
		padding: 4px 4px 4px 4px;
		justify-content: center;
		border: 4px #fbbb8b;
		border-style: solid;
		margin: 40px 40px;
	}
	mat-paginator {
		transform: scale(0.4);
	}
}
