.startsite {
	background-color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
	color: #333333;
	padding-top: 0px;
	justify-content: center;
}

.imgs {
	object-fit: cover;
}

.card {
	height: auto;
	min-width: 200px;
	max-width: 500px;
}

.card-full-width {
	width: 100%;
}

.card:hover {
	box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.255);
}

.container {
	background-color: #fbbc8b9c;
	display: flex;
	flex-direction: column;
	padding-bottom: 0px;
	padding-top: 20px;
	border: 1px solid rgba(0, 0, 0, 0.221);
	border-radius: 4px;
	min-width: fit-content;
}

.container-2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 40px;
	grid-column-gap: 40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	justify-content: center;
}

.container-3 {
	text-align: center;
	font-size: xx-large;
	padding-top: 20px;
	padding-bottom: 20px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);
}

.container-4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: fit-content;
	padding-bottom: 20px;
}

.box2 {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	justify-content: center;
	padding-top: 4px;
}

.box3 {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	justify-content: center;
}

mat-card-header {
	font-weight: bold;
	justify-content: center;
	font-size: large;
}

mat-card-subtitle {
	padding-top: 4px;
	font-size: large;
}

mat-card-content {
	text-align: justify;
	font-size: medium;
	justify-content: center;
}

.batch {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 24px;
}

.batch-full-width {
	width: 100%;
}

.batchText {
	text-align: center;
}

.boxIcon {
	padding-left: 4px;
	padding-right: 4px;
}

.boxIcon2 {
	transform: scale(1.2);
	padding-left: 4px;
	padding-right: 4px;
}

.boxIcon3 {
	transform: scale(1.2);
}

.example-full-width {
	width: 100%;
}

mat-chip {
	background-color: #fbbb8b;

	.chip {
		display: flex;
		align-content: center;
		justify-content: center;
	}
}

mat-form-field {
	padding: 4px;
}

.error-text {
	color: #ff0000;
	font-size: x-small;
}

.suffix {
	padding-left: 4px;
	padding-right: 4px;
}

.description {
	display: flex;
	justify-content: center;
}

.colour_text {
	color: #fbbb8b;
}

table {
	width: 100%;
}

tr.coloured_row:hover {
	background-color: #fbbc8b16;
}

.image {
	width: auto;
	height: 100%;
	max-height: 40vh;
}

// .image:hover {
// 	box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.255);
// }

/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[matinput][type="number"] {
	-moz-appearance: textfield;
}

@media screen and (max-width: 992px) {
	.container-2 {
		grid-template-columns: repeat(2, 1fr);
	}
	table {
		font-size: 1.6vw;
	}
	.boxIcon3 {
		transform: scale(0.8);
	}
	mat-paginator {
		transform: scale(0.8);
	}
}

@media screen and (max-width: 600px) {
	.container-2 {
		grid-template-columns: repeat(1, 1fr);
	}
	table {
		font-size: 1.2vw;
	}
	.boxIcon3 {
		transform: scale(0.4);
	}
	mat-paginator {
		transform: scale(0.4);
	}
}

@media screen and (max-width: 400px) {
	table {
		font-size: 0.6vw;
	}
}
