.notifications {
	padding: 20px;
}
h2 {
	font-size: 24px;
	margin-bottom: 10px;
}
.notification-option {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.notification-option p {
	margin-right: 20px;
}
