.title {
	font-family: Verdana;
	font-size: 40px;
	text-align: center !important;
	width: 100%;
	margin-bottom: 50px;
}

label {
	font-size: 25px;
}

mat-form-field {
	display: block;
	margin-bottom: 30px;
}

form {
	display: flex;
	justify-content: space-between;
}
