<mat-card class="notifications">
	<h2>{{ "Notifications.notification-settings" | translate }}</h2>
	<div class="notification-option">
		<mat-slide-toggle [(ngModel)]="emailMessages"></mat-slide-toggle>
		<p>{{ "Notifications.notification-info1" | translate }}</p>
	</div>
	<div class="notification-option">
		<mat-slide-toggle [(ngModel)]="pushMessages"></mat-slide-toggle>
		<p>{{ "Notifications.notification-info2" | translate }}</p>
	</div>
	<div class="notification-option">
		<mat-slide-toggle [(ngModel)]="emailBookings"></mat-slide-toggle>
		<p>
			{{ "Notifications.notification-info3" | translate }}
		</p>
	</div>
	<div class="notification-option">
		<mat-slide-toggle [(ngModel)]="pushBookings"></mat-slide-toggle>
		<p>
			{{ "Notifications.notification-info4" | translate }}
		</p>
	</div>
</mat-card>
