<mat-card class="notifications">
	<h2>Ustawienia powiadomień</h2>
	<div class="notification-option">
		<mat-slide-toggle [(ngModel)]="emailMessages"></mat-slide-toggle>
		<p>Otrzymuj powiadomienia e-mail, gdy użytkownik wyśle Ci wiadomość</p>
	</div>
	<div class="notification-option">
		<mat-slide-toggle [(ngModel)]="pushMessages"></mat-slide-toggle>
		<p>Otrzymuj powiadomienia push, gdy użytkownik wyśle Ci wiadomość</p>
	</div>
	<div class="notification-option">
		<mat-slide-toggle [(ngModel)]="emailBookings"></mat-slide-toggle>
		<p>
			Otrzymuj powiadomienia e-mail, gdy użytkownik dokona rezerwacji w Twoim
			obiekcie
		</p>
	</div>
	<div class="notification-option">
		<mat-slide-toggle [(ngModel)]="pushBookings"></mat-slide-toggle>
		<p>
			Otrzymuj powiadomienia push, gdy użytkownik dokona rezerwacji w Twoim
			obiekcie
		</p>
	</div>
</mat-card>
