<div *ngIf="(modificationType$ | async) === mType.CREATE">
	<div class="container-title">
		<h1
			*ngIf="(user$ | async) === uType.STUDENT"
			class="text-4xl p-4 font-semibold"
		>
			Tworzenie profilu studenta
		</h1>
		<h1
			*ngIf="(user$ | async) === uType.OWNER"
			class="text-4xl p-4 font-semibold"
		>
			Tworzenie profilu właściciela
		</h1>
	</div>
	<div class="create-profile">
		<mat-stepper #stepper linear>
			<div class="box">
				<mat-step [stepControl]="registerForm">
					<ng-template matStepLabel
						><span class="step-label">Rejestracja użytkownika</span></ng-template
					>
					<form [formGroup]="registerForm">
						<app-register [hideButtons]="true"></app-register>
						<div class="button-box">
							<button
								mat-raised-button
								color="primary"
								matStepperNext
								[disabled]="!registerForm.valid"
							>
								Następny <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
							</button>
						</div>
					</form>
				</mat-step>
				<div class="box">
					<mat-step [stepControl]="createAccountForm">
						<ng-template matStepLabel
							><span class="step-label">Tworzenie konta</span></ng-template
						>
						<form [formGroup]="createAccountForm">
							<app-profile-edit
								[name]="registerForm.get('name')?.value"
								[surname]="registerForm.get('surname')?.value"
								[email]="registerForm.get('email')?.value"
								[modificationType]="mType.CREATE"
								(newPhotoEvent)="setPhotoUrl($event)"
								(newScanEvent)="setScanUrl($event)"
							></app-profile-edit>
							<div class="button-box">
								<button mat-raised-button color="primary" matStepperPrevious>
									Poprzedni <mat-icon>arrow_back_ios</mat-icon>
								</button>
								<button
									mat-raised-button
									color="primary"
									matStepperNext
									[disabled]="!createAccountForm.valid || !photoUrl || !scanUrl"
								>
									Następny <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
								</button>
							</div>
						</form>
					</mat-step>
				</div>
				<div class="box">
					<mat-step [stepControl]="surveyForm">
						<ng-template matStepLabel
							><span class="step-label">Tworzenie ankiety</span></ng-template
						>
						<form [formGroup]="surveyForm">
							<app-student-survey [hideButtons]="true"></app-student-survey>
							<div class="button-box">
								<button mat-raised-button color="primary" matStepperPrevious>
									Poprzedni <mat-icon>arrow_back_ios</mat-icon>
								</button>
								<button
									mat-raised-button
									color="primary"
									type="submit"
									[disabled]="!surveyForm.valid"
									(click)="onSubmit()"
								>
									Zatwierdź <mat-icon iconPositionEnd>done_outline</mat-icon>
								</button>
							</div>
						</form>
					</mat-step>
				</div>
			</div>
		</mat-stepper>
	</div>
</div>
<div *ngIf="(modificationType$ | async) === mType.EDIT">
	<app-profile-edit>[modificationType]="mType.EDIT"</app-profile-edit>
</div>
