<div
	*ngIf="modificationType === mType.CREATE && user === ''"
	class="container-title"
>
	<h1 *ngIf="user === ''" class="text-4xl p-4 font-semibold">
		Tworzenie profilu
	</h1>
	<div>
		<div class="buttons">
			<button
				mat-raised-button
				class="btn"
				color="primary"
				type="button"
				[routerLink]="['/profile', 'create', 'student']"
			>
				Zarejestruj się jako Student
			</button>
			<button
				mat-raised-button
				class="btn"
				color="primary"
				type="button"
				[routerLink]="['/profile', 'create', 'owner']"
			>
				Zarejestruj się jako Właściciel
			</button>
		</div>
	</div>
</div>
<div *ngIf="modificationType === mType.CREATE && user !== ''">
	<div class="container-title">
		<h1 *ngIf="user === uType.STUDENT" class="text-4xl p-4 font-semibold">
			Tworzenie profilu studenta
		</h1>
		<h1 *ngIf="user === uType.OWNER" class="text-4xl p-4 font-semibold">
			Tworzenie profilu właściciela
		</h1>
	</div>
	<div class="create-profile">
		<mat-stepper #stepper linear>
			<div class="box">
				<mat-step [stepControl]="registerForm">
					<ng-template matStepLabel
						><span class="step-label">Rejestracja użytkownika</span></ng-template
					>
					<form [formGroup]="registerForm">
						<app-register [createProfileMode]="true"></app-register>
						<div class="button-box">
							<button
								mat-raised-button
								color="primary"
								matStepperNext
								[disabled]="!registerForm.valid"
							>
								Następny <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
							</button>
						</div>
					</form>
				</mat-step>
				<div class="box">
					<mat-step [stepControl]="createAccountForm">
						<ng-template matStepLabel
							><span class="step-label">Tworzenie konta</span></ng-template
						>
						<form [formGroup]="createAccountForm">
							<app-profile-edit
								[name]="registerForm.get('name')?.value ?? ''"
								[surname]="registerForm.get('surname')?.value ?? ''"
								[email]="registerForm.get('email')?.value ?? ''"
								[user]="user"
								[modificationType]="mType.CREATE"
								(newPhotoEvent)="setPhoto($event)"
								(newScanEvent)="setScan($event)"
							></app-profile-edit>
							<div class="button-box">
								<button mat-raised-button color="primary" matStepperPrevious>
									Poprzedni <mat-icon>arrow_back_ios</mat-icon>
								</button>
								<button
									*ngIf="user === uType.STUDENT"
									mat-raised-button
									color="primary"
									matStepperNext
									[disabled]="!createAccountForm.valid || !photoName || !scanName"
								>
									Następny <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
								</button>
								<button
									*ngIf="user === uType.OWNER"
									mat-raised-button
									color="primary"
									type="submit"
									[disabled]="!createAccountForm.valid || !photoName || !scanName"
									(click)="onSubmit()"
								>
									Zatwierdź <mat-icon iconPositionEnd>done_outline</mat-icon>
								</button>
							</div>
						</form>
					</mat-step>
				</div>
				<div *ngIf="user === uType.STUDENT" class="box">
					<mat-step [stepControl]="surveyForm">
						<ng-template matStepLabel
							><span class="step-label">Tworzenie ankiety</span></ng-template
						>
						<form [formGroup]="surveyForm">
							<app-survey [createProfileMode]="true"></app-survey>
							<div class="button-box">
								<button mat-raised-button color="primary" matStepperPrevious>
									Poprzedni <mat-icon>arrow_back_ios</mat-icon>
								</button>
								<button
									mat-raised-button
									color="primary"
									type="submit"
									[disabled]="!createAccountForm.valid || !photoName || !scanName"
									(click)="onSubmit()"
								>
									Zatwierdź <mat-icon iconPositionEnd>done_outline</mat-icon>
								</button>
							</div>
						</form>
					</mat-step>
				</div>
			</div>
		</mat-stepper>
	</div>
</div>
<div *ngIf="modificationType === mType.EDIT">
	<app-profile-edit>[modificationType]="mType.EDIT"</app-profile-edit>
</div>
