<table mat-table class="mat-elevation-z8 mb-4" [dataSource]="properties$">
	<ng-container matColumnDef="ownerName">
		<th *matHeaderCellDef mat-header-cell>Właściciel</th>
		<td *matCellDef="let element" mat-cell>{{ element.ownerName }}</td>
	</ng-container>
	<ng-container matColumnDef="ownerEmail">
		<th *matHeaderCellDef mat-header-cell>Adres email właściciela</th>
		<td *matCellDef="let element" mat-cell>{{ element.ownerEmail }}</td>
	</ng-container>
	<ng-container matColumnDef="address">
		<th *matHeaderCellDef mat-header-cell>Adres nieruchomości</th>
		<td *matCellDef="let element" mat-cell>{{ element.address }}</td>
	</ng-container>
	<ng-container matColumnDef="document">
		<th *matHeaderCellDef mat-header-cell>Dokument</th>
		<td *matCellDef="let element" mat-cell>
			<a
				mat-button
				target="_blank"
				href="{{ baseUrl }}/{{ element.document.path }}"
			>
				Wyświetl dokument
			</a>
		</td>
	</ng-container>
	<ng-container matColumnDef="actions">
		<th *matHeaderCellDef mat-header-cell>Akcje</th>
		<td *matCellDef="let element" mat-cell>
			<button
				class="mr-2"
				mat-stroked-button
				(click)="acceptProperty(element.propertyId)"
			>
				Zaakceptuj
			</button>
			<button
				class="mr-2"
				mat-stroked-button
				(click)="rejectProperty(element.propertyId)"
			>
				Odrzuć
			</button>
		</td>
		>
	</ng-container>
	<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
	<tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>
