.avatar__image {
	width: 150px;
	height: 150px;
}

.tags {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.good-tags {
	flex: 1;
	text-align: left;
}

.bad-tags {
	flex: 1;
	text-align: left;
}

.profile-rating {
	&__stars {
		mat-icon.filled {
			color: gold;
		}
	}
}

.star-rating mat-icon {
	color: #ddd;
}

.star-rating mat-icon:hover,
.star-rating mat-icon.selected {
	color: gold;
}

.star-rating {
	display: flex;
}
