<mat-card>
	<div class="mx-auto w-3/4 md:w-3/5 lg:w-1/2 2xl:w-2/5">
		<mat-card-header class="justify-center">
			<mat-card-title>
				<h1>Nie pamiętam hasła</h1>
			</mat-card-title>
			<mat-card-subtitle class="text-center">
				Podaj swój adres e-mail, a my wyślemy Ci link resetujący, dzięki któremu
				utworzysz nowe hasło.
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="form" (ngSubmit)="sendPasswordResetLink()">
				<div class="form-group">
					<mat-form-field appearance="outline">
						<mat-label>Adres e-mail</mat-label>
						<input
							matInput
							required
							name="email"
							type="email"
							formControlName="email"
						/>
						<mat-error>Wpisz prawidłowy adres e-mail</mat-error>
					</mat-form-field>
				</div>
				<div class="buttons">
					<button
						mat-flat-button
						color="primary"
						type="submit"
						[disabled]="!form.valid"
					>
						Wyślij
					</button>
				</div>
			</form>
		</mat-card-content>
	</div>
</mat-card>
