<div class="messages-choice">
	<div class="messages-choice__header">Konwersacje</div>
	<div class="messages-choice__conversation" routerLink="1">
		<span>Lorem ipsum</span>
		<div>
			<button mat-icon-button>
				<mat-icon>error</mat-icon>
			</button>
			<button mat-icon-button>
				<mat-icon>star</mat-icon>
			</button>
		</div>
	</div>
	<div class="messages-choice__conversation" routerLink="2">
		<span>Lorem ipsum</span>
		<div>
			<button mat-icon-button>
				<mat-icon>star</mat-icon>
			</button>
		</div>
	</div>
	<div class="messages-choice__conversation" routerLink="3">
		<span>Lorem ipsum</span>
		<div></div>
	</div>
	<div class="messages-choice__conversation" routerLink="4">
		<span>Lorem ipsum</span>
		<div></div>
	</div>
	<div class="messages-choice__conversation" routerLink="5">
		<span>Lorem ipsum</span>
		<div></div>
	</div>
</div>
<div class="messages-box">
	<router-outlet></router-outlet>
</div>
