<div class="container-title">
	<h1 *ngIf="modificationType === mType.ADD" class="text-4xl p-4 font-semibold">
		Kreator nieruchomości
	</h1>
	<h1 *ngIf="modificationType === mType.EDIT" class="text-4xl p-4 font-semibold">
		Edycja nieruchomości
	</h1>
</div>
<div
	*ngIf="{ modification: mType.EDIT, hide: hideRealEstate$ | async } as guard"
>
	<mat-card *ngIf="!(guard.modification && guard.hide)" class="add-real-estate">
		<mat-stepper #stepper linear>
			<div class="box">
				<mat-step [stepControl]="addRealEstateFormAddressData">
					<ng-template matStepLabel
						><span class="step-label">Dane adresowe</span></ng-template
					>
					<form class="container-form" [formGroup]="addRealEstateFormAddressData">
						<div class="subtitle"></div>
						<mat-form-field appearance="fill">
							<mat-label>Rodzaj nieruchomości</mat-label>
							<span matPrefix>
								<div class="box-icon"><mat-icon>home</mat-icon></div>
							</span>
							<mat-select id="propertyType" formControlName="propertyType">
								<mat-option
									*ngFor="let property of this.realEstateService.properties"
									[value]="property.value"
									[disabled]="modificationType === mType.EDIT"
								>
									{{ property.viewValue }}
								</mat-option>
							</mat-select>
							<mat-error
								*ngIf="addRealEstateFormAddressData.controls['propertyType'].errors?.['required']"
							>
								Nie wybrano rodzaju nieruchomości!
							</mat-error>
						</mat-form-field>
						<div class="subtitle-map">Dane adresowe:</div>
						<div class="subtitle"></div>
						<mat-form-field appearance="fill">
							<mat-label>Województwo</mat-label>
							<span matPrefix>
								<div class="box-icon"><mat-icon>location_on</mat-icon></div>
							</span>
							<mat-select id="region" formControlName="province">
								<mat-option
									*ngFor="let region of this.realEstateService.regions"
									[value]="region"
								>
									{{ region }}
								</mat-option>
							</mat-select>
							<mat-error
								*ngIf="addRealEstateFormAddressData.controls['province'].errors?.['required']"
							>
								Nie wybrano województwa!
							</mat-error>
						</mat-form-field>
						<div class="subtitle"></div>
						<mat-form-field appearance="fill">
							<mat-label>Miejscowość</mat-label>
							<input
								id="city"
								type="text"
								placeholder="Miejscowość"
								aria-label="City"
								matInput
								formControlName="city"
								[matAutocomplete]="autoCity"
							/>
							<span matPrefix>
								<div class="box-icon"><mat-icon>location_on</mat-icon></div>
							</span>
							<mat-autocomplete #autoCity="matAutocomplete">
								<mat-optgroup
									*ngFor="let group of citiesGroupOptions$ | async"
									[label]="group.whole"
								>
									<mat-option *ngFor="let city of group.parts" [value]="city">
										{{ city }}
									</mat-option>
								</mat-optgroup>
							</mat-autocomplete>
							<mat-error
								*ngIf="addRealEstateFormAddressData.controls['city'].errors?.['required']"
							>
								Nie wybrano miejscowości!
							</mat-error>
						</mat-form-field>
						<div class="subtitle"></div>
						<mat-form-field appearance="fill">
							<mat-label>Dzielnica</mat-label>
							<input
								id="district"
								type="text"
								placeholder="Dzielnica"
								aria-label="District"
								matInput
								formControlName="district"
								[matAutocomplete]="autoDistrict"
							/>
							<span matPrefix>
								<div class="box-icon"><mat-icon>location_on</mat-icon></div>
							</span>
							<mat-autocomplete #autoDistrict="matAutocomplete">
								<mat-optgroup
									*ngFor="let group2 of districtGroupOptions$ | async"
									[label]="group2.whole"
								>
									<mat-option *ngFor="let district of group2.parts" [value]="district">
										{{ district }}
									</mat-option>
								</mat-optgroup>
							</mat-autocomplete>
						</mat-form-field>
						<div class="subtitle"></div>
						<mat-form-field appearance="fill">
							<mat-label>Kod pocztowy</mat-label>
							<span matPrefix>
								<div class="box-icon"><mat-icon>location_on</mat-icon></div>
							</span>
							<input
								id="postalCode"
								formControlName="postalCode"
								type="text"
								placeholder="Kod pocztowy"
								aria-label="PostalCode"
								matInput
							/>
							<mat-error
								*ngIf="addRealEstateFormAddressData.controls['postalCode'].errors?.['required']"
							>
								Nie podano kodu pocztowego!
							</mat-error>
							<mat-error
								*ngIf="addRealEstateFormAddressData.controls['postalCode'].errors?.['pattern']"
							>
								Nieprawidłowy format kodu pocztowego!
							</mat-error>
						</mat-form-field>
						<div class="subtitle"></div>
						<mat-form-field appearance="fill">
							<mat-label>Ulica</mat-label>
							<span matPrefix>
								<div class="box-icon"><mat-icon>location_on</mat-icon></div>
							</span>
							<input
								id="street"
								formControlName="street"
								type="text"
								placeholder="Ulica"
								aria-label="Street"
								matInput
							/>
							<mat-error
								*ngIf="addRealEstateFormAddressData.controls['street'].errors?.['required']"
							>
								Nie podano nazwy ulicy!
							</mat-error>
						</mat-form-field>
						<div class="subtitle"></div>
						<mat-form-field appearance="fill">
							<mat-label>Numer budynku</mat-label>
							<span matPrefix>
								<div class="box-icon"><mat-icon>location_on</mat-icon></div>
							</span>
							<input
								id="streetNumber"
								formControlName="number"
								type="text"
								placeholder="Numer budynku"
								aria-label="StreetNumber"
								matInput
							/>
							<mat-error
								*ngIf="addRealEstateFormAddressData.controls['number'].errors?.['required']"
							>
								Nie podano numeru budynku!
							</mat-error>
							<mat-error
								*ngIf="addRealEstateFormAddressData.controls['number'].errors?.['pattern']"
							>
								Nieprawidłowy numer ulicy!
							</mat-error>
						</mat-form-field>
						<div class="subtitle"></div>
						<mat-form-field appearance="fill">
							<mat-label>Numer mieszkania</mat-label>
							<span matPrefix>
								<div class="box-icon"><mat-icon>location_on</mat-icon></div>
							</span>
							<input
								id="flatNumber"
								formControlName="flat"
								type="text"
								placeholder="Numer mieszkania"
								aria-label="FlatNumber"
								matInput
							/>
							<mat-error
								*ngIf="addRealEstateFormAddressData.controls['flat'].errors?.['required']"
							>
								Nie podano numeru mieszkania!
							</mat-error>
							<mat-error
								*ngIf="addRealEstateFormAddressData.controls['flat'].errors?.['pattern']"
							>
								Nieprawidłowy numer mieszkania!
							</mat-error>
						</mat-form-field>
						<div class="button-box">
							<button
								mat-raised-button
								matStepperNext
								color="primary"
								[disabled]="!addRealEstateFormAddressData.valid"
							>
								Następny <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
							</button>
						</div>
					</form>
				</mat-step>
			</div>
			<div class="box">
				<mat-step [stepControl]="addRealEstateFormRemainingData">
					<ng-template matStepLabel
						><span class="step-label">Pozostałe dane</span></ng-template
					>
					<form class="container-form" [formGroup]="addRealEstateFormRemainingData">
						<div class="subtitle"></div>
						<mat-form-field appearance="fill">
							<mat-label>Powierzchnia</mat-label>
							<span matPrefix>
								<div class="box-icon"><mat-icon>straighten</mat-icon></div>
							</span>
							<input
								id="area"
								formControlName="area"
								type="number"
								placeholder="Powierzchnia"
								aria-label="area"
								matInput
							/>
							<span matSuffix class="suffix">m²</span>
							<mat-error
								*ngIf="addRealEstateFormRemainingData.controls['area'].errors?.['required']"
							>
								Nie podano powierzchni!
							</mat-error>
							<mat-error
								*ngIf="addRealEstateFormRemainingData.controls['area'].errors?.['min']"
							>
								Nieprawidłowa wartość!
							</mat-error>
						</mat-form-field>
						<div class="subtitle"></div>
						<mat-form-field appearance="fill">
							<mat-label>Powierzchnia działki</mat-label>
							<span matPrefix>
								<div class="box-icon"><mat-icon>straighten</mat-icon></div>
							</span>
							<input
								id="plotArea"
								formControlName="plotArea"
								type="number"
								placeholder="Powierzchnia działki"
								aria-label="plotArea"
								matInput
							/>
							<span matSuffix class="suffix">m²</span>
							<mat-error
								*ngIf="addRealEstateFormRemainingData.controls['plotArea'].errors?.['required']"
							>
								Nie podano powierzchni działki!
							</mat-error>
							<mat-error
								*ngIf="addRealEstateFormRemainingData.controls['plotArea'].errors?.['min']"
							>
								Nieprawidłowa wartość!
							</mat-error>
						</mat-form-field>
						<div class="subtitle"></div>
						<mat-form-field appearance="fill">
							<mat-label>Maks. l. mieszkańców</mat-label>
							<span matPrefix>
								<div class="box-icon"><mat-icon>supervisor_account</mat-icon></div>
							</span>
							<input
								id="maxNumberOfInhabitants"
								formControlName="maxNumberOfInhabitants"
								type="number"
								placeholder="Maks. l. mieszkańców"
								aria-label="MaxNumberOfInhabitants"
								matInput
							/>
							<mat-error
								*ngIf="addRealEstateFormRemainingData.controls['maxNumberOfInhabitants'].errors?.['required']"
							>
								Nie podano maks. l. mieszkańców!
							</mat-error>
							<mat-error
								*ngIf="addRealEstateFormRemainingData.controls['maxNumberOfInhabitants'].errors?.['min']"
							>
								Nieprawidłowa wartość!
							</mat-error>
						</mat-form-field>
						<mat-form-field appearance="fill">
							<mat-label>Rok budowy</mat-label>
							<span matPrefix>
								<div class="box-icon">
									<mat-icon class="material-symbols-outlined"> date_range </mat-icon>
								</div>
							</span>
							<input
								id="constructionYear"
								formControlName="constructionYear"
								type="number"
								placeholder="Rok budowy"
								aria-label="ConstructionYear"
								matInput
							/>
							<mat-error
								*ngIf="addRealEstateFormRemainingData.controls['constructionYear'].errors?.['required']"
							>
								Nie podano roku budowy!
							</mat-error>
							<mat-error
								*ngIf="addRealEstateFormRemainingData.controls['constructionYear'].errors?.['pattern'] ||
							addRealEstateFormRemainingData.controls['constructionYear'].errors?.['min'] ||
							addRealEstateFormRemainingData.controls['constructionYear'].errors?.['max']"
							>
								Nieprawidłowa wartość!
							</mat-error>
						</mat-form-field>
						<div class="subtitle"></div>
						<mat-form-field appearance="fill">
							<mat-label>Liczba pokoi</mat-label>
							<span matPrefix>
								<div class="box-icon"><mat-icon>meeting_room</mat-icon></div>
							</span>
							<input
								id="numberOfRooms"
								formControlName="numberOfRooms"
								type="number"
								placeholder="Liczba pokoi"
								aria-label="NumberOfRooms"
								matInput
							/>
							<mat-error
								*ngIf="addRealEstateFormRemainingData.controls['numberOfRooms'].errors?.['required']"
							>
								Nie podano liczby pokoi!
							</mat-error>
							<mat-error
								*ngIf="addRealEstateFormRemainingData.controls['numberOfRooms'].errors?.['min']"
							>
								Nieprawidłowa wartość!
							</mat-error>
						</mat-form-field>
						<div class="subtitle"></div>
						<mat-form-field appearance="fill">
							<mat-label>Piętro</mat-label>
							<span matPrefix>
								<div class="box-icon"><mat-icon>location_city</mat-icon></div>
							</span>
							<input
								id="floor"
								formControlName="floor"
								type="number"
								placeholder="Piętro"
								aria-label="Floor"
								matInput
							/>
							<mat-error
								*ngIf="addRealEstateFormRemainingData.controls['floor'].errors?.['required']"
							>
								Nie podano piętra!
							</mat-error>
							<mat-error
								*ngIf="addRealEstateFormRemainingData.controls['floor'].errors?.['min']"
							>
								Nieprawidłowa wartość!
							</mat-error>
						</mat-form-field>
						<div class="subtitle"></div>
						<mat-form-field appearance="fill">
							<mat-label>Liczba pięter</mat-label>
							<span matPrefix>
								<div class="box-icon"><mat-icon>location_city</mat-icon></div>
							</span>
							<input
								id="numberOfFloors"
								formControlName="numberOfFloors"
								type="number"
								placeholder="Liczba pięter"
								aria-label="NumberOfFloors"
								matInput
							/>
							<mat-error
								*ngIf="addRealEstateFormRemainingData.controls['numberOfFloors'].errors?.['required']"
							>
								Nie podano liczby pięter!
							</mat-error>
							<mat-error
								*ngIf="addRealEstateFormRemainingData.controls['numberOfFloors'].errors?.['min']"
							>
								Nieprawidłowa wartość!
							</mat-error>
						</mat-form-field>
						<div class="subtitle"></div>
						<mat-form-field appearance="fill">
							<mat-label>Wyposażenie</mat-label>
							<span matPrefix>
								<div class="box-icon">
									<mat-icon class="material-symbols-outlined"> construction </mat-icon>
								</div>
							</span>
							<mat-select id="equipment" formControlName="equipmentIds" multiple>
								<mat-option
									*ngFor="let equipment of this.realEstateService.equipment"
									[value]="equipment.equipmentId"
								>
									{{ equipment.name }}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<div class="button-box">
							<button mat-raised-button matStepperPrevious color="primary">
								Poprzedni <mat-icon>arrow_back_ios</mat-icon>
							</button>
							<div class="btn-spacer"></div>
							<button
								mat-raised-button
								matStepperNext
								color="primary"
								[disabled]="!addRealEstateFormRemainingData.valid"
							>
								Następny <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
							</button>
						</div>
					</form>
				</mat-step>
			</div>
			<div class="box">
				<mat-step [stepControl]="addRealEstateFormPhotos">
					<ng-template matStepLabel
						><span class="step-label">Zdjęcia</span></ng-template
					>
					<form [formGroup]="addRealEstateFormPhotos">
						<div class="button-box-function">
							<div class="gallery">
								<a *ngFor="let url of photos">
									<button
										class="delete-icon"
										id="deletePhoto"
										type="button"
										mat-icon-button
										matTooltip="Usuń zdjęcie"
										aria-label="DeletePhoto"
										(click)="onPhotoDelete(url.name)"
									>
										<mat-icon>delete_forever</mat-icon>
									</button>
									<img class="img" [src]="url.path" />
								</a>
							</div>
							<input
								#fileUpload
								id="file"
								class="file-input"
								type="file"
								accept="image/*"
								multiple
								formControlName="photos"
								aria-label="File"
								(change)="onFileSelected($event)"
							/>
							<div
								*ngIf="
									modificationType === mType.ADD &&
									addRealEstateFormPhotos.get('photos')?.hasError('required')
								"
							>
								Zdjęcie jest wymagane.
							</div>
							<div class="batch">
								<div class="desctext">
									{{ fileName || "Dodaj zdjęcia (max 10)" }}
								</div>

								<button
									mat-mini-fab
									color="primary"
									id="upload"
									aria-label="Upload"
									(click)="fileUpload.click()"
								>
									<mat-icon>attach_file</mat-icon>
								</button>
							</div>
							<div class="button-box">
								<button mat-raised-button color="primary" matStepperPrevious>
									Poprzedni <mat-icon>arrow_back_ios</mat-icon>
								</button>
								<div class="btn-spacer"></div>
								<button
									mat-raised-button
									color="primary"
									matStepperNext
									[disabled]="!addRealEstateFormPhotos.valid"
								>
									Następny <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
								</button>
							</div>
						</div>
					</form>
				</mat-step>
			</div>
			<div class="box">
				<mat-step [completed]="completed">
					<ng-template *ngIf="completed" matStepLabel
						><span class="step-label">Gotowe</span></ng-template
					>
					<div class="button-box-function">
						<div
							*ngIf="
								addRealEstateFormAddressData.valid &&
								addRealEstateFormRemainingData.valid &&
								addRealEstateFormPhotos.valid
							"
							class="button-box-function"
						>
							<mat-icon class="success-icon" [inline]="true">
								insert_emoticon</mat-icon
							>
							<h2>Formularz został pomyślnie wypełniony!</h2>
							<h2>
								Klikająć na przycisk
								{{
									modificationType === mType.ADD
										? '"Zapisz nieruchomość"'
										: '"Zapisz zmiany"'
								}}
								potwierdzasz prawdziwość wprowadzonych danych.
							</h2>
						</div>
						<div class="button-box">
							<button
								*ngIf="!completed"
								mat-raised-button
								color="primary"
								matStepperPrevious
							>
								Poprzedni <mat-icon>arrow_back_ios</mat-icon>
							</button>
							<button
								*ngIf="completed"
								mat-raised-button
								color="primary"
								(click)="onReturn()"
							>
								Powrót <mat-icon>arrow_back_ios</mat-icon>
							</button>
							<div class="btn-spacer"></div>
							<button
								*ngIf="
									addRealEstateFormAddressData.valid &&
									addRealEstateFormRemainingData.valid &&
									addRealEstateFormPhotos.valid
								"
								id="addRealEstate"
								type="submit"
								mat-raised-button
								color="primary"
								aria-label="AddRealEstate"
								(click)="saveRealEstate()"
							>
								{{
									modificationType === mType.ADD
										? "Zapisz nieruchomość"
										: "Zapisz zmiany"
								}}
							</button>
							<div class="btn-spacer"></div>
							<button
								*ngIf="modificationType === mType.ADD"
								mat-raised-button
								color="primary"
								[disabled]="completed"
								(click)="formReset()"
							>
								Reset
							</button>
						</div>
					</div>
				</mat-step>
			</div>
		</mat-stepper>
	</mat-card>
</div>
