.add-real-estate {
	background-color: #ffffff;
	padding-top: 0px;
}

.batch {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-1 {
	text-align: center;
	font-size: xx-large;
	padding-top: 20px;
	padding-bottom: 20px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);
}

.desctext {
	padding-right: 10px;
}

.container-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: fit-content;
	padding-bottom: 20px;
}

mat-form-field {
	width: 30%;
}

.box-1 {
	display: flex;
	flex-direction: column;
	min-width: fit-content;
	height: auto;
}

.boxIcon {
	padding-left: 4px;
	padding-right: 4px;
}

.suffix {
	padding-left: 4px;
	padding-right: 4px;
}

.button-box {
	padding: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	row-gap: 4px;
	column-gap: 20%;
	justify-content: center;
}

.button-box-1 {
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 80px;
	justify-content: center;
}

.subtitle {
	display: flex;
	align-items: center;
}

.subtitle-2 {
	display: flex;
	align-items: center;
	font-size: large;
	padding-bottom: 8px;
}

.subtitle-3 {
	text-align: center;
}

.subtitle-2:before,
.subtitle-2:after {
	background-color: #000000;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 70%;
}

.subtitle-2:before {
	right: 0.4em;
	margin-left: -70%;
}

.subtitle-2:after {
	left: 0.4em;
	margin-right: -70%;
}

.btn {
	background: #fbbb8b;
	border-radius: 24px;
	padding: 4px;
	width: 160px;
}

.btn-2 {
	padding: 4px;
	background-color: #fbbb8b;
	border-radius: 24px;
	width: 240px;
	height: auto;
}

.upload-btn {
	background: #fbbb8b;
	justify-content: center;
}

.mat-stepper-horizontal {
	margin-top: 8px;
}

.mat-mdc-form-field {
	margin-top: 16px;
}

.error-text {
	color: #ff0000;
	font-size: x-small;
}

.file-input {
	display: none;
}

.success-icon {
	transform: scale(4);
	color: #fbbb8b;
}

.gallery {
	width: 40%;
	display: flex;
	align-items: center;
	row-gap: 4px;
	column-gap: 8%;
	justify-content: center;
	flex-flow: row;
	flex-wrap: wrap;
}

.img {
	max-width: 40%;
	justify-content: center;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
	background-color: #fbbb8b;
	transform: scale(1.6);
}

::ng-deep .mat-step-icon.mat-step-icon-state-edit {
	background-color: #fbbb8b;
	transform: scale(1.6);
}

::ng-deep .mat-step-text-label {
	font-size: 1.2rem;
	padding-left: 4px;
}

::ng-deep .mat-step-header .mat-step-icon {
	transform: scale(1.6);
}

/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[matinput][type="number"] {
	-moz-appearance: textfield;
}

@media screen and (max-width: 992px) {
	mat-form-field {
		width: 60%;
	}
}

@media screen and (max-width: 600px) {
	mat-form-field {
		width: 90%;
	}
}
