.add-real-estate {
	background-color: #ffffff;
	padding-top: 0px;
	margin: 0 16px;
}

.batch {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-title {
	text-align: left;
	padding-top: 8px;
	padding-bottom: 8px;
}

.desctext {
	margin-right: 8px;
	max-width: 400px;
	overflow: hidden;
}

.container-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: fit-content;
	padding-bottom: 16px;
}

mat-form-field {
	width: 30%;
}

.box {
	display: flex;
	flex-direction: column;
	min-width: fit-content;
	height: auto;
}

.box-icon {
	padding-left: 4px;
	padding-right: 4px;
}

.delete-icon {
	color: red;
	display: flex;
	align-content: center;
	justify-content: center;
	margin-left: auto;
	position: absolute;
}

.suffix {
	padding-left: 4px;
	padding-right: 4px;
}

.button-box {
	padding: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.button-box-function {
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 80px;
	justify-content: center;
	text-align: center;
}

.subtitle {
	display: flex;
	align-items: center;
}

.subtitle-map {
	display: flex;
	align-items: center;
	font-size: large;
	padding-bottom: 8px;
}

.subtitle-desc {
	text-align: center;
}

.subtitle-map:before,
.subtitle-map:after {
	background-color: #000000;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 70%;
}

.subtitle-map:before {
	right: 0.4em;
	margin-left: -70%;
}

.subtitle-map:after {
	left: 0.4em;
	margin-right: -70%;
}

.btn-spacer {
	min-width: 32px;
}

.upload-btn {
	background: #fbbb8b;
	justify-content: center;
}

.mat-stepper-horizontal {
	margin-top: 8px;
}

.mat-mdc-form-field {
	margin-top: 16px;
}

.file-input {
	display: none;
}

.success-icon {
	font-size: 200px;
	min-width: max-content;
	min-height: max-content;
	color: #fbbb8b;
}

.gallery {
	max-width: 484px;
	display: flex;
	align-items: center;
	row-gap: 4px;
	column-gap: 4px;
	justify-content: center;
	flex-flow: row;
	flex-wrap: wrap;
}

.img {
	width: 240px;
	justify-content: center;
}

/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[matinput][type="number"] {
	-moz-appearance: textfield;
}

@media screen and (max-width: 992px) {
	mat-form-field {
		width: 60%;
	}
}

@media screen and (max-width: 740px) {
	.desctext {
		margin-right: 8px;
		max-width: 200px;
		overflow: hidden;
	}
	.step-label {
		display: none;
	}
	.button-box {
		padding: 8px;
		display: flex;
		flex-direction: row;
		align-items: center;
		row-gap: 4px;
		column-gap: 4px;
		justify-content: center;
	}
}

@media screen and (max-width: 600px) {
	mat-form-field {
		width: 90%;
	}
}
