<div class="container-title">
	<h1 *ngIf="modificationType === mType.ADD" class="text-4xl p-4 font-semibold">
		{{ "Real-estate-add.property-creator" | translate }}
	</h1>
	<h1 *ngIf="modificationType === mType.EDIT" class="text-4xl p-4 font-semibold">
		{{ "Real-estate-details.edit-property" | translate }}
	</h1>
</div>
<mat-card class="add-real-estate">
	<mat-stepper #stepper linear>
		<div class="box">
			<mat-step [stepControl]="addRealEstateFormAddressData">
				<ng-template matStepLabel
					><span class="step-label">{{
						"Real-estate-add.address-data" | translate
					}}</span></ng-template
				>
				<form class="container-form" [formGroup]="addRealEstateFormAddressData">
					<div class="subtitle"></div>
					<mat-form-field appearance="fill">
						<mat-label>{{ "Real-estate-add.property-type" | translate }}</mat-label>
						<span matPrefix>
							<div class="box-icon"><mat-icon>home</mat-icon></div>
						</span>
						<mat-select id="propertyType" formControlName="propertyType">
							<mat-option
								*ngFor="let property of this.realEstateService.properties"
								[value]="property.value"
								[disabled]="modificationType === mType.EDIT"
							>
								{{ property.viewValue | translate }}
							</mat-option>
						</mat-select>
						<mat-error
							*ngIf="addRealEstateFormAddressData.controls['propertyType'].errors?.['required']"
						>
							{{ "Real-estate-add.no-type-property" | translate }}!
						</mat-error>
					</mat-form-field>
					<div class="subtitle-map">
						{{ "Real-estate-add.address-data" | translate }}:
					</div>
					<div class="subtitle"></div>
					<mat-form-field appearance="fill">
						<mat-label>{{ "Real-estate-add.voivodeship" | translate }}</mat-label>
						<span matPrefix>
							<div class="box-icon"><mat-icon>location_on</mat-icon></div>
						</span>
						<mat-select id="region" formControlName="province">
							<mat-option
								*ngFor="let region of this.realEstateService.regions"
								[value]="region"
							>
								{{ region }}
							</mat-option>
						</mat-select>
						<mat-error
							*ngIf="addRealEstateFormAddressData.controls['province'].errors?.['required']"
						>
							{{ "Real-estate-add.no-voivodeship-info" | translate }}!
						</mat-error>
					</mat-form-field>
					<div class="subtitle"></div>
					<mat-form-field appearance="fill">
						<mat-label>{{ "Real-estate-add.town" | translate }}</mat-label>
						<input
							id="city"
							type="text"
							aria-label="City"
							matInput
							formControlName="city"
							placeholder="{{ 'Real-estate-add.town' | translate }}"
							[matAutocomplete]="autoCity"
						/>
						<span matPrefix>
							<div class="box-icon"><mat-icon>location_on</mat-icon></div>
						</span>
						<mat-autocomplete #autoCity="matAutocomplete">
							<mat-optgroup
								*ngFor="let group of citiesGroupOptions$ | async"
								[label]="group.whole"
							>
								<mat-option *ngFor="let city of group.parts" [value]="city">
									{{ city }}
								</mat-option>
							</mat-optgroup>
						</mat-autocomplete>
						<mat-error
							*ngIf="addRealEstateFormAddressData.controls['city'].errors?.['required']"
						>
							{{ "Real-estate-add.no-town-info" | translate }}!
						</mat-error>
					</mat-form-field>
					<div class="subtitle"></div>
					<mat-form-field appearance="fill">
						<mat-label>{{ "Real-estate-add.district" | translate }}</mat-label>
						<input
							id="district"
							type="text"
							aria-label="District"
							matInput
							formControlName="district"
							placeholder="{{ 'Real-estate-add.district' | translate }}"
							[matAutocomplete]="autoDistrict"
						/>
						<span matPrefix>
							<div class="box-icon"><mat-icon>location_on</mat-icon></div>
						</span>
						<mat-autocomplete #autoDistrict="matAutocomplete">
							<mat-optgroup
								*ngFor="let group2 of districtGroupOptions$ | async"
								[label]="group2.whole"
							>
								<mat-option *ngFor="let district of group2.parts" [value]="district">
									{{ district }}
								</mat-option>
							</mat-optgroup>
						</mat-autocomplete>
					</mat-form-field>
					<div class="subtitle"></div>
					<mat-form-field appearance="fill">
						<mat-label>{{ "Real-estate-add.post-code" | translate }}</mat-label>
						<span matPrefix>
							<div class="box-icon"><mat-icon>location_on</mat-icon></div>
						</span>
						<input
							id="postalCode"
							formControlName="postalCode"
							type="text"
							aria-label="PostalCode"
							matInput
							placeholder="{{ 'Real-estate-add.post-code2' | translate }}"
						/>
						<mat-error
							*ngIf="addRealEstateFormAddressData.controls['postalCode'].errors?.['required']"
						>
							{{ "Real-estate-add.no-post-code-info" | translate }}!
						</mat-error>
						<mat-error
							*ngIf="addRealEstateFormAddressData.controls['postalCode'].errors?.['pattern']"
						>
							{{ "Real-estate-add.no-post-code-info2" | translate }}!
						</mat-error>
					</mat-form-field>
					<div class="subtitle"></div>
					<mat-form-field appearance="fill">
						<mat-label>{{ "Real-estate-add.street" | translate }}</mat-label>
						<span matPrefix>
							<div class="box-icon"><mat-icon>location_on</mat-icon></div>
						</span>
						<input
							id="street"
							formControlName="street"
							type="text"
							aria-label="Street"
							matInput
							placeholder="{{ 'Real-estate-add.street' | translate }}"
						/>
						<mat-error
							*ngIf="addRealEstateFormAddressData.controls['street'].errors?.['required']"
						>
							{{ "Real-estate-add.no-street-info" | translate }}!
						</mat-error>
					</mat-form-field>
					<div class="subtitle"></div>
					<mat-form-field appearance="fill">
						<mat-label>{{ "Real-estate-add.building-number" | translate }}</mat-label>
						<span matPrefix>
							<div class="box-icon"><mat-icon>location_on</mat-icon></div>
						</span>
						<input
							id="streetNumber"
							formControlName="number"
							type="text"
							aria-label="StreetNumber"
							matInput
							placeholder="{{ 'Real-estate-add.building-number' | translate }}"
						/>
						<mat-error
							*ngIf="addRealEstateFormAddressData.controls['number'].errors?.['required']"
						>
							{{ "Real-estate-add.building-number-info" | translate }}!
						</mat-error>
						<mat-error
							*ngIf="addRealEstateFormAddressData.controls['number'].errors?.['pattern']"
						>
							{{ "Real-estate-add.building-street-number-info" | translate }}!
						</mat-error>
					</mat-form-field>
					<div class="subtitle"></div>
					<mat-form-field appearance="fill">
						<mat-label>{{
							"Real-estate-add.apartment-number" | translate
						}}</mat-label>
						<span matPrefix>
							<div class="box-icon"><mat-icon>location_on</mat-icon></div>
						</span>
						<input
							id="flatNumber"
							formControlName="flat"
							type="text"
							aria-label="FlatNumber"
							matInput
							placeholder="{{ 'Real-estate-add.apartment-number' | translate }}"
						/>
						<mat-error
							*ngIf="addRealEstateFormAddressData.controls['flat'].errors?.['required']"
						>
							{{ "Real-estate-add.no-apartment-number-info" | translate }}!
						</mat-error>
						<mat-error
							*ngIf="addRealEstateFormAddressData.controls['flat'].errors?.['pattern']"
						>
							{{ "Real-estate-add.no-apartment-number-info2" | translate }}!
						</mat-error>
					</mat-form-field>
					<div class="button-box">
						<button
							mat-raised-button
							matStepperNext
							color="primary"
							[disabled]="!addRealEstateFormAddressData.valid"
						>
							{{ "next" | translate }}
							<mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
						</button>
					</div>
				</form>
			</mat-step>
		</div>
		<div class="box">
			<mat-step [stepControl]="addRealEstateFormRemainingData">
				<ng-template matStepLabel
					><span class="step-label">{{
						"Real-estate-add.other-data" | translate
					}}</span></ng-template
				>
				<form class="container-form" [formGroup]="addRealEstateFormRemainingData">
					<div class="subtitle"></div>
					<mat-form-field appearance="fill">
						<mat-label>{{ "Real-estate-add.area" | translate }}</mat-label>
						<span matPrefix>
							<div class="box-icon"><mat-icon>straighten</mat-icon></div>
						</span>
						<input
							id="area"
							formControlName="area"
							type="number"
							aria-label="area"
							matInput
							placeholder="{{ 'Real-estate-add.area' | translate }}"
						/>
						<span matSuffix class="suffix">m²</span>
						<mat-error
							*ngIf="addRealEstateFormRemainingData.controls['area'].errors?.['required']"
						>
							{{ "Real-estate-add.no-area-info" | translate }}!
						</mat-error>
						<mat-error
							*ngIf="addRealEstateFormRemainingData.controls['area'].errors?.['min']"
						>
							{{ "wrong-value" | translate }}!
						</mat-error>
					</mat-form-field>
					<div class="subtitle"></div>
					<mat-form-field appearance="fill">
						<mat-label>{{ "Real-estate-add.land-area" | translate }}</mat-label>
						<span matPrefix>
							<div class="box-icon"><mat-icon>straighten</mat-icon></div>
						</span>
						<input
							id="plotArea"
							formControlName="plotArea"
							type="number"
							aria-label="plotArea"
							matInput
							placeholder="{{ 'Real-estate-add.land-area' | translate }}"
						/>
						<span matSuffix class="suffix">m²</span>
						<mat-error
							*ngIf="addRealEstateFormRemainingData.controls['plotArea'].errors?.['required']"
						>
							{{ "Real-estate-add.no-land-area-info" | translate }}!
						</mat-error>
						<mat-error
							*ngIf="addRealEstateFormRemainingData.controls['plotArea'].errors?.['min']"
						>
							{{ "wrong-value" | translate }}!
						</mat-error>
					</mat-form-field>
					<div class="subtitle"></div>
					<mat-form-field appearance="fill">
						<mat-label>{{ "Real-estate-add.max-inhabitants" | translate }}</mat-label>
						<span matPrefix>
							<div class="box-icon"><mat-icon>supervisor_account</mat-icon></div>
						</span>
						<input
							id="maxNumberOfInhabitants"
							formControlName="maxNumberOfInhabitants"
							type="number"
							aria-label="MaxNumberOfInhabitants"
							matInput
							placeholder="{{ 'Real-estate-add.max-inhabitants' | translate }}"
						/>
						<mat-error
							*ngIf="addRealEstateFormRemainingData.controls['maxNumberOfInhabitants'].errors?.['required']"
						>
							{{ "Real-estate-add.no-max-inhabitants-info" | translate }}!
						</mat-error>
						<mat-error
							*ngIf="addRealEstateFormRemainingData.controls['maxNumberOfInhabitants'].errors?.['min']"
						>
							{{ "wrong-value" | translate }}!
						</mat-error>
					</mat-form-field>
					<mat-form-field appearance="fill">
						<mat-label>{{ "Real-estate-add.build-year" | translate }}</mat-label>
						<span matPrefix>
							<div class="box-icon">
								<mat-icon class="material-symbols-outlined"> date_range </mat-icon>
							</div>
						</span>
						<input
							id="constructionYear"
							formControlName="constructionYear"
							type="number"
							aria-label="ConstructionYear"
							matInput
							placeholder="{{ 'Real-estate-add.build-year' | translate }}"
						/>
						<mat-error
							*ngIf="addRealEstateFormRemainingData.controls['constructionYear'].errors?.['required']"
						>
							{{ "Real-estate-add.no-build-year-info" | translate }}!
						</mat-error>
						<mat-error
							*ngIf="addRealEstateFormRemainingData.controls['constructionYear'].errors?.['pattern'] ||
							addRealEstateFormRemainingData.controls['constructionYear'].errors?.['min'] ||
							addRealEstateFormRemainingData.controls['constructionYear'].errors?.['max']"
						>
							{{ "wrong-value" | translate }}!
						</mat-error>
					</mat-form-field>
					<div class="subtitle"></div>
					<mat-form-field appearance="fill">
						<mat-label>{{ "Real-estate-add.room-numbers" | translate }}</mat-label>
						<span matPrefix>
							<div class="box-icon"><mat-icon>meeting_room</mat-icon></div>
						</span>
						<input
							id="numberOfRooms"
							formControlName="numberOfRooms"
							type="number"
							aria-label="NumberOfRooms"
							matInput
							placeholder="{{ 'Real-estate-add.room-numbers' | translate }}"
						/>
						<mat-error
							*ngIf="addRealEstateFormRemainingData.controls['numberOfRooms'].errors?.['required']"
						>
							{{ "Real-estate-add.no-room-numbers-info" | translate }}!
						</mat-error>
						<mat-error
							*ngIf="addRealEstateFormRemainingData.controls['numberOfRooms'].errors?.['min']"
						>
							{{ "wrong-value" | translate }}!
						</mat-error>
					</mat-form-field>
					<div class="subtitle"></div>
					<mat-form-field appearance="fill">
						<mat-label>{{ "Real-estate-add.floor" | translate }}</mat-label>
						<span matPrefix>
							<div class="box-icon"><mat-icon>location_city</mat-icon></div>
						</span>
						<input
							id="floor"
							formControlName="floor"
							type="number"
							aria-label="Floor"
							matInput
							placeholder="{{ 'Real-estate-add.floor' | translate }}"
						/>
						<mat-error
							*ngIf="addRealEstateFormRemainingData.controls['floor'].errors?.['required']"
						>
							{{ "Real-estate-add.no-floor-info" | translate }}!
						</mat-error>
						<mat-error
							*ngIf="addRealEstateFormRemainingData.controls['floor'].errors?.['min']"
						>
							{{ "wrong-value" | translate }}!
						</mat-error>
					</mat-form-field>
					<div class="subtitle"></div>
					<mat-form-field appearance="fill">
						<mat-label>{{ "Real-estate-add.floor-number" | translate }}</mat-label>
						<span matPrefix>
							<div class="box-icon"><mat-icon>location_city</mat-icon></div>
						</span>
						<input
							id="numberOfFloors"
							formControlName="numberOfFloors"
							type="number"
							aria-label="NumberOfFloors"
							matInput
							placeholder="{{ 'Real-estate-add.floor-number' | translate }}"
						/>
						<mat-error
							*ngIf="addRealEstateFormRemainingData.controls['numberOfFloors'].errors?.['required']"
						>
							{{ "Real-estate-add.no-floor-number-info" | translate }}!
						</mat-error>
						<mat-error
							*ngIf="addRealEstateFormRemainingData.controls['numberOfFloors'].errors?.['min']"
						>
							{{ "wrong-value" | translate }}!
						</mat-error>
					</mat-form-field>
					<div class="subtitle"></div>
					<mat-form-field appearance="fill">
						<mat-label>{{ "Real-estate-add.equipment" | translate }}</mat-label>
						<span matPrefix>
							<div class="box-icon">
								<mat-icon class="material-symbols-outlined"> construction </mat-icon>
							</div>
						</span>
						<mat-select id="equipment" formControlName="equipmentIds" multiple>
							<mat-option
								*ngFor="let equipment of this.realEstateService.equipment"
								[value]="equipment.equipmentId"
							>
								{{ equipment.name | translate }}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<div class="button-box">
						<button mat-raised-button matStepperPrevious color="primary">
							{{ "previous" | translate }} <mat-icon>arrow_back_ios</mat-icon>
						</button>
						<div class="btn-spacer"></div>
						<button
							mat-raised-button
							matStepperNext
							color="primary"
							[disabled]="!addRealEstateFormRemainingData.valid"
						>
							{{ "next" | translate }}
							<mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
						</button>
					</div>
				</form>
			</mat-step>
		</div>
		<div class="box">
			<mat-step [stepControl]="addRealEstateFormPhotos">
				<ng-template matStepLabel
					><span class="step-label">{{
						"Real-estate-add.photo" | translate
					}}</span></ng-template
				>
				<form [formGroup]="addRealEstateFormPhotos">
					<div class="button-box-function">
						<div class="gallery">
							<a *ngFor="let url of photos">
								<button
									class="delete-icon"
									id="deletePhoto"
									type="button"
									mat-icon-button
									aria-label="DeletePhoto"
									matTooltip="{{ 'Real-estate-add.delete-photo' | translate }}"
									(click)="onPhotoDelete(url.name)"
								>
									<mat-icon>delete_forever</mat-icon>
								</button>
								<img class="img" [src]="url.path" />
							</a>
						</div>
						<input
							#fileUpload
							id="file"
							class="file-input"
							type="file"
							accept="image/*"
							multiple
							formControlName="photos"
							aria-label="File"
							(change)="onFileSelected($event)"
						/>
						<div
							*ngIf="
								modificationType === mType.ADD &&
								addRealEstateFormPhotos.get('photos')?.hasError('required')
							"
						>
							{{ "Real-estate-add.no-photo-info" | translate }}.
						</div>
						<div class="batch">
							<div class="desctext">
								{{ fileName || "{{ 'Real-estate-add.add-photo' | translate }}" }}
							</div>

							<button
								mat-mini-fab
								color="primary"
								id="upload"
								aria-label="Upload"
								(click)="fileUpload.click()"
							>
								<mat-icon>attach_file</mat-icon>
							</button>
						</div>
						<div class="button-box">
							<button mat-raised-button color="primary" matStepperPrevious>
								{{ "previous" | translate }} <mat-icon>arrow_back_ios</mat-icon>
							</button>
							<div class="btn-spacer"></div>
							<button
								mat-raised-button
								color="primary"
								matStepperNext
								[disabled]="!addRealEstateFormPhotos.valid"
							>
								{{ "next" | translate }}
								<mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
							</button>
						</div>
					</div>
				</form>
			</mat-step>
		</div>
		<div class="box">
			<mat-step [completed]="completed">
				<ng-template *ngIf="completed" matStepLabel
					><span class="step-label">{{
						"Real-estate-add.ready" | translate
					}}</span></ng-template
				>
				<div class="button-box-function">
					<div
						*ngIf="
							addRealEstateFormAddressData.valid &&
							addRealEstateFormRemainingData.valid &&
							addRealEstateFormPhotos.valid
						"
						class="button-box-function"
					>
						<mat-icon class="success-icon" [inline]="true"> insert_emoticon</mat-icon>
						<h2>{{ "Real-estate-add.form" | translate }}!</h2>
						<h2>
							Klikająć na przycisk
							{{
								modificationType === mType.ADD
									? '"Zapisz nieruchomość"'
									: '"Zapisz zmiany"'
							}}
							potwierdzasz prawdziwość wprowadzonych danych.
						</h2>
					</div>
					<div class="button-box">
						<button
							*ngIf="!completed"
							mat-raised-button
							color="primary"
							matStepperPrevious
						>
							{{ "previous" | translate }} <mat-icon>arrow_back_ios</mat-icon>
						</button>
						<button
							*ngIf="completed"
							mat-raised-button
							color="primary"
							(click)="onReturn()"
						>
							{{ "return" | translate }} <mat-icon>arrow_back_ios</mat-icon>
						</button>
						<div class="btn-spacer"></div>
						<button
							*ngIf="
								addRealEstateFormAddressData.valid &&
								addRealEstateFormRemainingData.valid &&
								addRealEstateFormPhotos.valid
							"
							id="addRealEstate"
							type="submit"
							mat-raised-button
							color="primary"
							aria-label="AddRealEstate"
							(click)="saveRealEstate()"
						>
							{{
								modificationType === mType.ADD ? "Zapisz nieruchomość" : "Zapisz zmiany"
							}}
						</button>
						<div class="btn-spacer"></div>
						<button
							*ngIf="modificationType === mType.ADD"
							mat-raised-button
							color="primary"
							[disabled]="completed"
							(click)="formReset()"
						>
							Reset
						</button>
					</div>
				</div>
			</mat-step>
		</div>
	</mat-stepper>
</mat-card>
