<h1 class="dialog-title text-2xl p-4 font-semibold">
	{{ "Rents.add-rent" | translate }}
</h1>
<div mat-dialog-content>
	<form
		class="flex flex-col"
		[formGroup]="rentPropositionForm"
		(ngSubmit)="onYesClick()"
	>
		<mat-form-field>
			<mat-label>{{ "Rents.start-date" | translate }}</mat-label>
			<input
				matInput
				readonly
				formControlName="startDate"
				[min]="minDate"
				[matDatepicker]="datepicker"
				(dateChange)="setLocalDate($event, rentPropositionForm.get('startDate'))"
			/>
			<mat-datepicker-toggle
				matIconSuffix
				[for]="datepicker"
			></mat-datepicker-toggle>
			<mat-datepicker #datepicker></mat-datepicker>
			<mat-error
				*ngIf="rentPropositionForm.controls['startDate'].errors?.['required']"
			>
				{{ "required-field" | translate }}!
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<mat-label>{{ "Rents.rental-period" | translate }}</mat-label>
			<input
				matInput
				formControlName="duration"
				type="number"
				placeholder="{{ 'Rents.month-number-rent' | translate }}"
				[min]="1"
			/>
			<mat-error
				*ngIf="rentPropositionForm.controls['duration'].errors?.['required']"
			>
				{{ "required-month-info1" | translate }}!
			</mat-error>
			<mat-error *ngIf="rentPropositionForm.controls['duration'].errors?.['min']">
				{{ "required-month-info2" | translate }}!
			</mat-error>
		</mat-form-field>
		<mat-form-field class="example-chip-list">
			<mat-label>{{ "Rents.roommates-email" | translate }}</mat-label>
			<mat-chip-grid #chipGrid2 aria-label="Emails">
				<mat-chip-row
					*ngFor="let tenant of tenants"
					[editable]="true"
					[aria-description]="'press enter to edit ' + tenant"
					(removed)="remove(tenant, tenants)"
					(edited)="edit(tenant, $event)"
				>
					{{ tenant }}
					<button matChipRemove type="button" [attr.aria-label]="'remove ' + tenant">
						<mat-icon>cancel</mat-icon>
					</button>
				</mat-chip-row>
				<input
					placeholder="{{ 'Rents.address-email-roommates' | translate }}"
					[formControl]="tenantsCtrl"
					[matChipInputFor]="chipGrid2"
					[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
					[matChipInputAddOnBlur]="addOnBlur"
					(matChipInputTokenEnd)="add($event, tenants, tenantsCtrl)"
				/>
			</mat-chip-grid>
		</mat-form-field>
		<div
			*ngIf="{
				emailError: invalidEmail$ | async,
				tenantsError: tooManyTenants$ | async
			} as errors"
		>
			<mat-error *ngIf="errors.emailError">
				{{ "Rents.rent-info4" | translate }}
			</mat-error>
			<mat-error *ngIf="errors.tenantsError">
				{{ "Rents.rent-info5" | translate }} -
				{{ data.maxNumberOfInhabitants - 1 }}!
			</mat-error>
		</div>
	</form>
	<p class="mb-4">{{ "Rents.agree-rental" | translate }}?</p>
</div>
<div mat-dialog-actions class="button-box">
	<div class="button-box-yn">
		<button
			mat-button
			mat-dialog-close
			cdkFocusInitial
			type="button"
			(click)="onClose()"
		>
			{{ "no" | translate }}
		</button>
		<button
			mat-raised-button
			type="submit"
			color="primary"
			(click)="onYesClick()"
		>
			{{ "yes" | translate }}
		</button>
	</div>
</div>
