#map {
	height: 70vh;
	width: 70vw;
	max-width: 100%;
	margin: 32px;
	border-radius: 4px;
}

.box-icon-function {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.box-title {
	display: flex;
	justify-content: space-between;
}

.ico {
	font-size: xx-large;
	min-width: max-content;
	min-height: max-content;
}
