<mat-card *ngIf="student$ | async as student" class="m-3 p-4">
	<mat-card-header>
		<mat-icon mat-card-avatar>check_circle</mat-icon>
		<mat-card-title class="text-2xl"
			>{{ student.name }}, {{ student.age }}</mat-card-title
		>
	</mat-card-header>
	<mat-card-content>
		<img
			mat-card-image
			class="m-auto mb-3 w-full"
			alt="Candidate image"
			src="{{ baseUrl }}/{{ student.profilePicture.path }}"
		/>
		<div>
			<mat-icon>school</mat-icon> Uczelnia:
			<div>{{ student.university }}</div>
		</div>
		<div>
			<mat-icon>travel_explore</mat-icon>
			Zainteresowania:
			<mat-chip-listbox class="justify-around" aria-label="Candidate interest">
				<mat-chip *ngFor="let interest of student.interests">
					<mat-icon matChipAvatar>check_circle</mat-icon>
					{{ interest.name }}
				</mat-chip>
			</mat-chip-listbox>
		</div>

		<mat-card-actions class="flex justify-between">
			<button
				class="scale-[3.0]"
				type="button"
				mat-icon-button
				(click)="reject(student.userId)"
			>
				<mat-icon class="icon-red">cancel</mat-icon>
			</button>
			<button
				class="scale-[3.0]"
				type="button"
				mat-icon-button
				(click)="accept(student.userId)"
			>
				<mat-icon class="icon-green">check_circle</mat-icon>
			</button>
		</mat-card-actions>
	</mat-card-content>
</mat-card>
