<mat-card class="flex justify-center">
	<mat-card-header class="justify-center mx-auto pt-1 w-3/4 md:w-2/5">
		<mat-card-title class="text-2xl">
			<h1>Dodaj ofertę</h1>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<form class="w-full">
			<mat-label
				class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
				>Cena:
			</mat-label>
			<mat-form-field class="md:w-2/3" appearance="outline">
				<input matInput id="price" />
				<span matTextSuffix>zł</span>
			</mat-form-field>

			<mat-label
				class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
				>Okres wynajmu:
			</mat-label>

			<mat-form-field class="md:w-2/3" appearance="outline">
				<mat-date-range-input [rangePicker]="picker">
					<input matStartDate placeholder="Początek" />
					<input matEndDate placeholder="Koniec" />
				</mat-date-range-input>
				<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-date-range-picker #picker></mat-date-range-picker>
			</mat-form-field>

			<mat-label
				class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
				>Wybierz nieruchomość:
			</mat-label>
			<mat-form-field class="md:w-2/3" appearance="outline">
				<mat-select>
					<mat-option value="one">First option</mat-option>
					<mat-option value="two">Second option</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-label
				class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
				>Opis:
			</mat-label>
			<mat-form-field class="md:w-2/3" appearance="outline">
				<textarea matInput></textarea>
			</mat-form-field>

			<div>
				<button mat-stroked-button class="w-full" type="button">
					Dodaj regulamin
					<mat-icon>attach_file</mat-icon>
				</button>
			</div>
			<div class="flex justify-between items-center mt-16 mb-8 space-x-32">
				<button
					class="shadow bg-orange-300 hover:bg-orange-400 focus:shadow-outline focus:outline-none text-black py-2 px-4 rounded"
					type="submit"
				>
					ZAPISZ
				</button>
			</div>
		</form>
	</mat-card-content>
</mat-card>
