.form-group {
	margin: 16px 0;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buttons button {
	width: 50%;
	margin-bottom: 10px;
}

.buttons .btn-submit {
	background-color: #6200ee;
	color: #fff;
	border-style: solid;
	border-color: #6200ee;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.buttons .btn-submit:hover {
	background-color: #fff;
	color: #6200ee;
}

.buttons .btn-log-in {
	background-color: #fff;
	color: #6200ee;
	border-style: solid;
	border-color: #fff;
	transition: border-color 0.3s ease;
}

.buttons .btn-log-in:hover {
	border-color: #6200ee;
}

mat-card-title {
	font-size: 24px;
	margin-top: 16px;
	text-align: center;
}

mat-form-field {
	width: 100%;
}
