<mat-card>
	<mat-card-content>
		<form [formGroup]="registerForm">
			<div class="form-group">
				<mat-form-field>
					<mat-label>Imię</mat-label>
					<input matInput formControlName="name" name="name" />
					<mat-error *ngIf="registerForm.controls['name'].errors?.['required']">
						Nie podano imienia!
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Nazwisko</mat-label>
					<input matInput formControlName="surname" name="surname" />
					<mat-error *ngIf="registerForm.controls['surname'].errors?.['required']">
						Nie podano nazwiska!
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Adres email</mat-label>
					<input matInput formControlName="email" name="email" />
					<mat-error *ngIf="registerForm.controls['email'].errors?.['required']">
						Nie podano adresu email!
					</mat-error>
					<mat-error *ngIf="registerForm.controls['email'].errors?.['email']">
						Nieprawidłowy adres email!
					</mat-error>
					<mat-error *ngIf="registerForm.controls['email'].errors?.['emailExist']">
						Podany adres email istnieje już w systemie!
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Hasło</mat-label>
					<input
						matInput
						name="password"
						formControlName="password"
						required
						[type]="hidePassword ? 'password' : 'text'"
					/>
					<mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
						hidePassword ? "visibility_off" : "visibility"
					}}</mat-icon>
					<mat-error *ngIf="registerForm.controls['password'].errors?.['required']">
						Nie podano hasła!
					</mat-error>
					<mat-error *ngIf="registerForm.controls['password'].errors?.['pattern']">
						Hasło powinno zawierać przynajmniej 8 znaków, w tym małe i wielke litery
						oraz cyfry!
					</mat-error>
				</mat-form-field>
				<mat-hint class="text-sm"
					>Użyj przynajmniej 8 znaków, w tym jednocześnie małych i wielkich liter
					oraz cyfr</mat-hint
				>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Powtórz hasło</mat-label>
					<input
						matInput
						name="confirmPassword"
						formControlName="confirmPassword"
						required
						[type]="hideConfirmPasword ? 'password' : 'text'"
					/>
					<mat-icon matSuffix (click)="hideConfirmPasword = !hideConfirmPasword">{{
						hideConfirmPasword ? "visibility_off" : "visibility"
					}}</mat-icon>
					<mat-error
						*ngIf="registerForm.controls['confirmPassword'].errors?.['required']"
					>
						Nie powtórzono hasła!
					</mat-error>
				</mat-form-field>
				<mat-error *ngIf="registerForm.errors?.['matchPassword']" class="pl-4">
					Hasła różnią się od siebie!
				</mat-error>
			</div>
		</form>
	</mat-card-content>
</mat-card>
