<mat-card *ngIf="!createProfileMode">
	<div class="buttons">
		<button
			mat-raised-button
			color="primary"
			type="button"
			[routerLink]="['profile/create/student']"
		>
			Rejestracja studenta
		</button>
		<button
			mat-raised-button
			color="primary"
			type="button"
			[routerLink]="['profile/create/owner']"
		>
			Rejestracja właściciela
		</button>
	</div>
</mat-card>
<mat-card *ngIf="createProfileMode">
	<!-- <mat-card-title *ngIf="!createProfileMode">REJESTRACJA</mat-card-title> -->
	<mat-card-content>
		<form [formGroup]="registerForm">
			<div class="form-group">
				<mat-form-field>
					<mat-label>Imię</mat-label>
					<input matInput formControlName="name" name="name" required />
					<mat-error
						*ngIf="registerForm.controls['name'].errors?.['required']"
						class="error-text"
					>
						Nie podano imienia!
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Nazwisko</mat-label>
					<input matInput formControlName="surname" name="surname" required />
					<mat-error
						*ngIf="registerForm.controls['surname'].errors?.['required']"
						class="error-text"
					>
						Nie podano nazwiska!
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Adres email</mat-label>
					<input matInput formControlName="email" name="email" required />
					<mat-error
						*ngIf="registerForm.controls['email'].errors?.['required']"
						class="error-text"
					>
						Nie podano adresu email!
					</mat-error>
					<mat-error
						*ngIf="registerForm.controls['email'].errors?.['email']"
						class="error-text"
					>
						Nieprawidłowy adres email!
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Hasło</mat-label>
					<input
						matInput
						name="password"
						formControlName="password"
						required
						[type]="hidePassword ? 'password' : 'text'"
					/>
					<mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
						hidePassword ? "visibility_off" : "visibility"
					}}</mat-icon>
					<mat-error
						*ngIf="registerForm.controls['password'].errors?.['required']"
						class="error-text"
					>
						Nie podano hasła!
					</mat-error>
					<mat-error
						*ngIf="registerForm.controls['password'].errors?.['pattern']"
						class="error-text"
					>
						Hasło powinno zawierać przynajmniej 8 znaków, w tym małe i wielke litery,
						cyfry i symbole!
					</mat-error>
				</mat-form-field>
				<mat-hint class="text-sm"
					>Użyj przynajmniej 8 znaków, w tym jednocześnie małych i wielkich liter,
					cyfr i symboli</mat-hint
				>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Powtórz hasło</mat-label>
					<input
						matInput
						name="confirmPassword"
						formControlName="passwordRepeat"
						required
						[type]="hideConfirmPasword ? 'password' : 'text'"
					/>
					<mat-icon matSuffix (click)="hideConfirmPasword = !hideConfirmPasword">{{
						hideConfirmPasword ? "visibility_off" : "visibility"
					}}</mat-icon>
					<mat-error
						*ngIf="registerForm.controls['passwordRepeat'].errors?.['required']"
						class="error-text"
					>
						Nie powtórzono hasła!
					</mat-error>
					<mat-error
						*ngIf="registerForm.controls['passwordRepeat'].errors?.['passwordValid']"
						class="error-text"
					>
						Hasła różnią się od siebie!
					</mat-error>
				</mat-form-field>
			</div>
			<!-- <div *ngIf="!createProfileMode" class="buttons">
				<button mat-raised-button color="primary" type="submit">
					ZAREJESTRUJ SIĘ
				</button>
				<button mat-raised-button color="basic" routerLink="/login">
					ZALOGUJ SIĘ
				</button>
			</div> -->
		</form>
	</mat-card-content>
</mat-card>
