.slider {
	width: 100%;
	min-height: 600px;
	overflow: hidden;
	position: relative;
	background: radial-gradient(
		circle,
		rgba(0, 212, 255, 0) 14%,
		rgba(251, 188, 139, 0.61) 97%
	);
}

.slide {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.offer-title-outer {
	position: absolute;
	padding: 4px;
	top: 0;
	left: 0;
	z-index: 1000;
}

.offer-title-inner {
	background: rgba(0, 0, 0, 0.204);
	color: white;
	position: absolute;
	min-width: max-content;
	padding: 4px;
	z-index: 996;
}

.menu-title {
	position: absolute;
	padding: 4px;
	top: 0;
	right: 0;
}

.arrow {
	position: absolute;
	z-index: 1002;
	display: block;
	top: 50%;
	margin-top: -35px;
	width: 36px;
	height: 71px;
	outline: none !important;
	cursor: pointer;
	background: rgba(255, 255, 255, 0) no-repeat;
	border: none;
}

.arrow.prev {
	opacity: 0.2;
	left: 20px;
	transition: 0.2s linear all;
}

.arrow.next {
	opacity: 0.2;
	right: 20px;
	transition: 0.2s linear all;
}

.arrow.prev:hover {
	opacity: 1;
}

.arrow.next:hover {
	opacity: 1;
}

.nav {
	text-align: center;
	display: block;
	position: absolute;
	z-index: 1002;
	left: 0;
	bottom: -4px;
	right: 0;
	height: 48px;
}

.non-draggable-image {
	-webkit-user-drag: none;
}

.nav .wrapper {
	margin: 0 auto;
	width: 100%;
	padding: 1em 0 0.8em;
}

.nav ul {
	margin: 0;
	width: 100%;
}

.nav .dot,
.nav .dot span {
	display: inline-block;
	cursor: pointer;
}

.dots .dot {
	position: relative;
	margin: 0 8px;
	width: 12px;
	height: 12px;
}

.dots .dot span {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 6px;
	height: 6px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: #fff;
	border: 1px solid transparent;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background-color 0.25s, border-color 0.25s;
	-moz-transition: background-color 0.25s, border-color 0.25s;
	transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot span.active {
	border-color: #fff;
	background-color: transparent;
}

.box-icon {
	font-size: large;
	margin: 4px;
}

.box-equipment {
	display: flex;
	align-items: center;
}

.icon {
	font-size: xx-large;
	padding: 4px;
}

.button-box {
	display: flex;
	flex-direction: row;
	column-gap: 4px;
	padding: 4px;
	float: right;
	margin-left: auto;
}

.delete-property {
	color: red;
}

.column {
	padding: 4px;
	float: left;
	width: 50%;
	overflow-wrap: break-word;
	max-width: 800px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.gallery {
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
}

.label-description {
	padding: 4px;
	min-width: 160px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	float: left;
}

.label-box {
	display: inline-block;
	justify-content: left;
	padding: 4px 0;
}

@media screen and (max-width: 700px) {
	.slider {
		width: 100%;
		min-height: 300px;
		overflow: hidden;
		position: relative;
		background: #ffffff;
	}
	.column {
		padding: 4px;
		float: left;
		width: 50%;
		overflow-wrap: break-word;
		max-width: 200px;
	}
}

@media screen and (max-width: 800px) {
	.offer-title-inner {
		background: rgba(0, 0, 0, 0.204);
		color: white;
		position: absolute;
		min-width: 300px;
		padding: 4px;
		z-index: 996;
	}
	.box-equipment {
		display: flex;
		align-items: center;
		max-width: 150px;
		overflow: hidden;
	}
	.column {
		padding: 4px;
		float: left;
		width: 50%;
		overflow-wrap: break-word;
		max-width: 300px;
	}
}
