.box-title {
	display: flex;
	justify-content: space-between;
}

.box-date {
	display: flex;
	justify-content: left;
	width: fit-content;
	margin-bottom: 16px;
}

.box-icon-valid {
	font-size: x-large;
	color: green;
}

.box-icon-invalid {
	font-size: x-large;
	color: grey;
}

.container-list {
	text-align: left;
	box-shadow: 8px 8px 30px -12px rgba(0, 0, 0, 0.24);
	min-height: 100%;
	min-width: max-content;
}

.container-outlet {
	width: 100%;
	margin-left: 8px;
}

.item-list {
	min-height: 92px;
}

.rents-owner {
	background: white;
	display: flex;
	flex-direction: row;
	margin: 0 12px;
}

.rents-student {
	margin: 0 12px;
}

.not-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 768px) {
	.container-list {
		text-align: left;
		box-shadow: 8px 8px 30px -12px rgba(0, 0, 0, 0.24);
		min-height: 100%;
		min-width: 100%;
	}
}

@media screen and (max-width: 992px) {
	.rents-owner {
		background: white;
		display: flex;
		flex-direction: column;
		margin: 0 12px;
	}
	.container-outlet {
		width: 100%;
		margin-left: 0;
		padding: 4px;
	}
	.box-title {
		display: flex;
		justify-content: space-between;
		max-width: 100%;
	}
}
