<div *ngIf="{ user: user$ | async, rents: rentsOffers$ | async } as data">
	<div class="box-title">
		<div
			*ngIf="data.user === uType.OWNER || data.user === uType.STUDENT"
			class="text-4xl p-4 font-semibold"
		>
			{{ "Rents.browse-rentals" | translate }}
		</div>
		<div *ngIf="data.user === uType.DETAILS" class="text-4xl p-4 font-semibold">
			{{ "Rents.rental-view" | translate }}
		</div>
	</div>
	<ng-template #notFound>
		<h1 class="text-3xl p-4">{{ "Rents.rent-info0" | translate }}</h1>
	</ng-template>
	<div
		*ngIf="
			(data.user === uType.OWNER || data.user === uType.STUDENT) &&
			!data.rents?.totalCount
		"
		class="not-found"
	>
		<ng-container [ngTemplateOutlet]="notFound"></ng-container>
	</div>
	<div
		*ngIf="
			(data.user === uType.OWNER || data.user === uType.STUDENT) &&
			data.rents?.totalCount
		"
		class="rents-owner"
	>
		<div class="container-list">
			<h1 class="text-3xl pl-4 font-semibold">
				{{ "Rents.my-rental" | translate }}
			</h1>
			<mat-divider class="divider"></mat-divider>
			<mat-nav-list>
				<a
					*ngFor="let rent of data.rents?.result"
					mat-list-item
					class="item-list"
					routerLink="{{ rent.rentId }}"
					><div class="box-title">
						<div class="flex-col text-xl font-bold">
							<div>
								{{ "Rents.rent" | translate }} -
								{{ realEstateService.propertyTypes.get(rent.propertyType) }}
							</div>
							<div>{{ rent.propertyAddress }}</div>
						</div>
						<mat-icon
							[ngClass]="rent.isFinished ? 'box-icon-invalid' : 'box-icon-valid'"
							>check_circle</mat-icon
						>
					</div>
					<div class="box-date">
						{{ "Calendar.date" | translate }} {{ rent.startDate | date }}
					</div>
				</a>
			</mat-nav-list>
		</div>
		<div class="container-outlet">
			<router-outlet></router-outlet>
		</div>
	</div>
	<div *ngIf="data.user === uType.DETAILS" class="rents-student">
		<router-outlet></router-outlet>
	</div>
</div>
