<div class="box-title">
	<div class="text-4xl p-4 font-semibold">Przeglądaj swoje wynajmy</div>
</div>
<div class="rents">
	<div class="container-1">
		<h1 class="text-3xl pl-4">
			Moje wynajmy
			<button
				mat-icon-button
				id="add"
				class="box-icon"
				aria-label="Add"
				matTooltip="Utwórz najem"
				(click)="addOffer()"
			>
				<mat-icon>add</mat-icon>
			</button>
		</h1>
		<mat-divider class="divider"></mat-divider>
		<mat-nav-list>
			<a
				*ngFor="let rent of rentsOptions$ | async"
				mat-list-item
				routerLink="{{ rent.id }}"
				><div class="box-1">
					<span class="text-xl font-bold">{{ rent.title }}</span>
					<mat-icon *ngIf="rent.status !== statusName.SUSPENDED" class="box-icon-2"
						>check_circle</mat-icon
					>
					<mat-icon *ngIf="rent.status === statusName.SUSPENDED" class="box-icon-3"
						>check_circle</mat-icon
					>
				</div>
				<div class="box-2">Data {{ rent.publishDate }}</div>
			</a>
		</mat-nav-list>
	</div>
	<div class="container-2">
		<router-outlet></router-outlet>
	</div>
</div>
