<div class="rents">

    <div class="container-2">
		<h1>Moje wynajmy <mat-icon>add</mat-icon></h1>
        <div class="apartment">
        <p>Mieszkanie 1, Wilanów</p>
        <p>Mieszkanie 2, Mokotów</p>
        <p>Mieszkanie 3, Ochota</p>
        </div>
    </div>
    
    <div class="container-1">
    <div>
		<h1>Wynajem - Mieszkanie 3, Ursynów <mat-icon>edit</mat-icon></h1>
        <mat-icon>keyboard_arrow_left</mat-icon>
        <mat-icon>keyboard_arrow_right</mat-icon>

        <p>Cena</p>
        <p>Płatności</p>
    </div>
        <div class="atributes">
        <p>Data rozpoczęcia</p>
        <p>Data zakończenia</p>
        <p>Adres</p>
        <p>Metraż</p>
        <p>Okres wynajęcia</p>
        <p>Maksymalna liczba mieszkańców</p>
        <p>Wyposażenie</p>
        <p>Data płatności czynszu</p>
        <p>Informacje o umowie</p>
        <p>Współlokatorzy</p>
        </div>

    <div class="button-box">
        <button
            mat-button
            class="btn"
        >
        Szczegóły wynajmu
        </button>

        <button
            mat-button
            class="btn-end"
            
        >
        Zakończ wynajem
        <mat-icon iconPositionEnd>clear</mat-icon>
        </button>
    </div>
    </div>

</div>
