.box-title {
	display: flex;
	justify-content: space-between;
}

.box-date {
	display: flex;
	justify-content: left;
	margin-bottom: 16px;
}

.box-icon {
	font-size: 40px;
	width: max-content;
	height: max-content;
}

.box-icon-valid {
	font-size: x-large;
	color: green;
}

.box-icon-invalid {
	font-size: x-large;
	color: grey;
}

.container-list {
	text-align: left;
	margin-left: 12px;
	min-height: 100%;
	min-width: max-content;
	padding-top: 4px;
}

.container-outlet {
	width: 80%;
	margin: 0 8px;
}

.item-list {
	min-height: 64px;
}

.rents-owner {
	display: flex;
	flex-direction: row;
	margin: 0 12px;
}

.rents-student {
	margin: 0 12px;
}

@media screen and (max-width: 700px) {
	.rents-owner {
		display: flex;
		flex-direction: column;
		margin: 0 12px;
	}
	.container-outlet {
		width: 100%;
		margin-left: 4px;
		padding: 4px;
	}
}
