.box-1 {
	display: inline-flex;
}

.box-icon {
	transform: scale(1.2);
	margin: 8px;
}

.box-icon-2 {
	transform: scale(0.8);
	color: green;
}

.box-icon-3 {
	transform: scale(0.8);
	color: grey;
}

.container-1 {
	text-align: left;
	box-shadow: 8px 8px 30px -12px rgba(0, 0, 0, 0.24);
	margin-left: 12px;
	min-height: 100%;
	min-width: max-content;
	padding-top: 12px;
}

.container-2 {
	width: 80%;
	margin: 0 8px 0 8px;
}

h1 {
	font-size: x-large;
	padding-left: 12px;
}

.rents {
	background: white;
	display: flex;
	flex-direction: row;
	margin-left: 12px;
	margin-right: 12px;
}

@media screen and (max-width: 700px) {
	.rents {
		background: white;
		display: flex;
		flex-direction: column;
		margin-left: 12px;
		margin-right: 12px;
	}
	.container-2 {
		width: 100%;
		margin-left: 4px;
		padding: 4px;
	}
}
