.box-1 {
	display: flex;
	justify-content: space-between;
}

.box-2 {
	display: flex;
	justify-content: left;
}

.box-icon {
	transform: scale(1.2);
	margin: 8px;
}

.box-icon-2 {
	transform: scale(0.8);
	color: green;
}

.box-icon-3 {
	transform: scale(0.8);
	color: grey;
}

.box-title {
	align-self: left;
	text-align: left;
	padding: 20px 0 20px 12px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);
	background-color: white;
	margin: 0 12px;
}

.colour-text {
	color: #fbbb8b;
	text-shadow: 1px 1px 1px black;
}

.container-1 {
	text-align: left;
	box-shadow: 8px 8px 30px -12px rgba(0, 0, 0, 0.24);
	margin-left: 12px;
	min-height: 100%;
	min-width: max-content;
	padding-top: 4px;
}

.container-2 {
	width: 80%;
	margin: 0 8px;
}

.rents {
	background: white;
	display: flex;
	flex-direction: row;
	margin: 0 12px;
}

@media screen and (max-width: 700px) {
	.rents {
		background: white;
		display: flex;
		flex-direction: column;
		margin: 0 12px;
	}
	.container-2 {
		width: 100%;
		margin-left: 4px;
		padding: 4px;
	}
}
