<footer>
  <div class="column quick-links">
    <ul>
      <li><a href="#">O nas</a></li>
      <li><a href="#">Kariera</a></li>
      <li><a href="#">Bezpieczeństwo</a></li>
      <li><a href="#">Motody płatności</a></li>
    </ul>
  </div>

  <div class="column quick-links">
    <ul>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Dla właścicieli mieszkań</a></li>
      <li><a href="#">Regulamin</a></li>
      <li><a href="#">Polityka prywatności</a></li>
    </ul>
  </div>

  <div class="column">
    <p>Copyright</p>

    <img id="logo-footer" src="./assets/logoFlats4Us.png" alt="Company Logo">
  </div>

  <div class="column social-logos">
    <div class="row">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="row">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  </div>
</footer>
