mat-form-field {
	display: inline;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[matinput][type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}
