mat-card {
	padding: 20px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

mat-form-field {
	width: 100%;
	margin: 2px 0;
}

::-ms-reveal {
	display: none;
}

::ng-deep .mdc-notched-outline__notch {
	border-right: none !important;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buttons button {
	width: 100%;
	margin-bottom: 10px;
}

.buttons .btn-submit {
	background-color: #000000;
	color: #f3f4f6;
	border-style: solid;
	border-color: #000000;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.buttons .btn-submit:hover,
.buttons .btn-loginSubmit:focus {
	background-color: #f3f4f6;
	color: #000000;
}

.buttons .btn-cancel {
	background-color: #6200ee;
	color: #fff;
	border-style: solid;
	border-color: #6200ee;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.buttons .btn-cancel:hover,
.buttons .btn-register:focus {
	background-color: #fff;
	color: #6200ee;
}

.buttons .btn-submit:disabled {
	background-color: #b8b8b8;
	border-color: #b8b8b8;
	color: #000000;
}
