<mat-card>
	<h1>Zmiana hasła</h1>
	<mat-card-content class="mx-auto pt-1 w-3/5 md:w-1/3">
		<form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
			<mat-form-field class="no-border-style" appearance="outline">
				<mat-label>Aktualne hasło</mat-label>
				<input
					formControlName="currentPassword"
					matInput
					[type]="hideCurrentPassword ? 'password' : 'text'"
				/>
				<button
					mat-icon-button
					type="button"
					matSuffix
					(click)="hideCurrentPassword = !hideCurrentPassword"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hideCurrentPassword"
				>
					<mat-icon>{{
						hideCurrentPassword ? "visibility_off" : "visibility"
					}}</mat-icon>
				</button>
			</mat-form-field>

			<mat-form-field class="no-border-style" appearance="outline">
				<mat-label>Nowe hasło</mat-label>
				<input
					formControlName="firstNewPassword"
					matInput
					[type]="hideFirstNewPassword ? 'password' : 'text'"
				/>
				<button
					mat-icon-button
					type="button"
					matSuffix
					(click)="hideFirstNewPassword = !hideFirstNewPassword"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hideFirstNewPassword"
				>
					<mat-icon>{{
						hideFirstNewPassword ? "visibility_off" : "visibility"
					}}</mat-icon>
				</button>
			</mat-form-field>

			<mat-form-field class="no-border-style" appearance="outline">
				<mat-label>Powtórz nowe hasło</mat-label>
				<input
					formControlName="secondNewPassword"
					matInput
					[type]="hideSecondNewPassword ? 'password' : 'text'"
				/>
				<button
					mat-icon-button
					type="button"
					matSuffix
					(click)="hideSecondNewPassword = !hideSecondNewPassword"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hideSecondNewPassword"
				>
					<mat-icon>{{
						hideSecondNewPassword ? "visibility_off" : "visibility"
					}}</mat-icon>
				</button>
			</mat-form-field>

			<div class="buttons">
				<button
					mat-flat-button
					class="btn-submit"
					type="submit"
					[disabled]="!passwordChangeForm.valid"
				>
					Zapisz
				</button>
				<button mat-flat-button class="btn-cancel" type="button" routerLink="../">
					Anuluj
				</button>
			</div>
		</form>
	</mat-card-content>
</mat-card>
