.textarea {
	height: 400px;
	width: 100%;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.good-tags,
.bad-tags {
	flex: 1;
}

.tag {
	margin-right: 8px;
	padding: 4px 12px;
	border: 4px solid #ccc;
	border-radius: 8px;
	cursor: pointer;

	&-komunikatywna {
		background-color: #00dd04;
		color: white;
	}

	&-spokojna {
		background-color: #00dd04;
		color: white;
	}

	&-sprząta {
		background-color: #00dd04;
		color: white;
	}

	&-nie-sprząta {
		background-color: #dd0000;
		color: white;
	}

	&-głośna {
		background-color: #dd0000;
		color: white;
	}
}
