.textarea {
	height: 400px;
	width: 100%;
	background-color: #ded9d9;
	border-radius: 4px;
	border-bottom: 2px solid #090909;
	padding: 5px 0;
}
.full-width {
	width: 100%;
}

.avatar__image {
	width: 100px;
	height: 100px;
}
.left-column {
	flex: 1;
	padding: 20px;
}

.right-column {
	flex: 1;
	padding: 20px;
}

.tags {
	display: flex;
	justify-content: space-between;
}

.good-tags {
	flex: 1;
	text-align: left;
}

.bad-tags {
	flex: 1;
	text-align: left;
}
.good-tags .tag input:checked + label {
	color: green;
}

.bad-tags .tag input:checked + label {
	color: red;
}

.tag {
	display: block;

	&-komunikatywna {
		background-color: #00dd04;
		color: white;
	}

	&-spokojna {
		background-color: #00dd04;
		color: white;
	}

	&-sprząta {
		background-color: #00dd04;
		color: white;
	}

	&-nie-sprząta {
		background-color: #dd0000;
		color: white;
	}

	&-głośna {
		background-color: #dd0000;
		color: white;
	}

	&-tag {
		background-color: #dd0000;
		color: white;
	}
}

.comment {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.comment-avatar {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.comment-author {
	font-weight: bold;
	margin-bottom: 5px;
}

.button-container {
	margin-top: 40px;
}
