<div class="flex flex-column justify-center align-center">
	<mat-card>
		<mat-card-content>
			<section class="flex">
				<div class="left-column">
					<textarea
						class="textarea"
						rows="4"
						cols="50"
						placeholder="Tutaj wpisz opinię..."
						[(ngModel)]="commentText"
					></textarea>
					<div class="tags">
						<div class="good-tags">
							<span class="tag">
								<input
									type="checkbox"
									id="komunikatywna"
									(change)="toggleCheckbox('komunikatywna')"
									[checked]="isChecked('komunikatywna')"
								/>
								<label for="komunikatywna">Komunikatywna</label>
							</span>
							<span class="tag">
								<input
									type="checkbox"
									id="sprzata"
									(change)="toggleCheckbox('sprzata')"
									[checked]="isChecked('sprzata')"
								/>
								<label for="sprzata">Sprząta</label>
							</span>
							<span class="tag">
								<input
									type="checkbox"
									id="spokojna"
									(change)="toggleCheckbox('spokojna')"
									[checked]="isChecked('spokojna')"
								/>
								<label for="spokojna">Spokojna</label>
							</span>
						</div>
						<div class="bad-tags">
							<span class="tag">
								<input
									type="checkbox"
									id="nie_sprzata"
									(change)="toggleCheckbox('nie_sprzata')"
									[checked]="isChecked('nie_sprzata')"
								/>
								<label for="nie_sprzata">Nie sprząta</label>
							</span>
							<span class="tag">
								<input
									type="checkbox"
									id="glosna"
									(change)="toggleCheckbox('glosna')"
									[checked]="isChecked('glosna')"
								/>
								<label for="glosna">Głośna</label>
							</span>
							<span class="tag">
								<input
									type="checkbox"
									id="tag"
									(change)="toggleCheckbox('tag')"
									[checked]="isChecked('tag')"
								/>
								<label for="tag">Tag</label>
							</span>
						</div>
					</div>
				</div>
				<div class="right-column">
					<div class="flex justify-center">
						<img
							mat-card-avatar
							src="https://placehold.co/400"
							alt="avatar"
							class="avatar__image"
						/>
					</div>
					<div class="profile-name flex justify-center"><b>Dodaj opinę o</b></div>
					<div class="profile-name flex justify-center">Agnieszka</div>
					<div class="profile-rating__wrapper flex flex-col">
						<div class="profile-rating__stars mx-auto">
							<mat-icon class="filled">star</mat-icon>
							<mat-icon class="filled">star</mat-icon>
							<mat-icon class="filled">star</mat-icon>
							<mat-icon class="filled">star</mat-icon>
							<mat-icon class="filled">star</mat-icon>
						</div>
					</div>
					<div class="other-comments">
						<div class="comment">
							<div class="comment-header">
								<div class="user-info">
									<img
										src="https://placehold.co/400"
										alt="Аватар пользователя"
										class="comment-avatar"
									/>
									<div class="comment-author">Robert</div>
									<div class="comment-date">20/09/2023</div>
								</div>
							</div>
							<div class="comment-content">przykładowy komentarz</div>
						</div>
					</div>
				</div>
			</section>
			<mat-card-actions
				class="button-container flex flex-column justify-center align-center"
			>
				<button mat-raised-button color="primary" (click)="addComment()">
					Dodaj
				</button>
				<div style="margin: 10px"></div>
				<button mat-raised-button color="warn">ANULUJ</button>
			</mat-card-actions>
		</mat-card-content>
	</mat-card>
</div>
