<mat-toolbar class="custom-toolbar">
	<a class="logo" routerLink="/"
		><img
			class="main-logo"
			id="logo-header"
			src="./assets/logoFlats4Us.png"
			alt="Company Logo"
	/></a>
	<div class="spacer"></div>
	<div *ngIf="isUserLoggedIn" class="full-main-button">
		<a class="start" routerLink="/">
			<mat-icon
				class="home"
				aria-hidden="false"
				aria-label="Example home icon"
				fontIcon="home"
			></mat-icon>
		</a>

		<button class="map" mat-menu-item>
			<span><mat-icon>map</mat-icon></span
			>MAPA
		</button>
		<button class="tidings" mat-menu-item [matMenuTriggerFor]="tidings">
			<span><mat-icon>speaker_notes</mat-icon></span
			>WIADOMOŚCI
		</button>
		<mat-menu #tidings="matMenu">
			<button mat-menu-item>WIADOMOŚCI Z WŁAŚCICIELEM</button>
			<button mat-menu-item>WIADOMOŚCI Z WSPÓŁLOKATORAMI</button>
		</mat-menu>
		<button class="settings" mat-menu-item [matMenuTriggerFor]="settings">
			<span><mat-icon>settings</mat-icon></span
			>USTAWIENIA
		</button>
		<mat-menu #settings="matMenu">
			<button mat-menu-item>USTAWIENIA POWIADOMIEŃ</button>
			<button mat-menu-item>ZMIEŃ HASŁO</button>
			<button mat-menu-item [matMenuTriggerFor]="help_center">
				CENTRUM POMOCY
			</button>
		</mat-menu>

		<mat-menu #help_center="matMenu">
			<button mat-menu-item>WYŚLIJ ZGŁOSZENIE DO MODERATORA</button>
		</mat-menu>

		<button class="options" mat-menu-item [matMenuTriggerFor]="extended">
			<span><mat-icon>arrow_drop_down</mat-icon></span>
			DODATKOWE
		</button>

		<mat-menu #extended="matMenu">
			<button mat-menu-item>OBSERWOWANE OFERTY</button>
			<button mat-menu-item>OSTATNIO OGLĄDANE OFERTY</button>
			<button mat-menu-item>OPINIE</button>
			<button mat-menu-item>UTWÓRZ NOWY SPÓR</button>
			<button mat-menu-item>KALENDARZ</button>
			<button
				*ngIf="isUserLoggedInAsStudent"
				mat-menu-item
				[matMenuTriggerFor]="roommates"
			>
				WSPÓŁLOKATORZY
			</button>
		</mat-menu>
		<mat-menu #roommates="matMenu">
			<button mat-menu-item>MOJE WYBORY</button>
			<button mat-menu-item>WYBORY W KTÓRYCH MNIE WYBRANO</button>
		</mat-menu>

		<select class="change-lang">
			<option value="pl">PL</option>
			<option value="EN">EN</option>
		</select>
		<span><mat-icon class="sun">sunny</mat-icon> </span>
		<div class="mode">
			<mat-slide-toggle> </mat-slide-toggle>
		</div>
		<span><mat-icon class="moon">dark_mode</mat-icon> </span>
	</div>

	<div *ngIf="isUserLoggedIn" class="photo">
		<button class="your-profile" mat-menu-item [matMenuTriggerFor]="my_profile">
			<img class="your-photo" src="../../assets/1.jpg" alt="" />
		</button>
	</div>
	<mat-menu #my_profile="matMenu">
		<button (click)="profile('1')" mat-menu-item>MÓJ PROFIL</button>
		<button mat-menu-item>EDYTUJ PROFIL</button>
		<button mat-menu-item [matMenuTriggerFor]="payments">PŁATNOŚCI</button>
		<button *ngIf="isUserLoggedInAsStudent" mat-menu-item>MOJE WYNAJMY</button>
		<button *ngIf="!isUserLoggedInAsStudent" mat-menu-item>
			MOJE NIERUCHOMOŚCI
		</button>
		<button mat-menu-item>WYLOGUJ SIĘ</button>
	</mat-menu>

	<mat-menu #payments="matMenu">
		<button mat-menu-item>HISTORIA PŁATNOŚCI</button>
		<button mat-menu-item>OPŁATY</button>
		<button mat-menu-item>KAUCJA</button>
	</mat-menu>

	<div *ngIf="!isUserLoggedIn" class="start-navbar-button spacer">
		<button class="button-log" (click)="logIn()" mat-stroked-button>
			LOGOWANIE
		</button>
		<button class="button-sign" (click)="signIn()" mat-stroked-button>
			REJESTRACJA
		</button>
	</div>
</mat-toolbar>
