.custom-toolbar {
	background-color: #830dd7;
}

.full-main-button {
	display: flex;
	//justify-content: space-between;
	align-items: center;
}

.settings,
.search,
.news,
.options,
.language {
	position: relative;
	border-radius: 30px;
	margin-left: 20px;
}

.parent-button {
	position: relative;
}

.additional-buttons {
	position: absolute;
	top: 100%;
	left: 0;
	display: flex;
	z-index: 9999;
	flex-direction: column;
	justify-content: center;
}

.child-button {
	background-color: #830dd7;
	display: block;
	border-radius: 20px;
	margin-top: 15px;
}

.mode {
	margin-left: 20px;
}

.spacer {
	flex: 1 1 auto;
}

.button-log,
.button-sign {
	border-radius: 30px;
	margin-right: 20px;
}

.button-sign {
	margin-right: 50px;
}

.your-photo {
	border-radius: 100%;
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

.mat-icon-vertical-align {
	vertical-align: middle;
	font-size: 20px;
}

mat-icon {
	align-items: center;
}
