<mat-toolbar class="custom-toolbar" role="heading">
	<a class="h-full logo" routerLink="/">
		<img class="h-full w-auto" src="./assets/logoFlats4Us.svg" alt="" />
	</a>
	<div
		*ngIf="authService.isLoggedIn$ | async"
		class="flex items-center justify-around w-[750px]"
	>
		<ng-container *ngTemplateOutlet="buttons"></ng-container>
	</div>
	<div class="spacer"></div>
	<button mat-button class="languages" [matMenuTriggerFor]="languages">
		PL<mat-icon class="material-icons-outlined">arrow_drop_down</mat-icon>
	</button>
	<mat-menu #languages="matMenu">
		<button mat-menu-item>PL</button>
		<button mat-menu-item>EN</button>
	</mat-menu>
	<button mat-button class="dark-theme" aria-label="Switch to dark theme">
		<mat-icon class="material-icons-outlined">dark_mode</mat-icon>
	</button>

	<div *ngIf="authService.isLoggedIn$ | async; else notLoggedIn">
		<button class="your-profile" [matMenuTriggerFor]="myProfile">
			<img class="your-photo" src="../../assets/1.jpg" alt="Twój profil" />
		</button>
	</div>
	<mat-menu #myProfile="matMenu">
		<button mat-menu-item [routerLink]="['/profile', 1]">Mój profil</button>
		<button mat-menu-item>Edytuj profil</button>
		<button mat-menu-item [matMenuTriggerFor]="payments">Płatności</button>
		<button
			*ngIf="isUserLoggedInAsStudent"
			mat-menu-item
			[routerLink]="['/rents']"
		>
			Moje wynajmy
		</button>
		<button *ngIf="!isUserLoggedInAsStudent" mat-menu-item>
			Moje nieruchomości
		</button>
		<button mat-menu-item (click)="authService.logout()">Wyloguj się</button>
	</mat-menu>

	<mat-menu #payments="matMenu">
		<button mat-menu-item>Historia płatności</button>
		<button mat-menu-item>Opłaty</button>
		<button mat-menu-item>Kaucja</button>
	</mat-menu>

	<ng-template #notLoggedIn>
		<div class="start-navbar-button spacer">
			<button class="button-log" mat-stroked-button [routerLink]="['/auth/login']">
				Logowanie
			</button>
			<button
				class="button-sign"
				mat-stroked-button
				[routerLink]="['/auth/register']"
			>
				Rejestracja
			</button>
		</div>
	</ng-template>
	<button
		mat-icon-button
		class="responsive-menu"
		(click)="showSidenav = !showSidenav"
	>
		<mat-icon class="material-icons-outlined">menu</mat-icon>
	</button>
</mat-toolbar>
<div
	*ngIf="showSidenav"
	class="sidenav flex flex-col w-[180px] h-full bg-white"
>
	<ng-container *ngTemplateOutlet="buttons"></ng-container>
</div>

<ng-template #buttons>
	<a mat-button class="mr-2" routerLink="/">
		<mat-icon
			class="material-icons-outlined"
			aria-hidden="false"
			aria-label="Example home icon"
			fontIcon="home"
		></mat-icon>
		Strona główna
	</a>

	<a mat-button class="mr-2" routerLink="start/map">
		<mat-icon class="material-icons-outlined">map</mat-icon>
		Mapa
	</a>
	<button mat-button class="mr-2" [matMenuTriggerFor]="messages">
		<mat-icon class="material-icons-outlined">chat</mat-icon>
		Wiadomości
	</button>
	<mat-menu #messages="matMenu">
		<button mat-menu-item routerLink="messages">Wiadomości z właścicielem</button>
		<button mat-menu-item routerLink="messages">
			Wiadomości z współlokatorami
		</button>
	</mat-menu>
	<button mat-button class="mr-2" [matMenuTriggerFor]="settings">
		<mat-icon class="material-icons-outlined">settings</mat-icon>
		Ustawienia
	</button>
	<mat-menu #settings="matMenu">
		<button mat-menu-item routerLink="settings/notifications">
			Ustawienia powiadomień
		</button>
		<button mat-menu-item routerLink="settings/password-change">
			Zmień hasło
		</button>
		<button mat-menu-item [matMenuTriggerFor]="helpCenter">Centrum pomocy</button>
	</mat-menu>

	<mat-menu #helpCenter="matMenu">
		<button mat-menu-item routerLink="settings/help-center">
			Wyślij zgłoszenie do moderatora
		</button>
	</mat-menu>

	<button mat-button class="mr-2" [matMenuTriggerFor]="extended">
		<mat-icon class="material-icons-outlined">arrow_drop_down</mat-icon>
		Dodatkowe
	</button>

	<mat-menu #extended="matMenu">
		<button mat-menu-item>Obserwowane oferty</button>
		<button mat-menu-item>Ostatnio oglądane oferty</button>
		<button mat-menu-item>Opinie</button>
		<button mat-menu-item routerLink="calendar">Kalendarz</button>
		<button
			*ngIf="isUserLoggedInAsStudent"
			mat-menu-item
			[matMenuTriggerFor]="roommates"
		>
			Współlokatorzy
		</button>
	</mat-menu>
	<mat-menu #roommates="matMenu">
		<button mat-menu-item>Moje wybory</button>
		<button mat-menu-item>Wybory w których mnie wybrano</button>
	</mat-menu>
</ng-template>
