.custom-toolbar {
  background-color: #fbbb8b;
}

.title {
  font-family: "Rockwell Extra Bold";
  font-size: 35px;
  margin-left: 10px;
}

.full-main-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings,
.tidings,
.options,
.map {
  margin-left: 25px;
}

.change-lang {
  background-color: #fbbb8b;
  margin-left: 100px;
}
.icon-sun {
  margin-left: 30px;
  margin-right: 10px;
  font-size: 10px;
  width: 30px;
  height: 30px;
}

.arrow {
  width: 5px;
  height: 5px;
}
.icon-moon {
  width: 30px;
  height: 30px;
}

.spacer {
  flex: 1 1 auto;
}

.button-log,
.button-sign {
  border-radius: 30px;
  margin-right: 20px;
}

.button-sign {
  margin-right: 50px;
}

.logo {
  width: 150px;
  height: 70px;
}

.your-photo {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-left: 60px;
}
.your-profile {
  margin-right: 30px;
}

.mat-icon-vertical-align {
  vertical-align: middle;
  font-size: 20px;
}

