.custom-toolbar {
	background-color: #fbbb8b;
	height: 100px;
}

.logo {
	margin-top: 55px;
	width: 150px;
	height: 150px;
}
.full-main-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.custom-toolbar {
	background-color: #830dd7;
}

.spacer {
	flex: 1 1 auto;
}

.button-log,
.button-sign {
	border-radius: 30px;
	margin-right: 20px;
}

.button-sign {
	margin-right: 50px;
}

.your-photo {
	border-radius: 100%;
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

.mat-sidenav-container {
	height: 100%;
}
.your-profile {
	margin-right: 30px;
}

span {
	vertical-align: middle;
	font-size: 20px;
}

.full-main-button button {
	width: auto;
	height: auto;
}
