.full-main-button {
	display: flex;
	align-items: center;
}

.settings,
.messages,
.options,
.map {
	margin-left: 25px;
}

.icon-sun {
	margin-left: 30px;
	margin-right: 10px;
	font-size: 10px;
	width: 30px;
	height: 30px;
}

.arrow {
	width: 5px;
	height: 5px;
}

.spacer {
	flex: 1 1 auto;
}

.spacer-not-loggedin {
	flex: 1 1 auto;
}

.button-log,
.button-sign {
	margin-right: 20px;
}

.your-photo {
	border-radius: 100%;
	width: 44px;
	height: 44px;
}

.your-profile {
	min-width: 35px;
	float: right;
	margin-left: 8px;
}

.custom-toolbar .responsive-menu {
	display: none;
}

.custom-toolbar .responsive-menu-lang {
	display: block;
}

@media screen and (max-width: 1000px) {
	.custom-toolbar a:not(.logo) {
		display: none;
	}
	.custom-toolbar
		button:not(.your-profile):not(.responsive-menu):not(.mode_btn):not(
			.responsive-menu-lang
		) {
		display: none;
	}
	.spacer-not-loggedin {
		display: none;
	}
	.custom-toolbar .responsive-menu {
		display: block;
	}
	.custom-toolbar .responsive-menu-lang {
		display: block;
	}
	.sidenav {
		position: absolute;
		right: 0px;
	}

	.sidenav a,
	.sidenav button {
		justify-content: space-between;
	}
}
