.custom-toolbar {
	background-color: #fbbb8b;
}

.full-main-button {
	display: flex;
  align-items: center;
}

.settings,
.messages,
.options,
.map {
	margin-left: 25px;
}

.change-lang {
	background-color: #fbbb8b;
	margin-left: 100px;
}
.icon-sun {
	margin-left: 30px;
	margin-right: 10px;
	font-size: 10px;
	width: 30px;
	height: 30px;
}

.arrow {
	width: 5px;
	height: 5px;
}

.spacer {
	flex: 1 1 auto;
}

.button-log,
.button-sign {
	border-radius: 30px;
	margin-right: 20px;
}

.button-sign {
	margin-right: 50px;
}

.your-photo {
	border-radius: 100%;
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

.your-profile {
	margin-right: 30px;
}

/*span {
	vertical-align: middle;
	font-size: 20px;
}*/

/*.full-main-button button {
	width: auto;
	height: auto;
}*/

.custom-toolbar .responsive-menu{display: none}

@media screen and (max-width: 1100px) {
  .custom-toolbar a:not(.logo):not(.responsive-menu) {display: none;}
  .custom-toolbar button {display: none;}
  .custom-toolbar .responsive-menu {
    float: right;
    display: block;
  }
}
