<mat-card>
	<h2>Zmiana adresu email</h2>
	<mat-card-content class="mx-auto pt-1 w-3/4 md:w-3/5 lg:w-1/3">
		<form [formGroup]="emailChangeForm" (ngSubmit)="onSubmit()">
			<mat-form-field appearance="outline">
				<mat-label>Email</mat-label>
				<input matInput formControlName="email" required email />
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Hasło</mat-label>
				<input
					formControlName="password"
					matInput
					[type]="hide ? 'password' : 'text'"
				/>
				<button
					mat-icon-button
					type="button"
					matSuffix
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide"
					(click)="hide = !hide"
				>
					<mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
				</button>
			</mat-form-field>

			<div class="buttons">
				<button
					mat-flat-button
					color="primary"
					class="btn-submit"
					type="submit"
					[disabled]="!emailChangeForm.valid"
				>
					Zapisz
				</button>
				<button
					mat-flat-button
					color="accent"
					class="btn-cancel"
					type="button"
					routerLink="../"
				>
					Anuluj
				</button>
			</div>
		</form>
	</mat-card-content>
</mat-card>
