<footer>
	<div class="column quick-links">
		<ul>
			<li>
				<a href="#">{{ "Footer.about-us" | translate }}</a>
			</li>
			<li>
				<a href="#">{{ "Footer.career" | translate }}</a>
			</li>
			<li>
				<a href="#">{{ "Footer.security" | translate }}</a>
			</li>
			<li>
				<a href="#">{{ "Footer.payment-methods" | translate }}</a>
			</li>
		</ul>
	</div>

	<div class="column quick-links">
		<ul>
			<li>
				<a href="#">{{ "Footer.faq" | translate }}</a>
			</li>
			<li>
				<a href="#">{{ "Footer.for-owners" | translate }}</a>
			</li>
			<li>
				<a href="#">{{ "Footer.regulations" | translate }}</a>
			</li>
			<li>
				<a href="#">{{ "Footer.privacy-policy" | translate }}</a>
			</li>
		</ul>
	</div>

	<div class="column">
		<p>Copyright {{ version }}</p>

		<img id="logo-footer" alt="Company Logo" [src]="logoUrl$ | async" />
	</div>

	<div class="column social-logos">
		<div class="row">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
		</div>
		<div class="row">
			<a href="#"><i class="fa fa-instagram"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
		</div>
	</div>
</footer>
