<mat-card *ngIf="student$ | async as student" class="m-3 p-4">
	<mat-card-header>
		<mat-card-title class="text-2xl inline-flex items-center pb-8">
			<mat-icon class="mr-4">check_circle</mat-icon>
			<span>{{ student.name }}, {{ student.age }}</span>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<img
			mat-card-image
			class="m-auto mb-3 w-full"
			alt="Candidate image"
			src="{{ baseUrl }}/{{ student.profilePicture.path }}"
		/>
		<div>
			<div class="text-2xl flex items-center mb-4 font-semibold">
				<mat-icon class="mr-4">school</mat-icon>
				<span>{{ "Profile.university" | translate }}:</span>
			</div>
			<div>{{ student.university }}</div>
		</div>
		<div>
			<div class="text-2xl flex items-center mb-4 font-semibold">
				<mat-icon class="mr-4">travel_explore</mat-icon>
				<span>{{ "Profile.interest" | translate }}:</span>
			</div>
			<mat-chip-listbox class="justify-around" aria-label="Candidate interest">
				<mat-chip *ngFor="let interest of student.interests">
					<mat-icon matChipAvatar>check_circle</mat-icon>
					{{ "Interest." + interest.name | translate }}
				</mat-chip>
			</mat-chip-listbox>
		</div>

		<mat-card-actions class="flex justify-between">
			<button
				class="big-icon-button"
				type="button"
				mat-icon-button
				(click)="reject(student.userId)"
			>
				<mat-icon class="icon-red">cancel</mat-icon>
			</button>
			<button
				class="big-icon-button"
				type="button"
				mat-icon-button
				(click)="accept(student.userId)"
			>
				<mat-icon class="icon-green">check_circle</mat-icon>
			</button>
		</mat-card-actions>
	</mat-card-content>
</mat-card>
