<main class="mx-auto pt-1 w-3/5 md:w-1/2 lg:w-1/4">
	<h1>Zaloguj się</h1>

	<form>
		<mat-form-field appearance="outline">
			<mat-label>Login</mat-label>
			<input matInput name="login" required />
		</mat-form-field>

		<mat-form-field class="no-border-style" appearance="outline">
			<mat-label>Password</mat-label>
			<input
				matInput
				name="password"
				[type]="hidePassword ? 'password' : 'text'"
				required
			/>
			<mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
				hidePassword ? "visibility_off" : "visibility"
			}}</mat-icon>
		</mat-form-field>

		<a href="" id="reset-password">Zapomniałeś hasła?</a>

		<div class="buttons">
			<button mat-flat-button class="btn-loginSubmit" type="submit">Login</button>
			<button mat-flat-button class="btn-register" routerLink="/register">
				Rejestracja
			</button>
		</div>
	</form>
</main>
