<main class="container">
	<h1>Zaloguj się</h1>

	<form>
		<mat-form-field appearance="outline">
			<mat-label>Login</mat-label>
			<input matInput name="login" required />
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Password</mat-label>
			<input
				matInput
				name="password"
				[type]="hidePassword ? 'password' : 'text'"
				formControlName="password"
				required
			/>
			<mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
				hidePassword ? "visibility_off" : "visibility"
			}}</mat-icon>
		</mat-form-field>

		<p>Forgot password? <a>Click here</a></p>

		<div class="buttons">
			<button mat-flat-button class="btn-loginSubmit" type="submit">Login</button>
			<button mat-flat-button class="btn-register" routerLink="/register">
				Rejestracja
			</button>
		</div>
	</form>
</main>
