<mat-card>
	<h1>{{ "Zaloguj się" | translate }}</h1>
	<mat-card-content class="mx-auto pt-1 w-3/4 md:w-3/5 lg:w-1/2 2xl:w-2/5">
		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<mat-form-field appearance="outline">
				<mat-label>Email</mat-label>
				<input matInput formControlName="email" type="email" />
				<mat-error>{{ "Pole jest wymagane" | translate }}</mat-error>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>{{ "Hasło" | translate }}</mat-label>
				<input
					formControlName="password"
					matInput
					[type]="hide ? 'password' : 'text'"
				/>
				<button
					mat-icon-button
					matSuffix
					type="button"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide"
					(click)="hide = !hide"
				>
					<mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
				</button>
				<mat-error>{{ "Pole jest wymagane" | translate }}</mat-error>
			</mat-form-field>

			<mat-error *ngIf="invalidCredentials$ | async">{{
				"Nieprawidłowy email lub hasło" | translate
			}}</mat-error>

			<a routerLink="/auth/reset-password" id="reset-password">{{
				"Zapomniałeś hasła?" | translate
			}}</a>

			<div class="buttons">
				<button
					mat-flat-button
					color="primary"
					class="btn-loginSubmit"
					type="submit"
					[disabled]="!loginForm.valid"
				>
					Login
				</button>
				<button
					mat-flat-button
					color="accent"
					class="btn-register"
					type="button"
					routerLink="/auth/register"
				>
					{{ "rej" | translate }}
				</button>
			</div>
		</form>
	</mat-card-content>
</mat-card>
