<mat-card>
	<div class="mx-auto w-3/4 md:w-3/5 lg:w-1/2 2xl:w-2/5">
		<mat-card-header class="justify-center">
			<mat-card-title>
				<h1>{{ "Forgot-password.forgot-password" | translate }}</h1>
			</mat-card-title>
			<mat-card-subtitle class="text-center">
				{{ "Forgot-password.info1" | translate }}.
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="form" (ngSubmit)="sendPasswordResetLink()">
				<div class="form-group">
					<mat-form-field appearance="outline">
						<mat-label>{{ "Forgot-password.email-address" | translate }}</mat-label>
						<input
							matInput
							required
							name="email"
							type="email"
							formControlName="email"
						/>
						<mat-error>{{ "Forgot-password.info2" | translate }}</mat-error>
					</mat-form-field>
				</div>
				<div class="buttons">
					<button
						mat-flat-button
						color="primary"
						type="submit"
						[disabled]="!form.valid"
					>
						{{ "send" | translate }}
					</button>
				</div>
			</form>
		</mat-card-content>
	</div>
</mat-card>
