<mat-card>
	<h1>Zmiana hasła</h1>
	<mat-card-content class="mx-auto pt-1 w-3/5 md:w-1/3">
		<form>
			<mat-form-field class="no-border-style" appearance="outline">
				<mat-label>Aktualne hasło</mat-label>
				<input
					matInput
					name="password"
					[type]="hidePassword ? 'password' : 'text'"
					required
				/>
				<mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
					hidePassword ? "visibility_off" : "visibility"
				}}</mat-icon>
			</mat-form-field>

			<mat-form-field class="no-border-style" appearance="outline">
				<mat-label>Nowe hasło</mat-label>
				<input
					matInput
					name="password"
					[type]="hidePassword ? 'password' : 'text'"
					required
				/>
				<mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
					hidePassword ? "visibility_off" : "visibility"
				}}</mat-icon>
			</mat-form-field>

			<mat-form-field class="no-border-style" appearance="outline">
				<mat-label>Powtórz nowe hasło</mat-label>
				<input
					matInput
					name="password"
					[type]="hidePassword ? 'password' : 'text'"
					required
				/>
				<mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
					hidePassword ? "visibility_off" : "visibility"
				}}</mat-icon>
			</mat-form-field>

			<div class="buttons">
				<button mat-flat-button class="btn-submit" type="submit">Zapisz</button>
				<button mat-flat-button class="btn-cancel" routerLink="/register">
					Anuluj
				</button>
			</div>
		</form>
	</mat-card-content>
</mat-card>
