@import "utility";

.calendar-wrapper {
	display: flex;

	@include min-screen(desktop) {
		padding: 0 25%;
	}

	mat-calendar {
		flex: 1;
	}
}

.calendar-info {
	color: var(--textColor);
	background-color: var(--bgColor);
}
