.box-title {
	display: flex;
	justify-content: space-between;
}

.box-date {
	display: flex;
	justify-content: left;
	width: fit-content;
	margin-bottom: 16px;
}

.box-icon {
	font-size: 40px;
	width: max-content;
	height: max-content;
	margin-left: 16px;
}

.box-icon-valid {
	font-size: x-large;
	color: green;
}

.box-icon-invalid {
	font-size: x-large;
	color: grey;
}

.container-list {
	text-align: left;
	box-shadow: 8px 8px 30px -12px rgba(0, 0, 0, 0.24);
	margin-left: 12px;
	min-height: 100%;
	min-width: max-content;
	padding-top: 4px;
}

.not-found{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container-outlet {
	width: 100%;
	margin: 0 8px;
}

.item-list {
	min-height: 64px;
}

.offers-owner {
	background: white;
	display: flex;
	flex-direction: row;
	margin: 0 12px;
}

.offers-student {
	margin: 0 12px;
}

@media screen and (max-width: 992px) {
	.offers-owner {
		background: white;
		display: flex;
		flex-direction: column;
		margin: 0 12px;
	}
	.container-outlet {
		width: 100%;
		margin-left: 4px;
		padding: 4px;
	}
	.box-title {
		display: flex;
		justify-content: space-between;
		max-width: 200px;
	}
}
