.avatar__image {
	width: 250px;
	height: 250px;
}

.tags {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.good-tags {
	flex: 1;
	text-align: left;
}

.bad-tags {
	flex: 1;
	text-align: left;
}

.profile-rating {
	&__stars {
		mat-icon.filled {
			color: gold;
		}
	}
}

.star-rating mat-icon {
	color: #ddd;
}

.star-rating mat-icon:hover,
.star-rating mat-icon.selected {
	color: gold;
}

.star-rating {
	display: flex;
}

mat-card-content {
	display: flex;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}

@media screen and (max-width: 768px) {
	.avatar__image {
		width: 200px;
		height: 200px;
	}
}
