<div class="grid-container">
	<div></div>
	<mat-card *ngIf="user$ | async as user">
		<mat-card-header class="justify-center">
			<mat-card-title>
				<h1 class="font-medium my-6">
					{{ "Profile-add-opinion.your-opinion" | translate }}
				</h1>
			</mat-card-title>
		</mat-card-header>
		<mat-divider></mat-divider>
		<form [formGroup]="opinionForm" (ngSubmit)="onSubmit(user.userId)">
			<mat-card-content class="flex flex-wrap justify-center">
				<div class="flex-[1_1_400px] p-5">
					<h2 class="font-medium text-2xl mb-4">{{ user.name }}, {{ user.age }}</h2>
					<img
						mat-card-avatar
						alt="avatar"
						class="avatar__image m-auto"
						src="{{ baseUrl }}/{{ user.profilePicture.path }}"
					/>

					<div class="profile-rating__wrapper flex flex-col">
						<div class="profile-rating__stars mx-auto">
							<mat-icon *ngFor="let star of starsScale; let i = index"
								>{{
									i + 1 <= rating
										? "star"
										: i + 1 <= rating + 1
										? "star_half"
										: "star_outline"
								}}
								class="filled"
							</mat-icon>
						</div>
					</div>

					<div class="text-center">{{ rating }}</div>
					<div class="text-center">
						{{ "Profile-add-opinion.opinion" | translate }} (12)
					</div>
				</div>
				<div class="flex-[2_2_500px] p-5">
					<h2 class="flex justify-center font-medium drop-shadow-md mb-4">
						{{ "Profile-add-opinion.add-opinion" | translate }}
					</h2>
					<fieldset class="tags mb-8">
						<legend class="mb-4">
							{{ "Profile-add-opinion.user-features" | translate }}:
						</legend>
						<ul class="good-tags">
							<li>
								<mat-checkbox formControlName="helpful">{{
									"Profile-add-opinion.helpful" | translate
								}}</mat-checkbox>
							</li>
							<li>
								<mat-checkbox formControlName="cooperative">{{
									"Profile-add-opinion.ready-cooperate" | translate
								}}</mat-checkbox>
							</li>
							<li>
								<mat-checkbox formControlName="tidy">{{
									"Profile-add-opinion.keeps-things-tidy" | translate
								}}</mat-checkbox>
							</li>
							<li>
								<mat-checkbox formControlName="friendly">{{
									"Profile-add-opinion.fiendly" | translate
								}}</mat-checkbox>
							</li>
							<li>
								<mat-checkbox formControlName="respectingPrivacy">{{
									"Profile-add-opinion.respecting-privacy-others" | translate
								}}</mat-checkbox>
							</li>
							<li>
								<mat-checkbox formControlName="communicative">{{
									"Profile-add-opinion.communicatative" | translate
								}}</mat-checkbox>
							</li>
						</ul>

						<ul class="bad-tags">
							<li>
								<mat-checkbox formControlName="unfair">{{
									"Profile-add-opinion.dishonest" | translate
								}}</mat-checkbox>
							</li>
							<li>
								<mat-checkbox formControlName="lackOfHygiene">{{
									"Profile-add-opinion.lack-hygiene" | translate
								}}</mat-checkbox>
							</li>
							<li>
								<mat-checkbox formControlName="untidy">{{
									"Profile-add-opinion.care-tidiness" | translate
								}}</mat-checkbox>
							</li>
							<li>
								<mat-checkbox formControlName="conflicting">{{
									"Profile-add-opinion.confilicting" | translate
								}}</mat-checkbox>
							</li>
							<li>
								<mat-checkbox formControlName="noisy">{{
									"Profile-add-opinion.too-noisy" | translate
								}}</mat-checkbox>
							</li>
							<li>
								<mat-checkbox formControlName="notFollowingTheArrangements">{{
									"Profile-add-opinion.not-follow-arrangements" | translate
								}}</mat-checkbox>
							</li>
						</ul>
					</fieldset>
					<div class="flex justify-between mb-4">
						<label>{{ "Profile-add-opinion.your-rate" | translate }}: </label>
						<div class="star-rating">
							<mat-icon
								*ngFor="let star of starsScale"
								[ngClass]="{
									selected: star <= this.opinionForm.controls['rating'].value
								}"
								(click)="countStar(star)"
							>
								star</mat-icon
							>
						</div>
					</div>
					<mat-form-field class="w-full">
						<mat-label
							>{{ "Profile-add-opinion.enter-comments" | translate }}...</mat-label
						>
						<textarea matInput formControlName="description"></textarea>
					</mat-form-field>
				</div>
			</mat-card-content>
			<mat-card-actions class="gap-2 justify-center">
				<button mat-raised-button type="submit" [disabled]="!opinionForm.valid">
					{{ "Profile-add-opinion.add-opinion2" | translate }}
				</button>
				<button mat-raised-button>{{ "clean" | translate }}</button>
			</mat-card-actions>
		</form>
	</mat-card>
	<div></div>
</div>
