<div class="grid-container">
	<div></div>
	<mat-card *ngIf="user$ | async as user">
		<mat-card-header class="justify-center">
			<mat-card-title>
				<h1 class="font-medium my-6">TWOJA OPINIA O UŻYTKOWNIKU</h1>
			</mat-card-title>
		</mat-card-header>
		<mat-divider></mat-divider>
		<form [formGroup]="opinionForm" (ngSubmit)="onSubmit(user.userId)">
			<mat-card-content class="flex flex-wrap justify-center">
				<div class="flex-[1_1_400px] p-5">
					<h2 class="font-medium text-2xl mb-4">{{ user.name }}, {{ user.age }}</h2>
					<img
						mat-card-avatar
						alt="avatar"
						class="avatar__image m-auto"
						src="{{ baseUrl }}/{{ user.profilePicture.path }}"
					/>

					<div class="text-center">
						<app-star-rating [avgRating]="user.avgRating"></app-star-rating>
					</div>

					<div class="text-center">Średnia ocena: {{ user.avgRating }}</div>
					<div class="text-center">Opinie ({{ user.userOpinions.length }})</div>
				</div>
				<div class="flex-[2_2_500px] p-5">
					<h2 class="flex justify-center font-medium drop-shadow-md mb-4">
						NOWA OPINIA
					</h2>
					<fieldset class="tags mb-8">
						<legend class="mb-4">Cechy użytkownika:</legend>
						<ul class="good-tags">
							<li>
								<mat-checkbox formControlName="helpful">Pomocny</mat-checkbox>
							</li>
							<li>
								<mat-checkbox formControlName="cooperative"
									>Gotowy do współpracy</mat-checkbox
								>
							</li>
							<li>
								<mat-checkbox formControlName="tidy">Dba o porządek</mat-checkbox>
							</li>
							<li>
								<mat-checkbox formControlName="friendly">Przyjazny</mat-checkbox>
							</li>
							<li>
								<mat-checkbox formControlName="respectingPrivacy"
									>Szanujący prywatność innych</mat-checkbox
								>
							</li>
							<li>
								<mat-checkbox formControlName="communicative"
									>Komunikatywny</mat-checkbox
								>
							</li>
						</ul>

						<ul class="bad-tags">
							<li>
								<mat-checkbox formControlName="unfair">Nieuczciwy</mat-checkbox>
							</li>
							<li>
								<mat-checkbox formControlName="lackOfHygiene"
									>Brak higieny osobistej</mat-checkbox
								>
							</li>
							<li>
								<mat-checkbox formControlName="untidy">Nie dba o porządek</mat-checkbox>
							</li>
							<li>
								<mat-checkbox formControlName="conflicting">Konfliktowy</mat-checkbox>
							</li>
							<li>
								<mat-checkbox formControlName="noisy">Zbyt głośny</mat-checkbox>
							</li>
							<li>
								<mat-checkbox formControlName="notFollowingTheArrangements"
									>Nie przestrzega ustaleń</mat-checkbox
								>
							</li>
						</ul>
					</fieldset>
					<div class="flex justify-between mb-4">
						<label>Twoja ocena: </label>
						<div class="star-rating">
							<mat-icon
								*ngFor="let star of starsScale"
								[ngClass]="{
									selected: star <= this.opinionForm.controls['rating'].value
								}"
								(click)="countStar(star)"
							>
								star</mat-icon
							>
						</div>
					</div>
					<mat-form-field class="w-full">
						<mat-label>Tutaj wpisz uwagi...</mat-label>
						<textarea matInput formControlName="description"></textarea>
					</mat-form-field>
				</div>
			</mat-card-content>
			<mat-card-actions class="gap-2 justify-center">
				<button mat-raised-button type="submit" [disabled]="!opinionForm.valid">
					Dodaj opinię
				</button>
				<button mat-raised-button>Wyczyść</button>
			</mat-card-actions>
		</form>
	</mat-card>
	<div></div>
</div>
