.button-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.profile-details {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 4px;
	padding: 4px 4px;
}

.profile-avatar {
	border-radius: 50%;
	width: 100px;
}

.box-feature {
	display: flex;
	align-items: center;
}

.container-features {
	display: grid;
	grid-auto-flow: dense;
}

// mat-chip {
// 	max-width: 90%;
// 	overflow: hidden;
// }

@media screen and (max-width: 800px) {
	.profile-details {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 4px;
	}
}

mat-card-avatar:hover {
	cursor: pointer;
}
