.button-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.profile-details {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 4px;
	padding: 4px 4px;
}

.profile-avatar {
	border-radius: 50%;
	width: 100px;
	margin-right: 4px;
}

.profile-card {
	width: fit-content;
	box-shadow: none;
}

.box-feature {
	display: flex;
	align-items: center;
}

.container-features {
	display: grid;
	grid-gap: 4px;
	grid-auto-flow: dense;
}

@media screen and (max-width: 800px) {
	.profile-details {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 4px;
	}
	.profile-avatar {
		border-radius: 50%;
		width: 100px;
		margin-bottom: 4px;
	}
}

mat-card-avatar:hover {
	cursor: pointer;
}
