<h1 class="text-2xl p-4 font-semibold">
	{{ "Offer.rent-proposal" | translate }}
</h1>
<div *ngIf="rentProposition$ | async as rentProposition" mat-dialog-content>
	<mat-card>
		<p class="pt-4 font-semibold">{{ "Offer.start-date" | translate }}:</p>
		<p>{{ rentProposition.startDate | date }}</p>
		<p class="pt-4 font-semibold">{{ "Offer.end-date" | translate }}:</p>
		<p>{{ rentProposition.endDate | date }}</p>
		<p class="pt-4 font-semibold">{{ "Offer.rent-period" | translate }}:</p>
		<p>{{ rentProposition.duration }} {{ "Offer.months" | translate }}</p>
		<div class="profiles-container">
			<p class="pt-4 font-semibold">{{ "Offer.tenants" | translate }}:</p>
			<mat-card
				*ngFor="let tenant of rentProposition.tenants"
				class="profile-card mt-4 mat-elevation-z0"
			>
				<div class="profile-details">
					<mat-card-avatar
						matTooltip="{{ 'Offer.show-profile' | translate }}"
						(click)="showProfile(tenant.userId)"
					>
						<img
							class="profile-avatar"
							src="{{ baseUrl }}/{{ tenant?.profilePicture?.path }}"
					/></mat-card-avatar>
					<div class="container-features">
						<mat-chip matTooltip="{{ 'Offer.name-surname' | translate }}"
							><div class="box-feature">
								<mat-icon>account_circle</mat-icon><span>{{ tenant.fullName }}</span>
							</div></mat-chip
						>
						<mat-chip matTooltip="{{ 'Offer.email-address' | translate }}"
							><div class="box-feature">
								<mat-icon>mail</mat-icon><span>{{ tenant.email }}</span>
							</div></mat-chip
						>
						<mat-chip *ngIf="tenant.userId === rentProposition.mainTenantId">
							<div class="box-feature">
								<mat-icon class="icon-feature">priority_high</mat-icon
								><span>{{ "Offer.main-tenant" | translate }}</span>
							</div></mat-chip
						>
					</div>
				</div>
			</mat-card>
		</div>
	</mat-card>
	<p class="pt-4 text-center">{{ "Offer.rent-proposal-info" | translate }}?</p>
	<div mat-dialog-actions class="button-box">
		<button
			mat-button
			mat-dialog-close
			cdkFocusInitial
			type="button"
			(click)="onClose()"
		>
			{{ "no" | translate }}
		</button>
		<button
			mat-raised-button
			mat-dialog-close
			cdkFocusInitial
			type="submit"
			color="primary"
			(click)="onYesClick()"
		>
			{{ "yes" | translate }}
		</button>
	</div>
</div>
