<h1 class="text-2xl p-4 font-semibold">Propozycja najmu</h1>
<div *ngIf="rentProposition$ | async as rentProposition" mat-dialog-content>
	<mat-card>
		<p class="pt-4 font-semibold">Data rozpoczęcia najmu:</p>
		<p>{{ rentProposition.startDate | date }}</p>
		<p class="pt-4 font-semibold">Data zakończenia najmu:</p>
		<p>{{ rentProposition.endDate | date }}</p>
		<p class="pt-4 font-semibold">Okres najmu:</p>
		<p>{{ rentProposition.duration }} miesięce/y</p>
		<div class="profiles-container">
			<p class="pt-4 font-semibold">Najemcy:</p>
			<mat-card
				*ngFor="let tenant of rentProposition.tenants"
				class="profile-card mt-4 mat-elevation-z0"
			>
				<div class="profile-details">
					<mat-card-avatar
						matTooltip="Pokaż profil"
						(click)="showProfile(tenant.userId)"
					>
						<img
							class="profile-avatar"
							src="{{ baseUrl }}/{{ tenant?.profilePicture?.path }}"
					/></mat-card-avatar>
					<div class="container-features">
						<mat-chip matTooltip="Imię i nazwisko"
							><div class="box-feature">
								<mat-icon>account_circle</mat-icon><span>{{ tenant.fullName }}</span>
							</div></mat-chip
						>
						<mat-chip matTooltip="Adres email"
							><div class="box-feature">
								<mat-icon>mail</mat-icon><span>{{ tenant.email }}</span>
							</div></mat-chip
						>
						<mat-chip *ngIf="tenant.userId === rentProposition.mainTenantId">
							<div class="box-feature">
								<mat-icon class="icon-feature">priority_high</mat-icon
								><span>Główny lokator</span>
							</div></mat-chip
						>
					</div>
				</div>
			</mat-card>
		</div>
	</mat-card>
	<p class="pt-4 text-center">Czy akceptujesz propozycję najmu?</p>
	<div mat-dialog-actions class="button-box">
		<button
			mat-button
			mat-dialog-close
			cdkFocusInitial
			type="button"
			(click)="onClose()"
		>
			Nie
		</button>
		<button
			mat-raised-button
			mat-dialog-close
			cdkFocusInitial
			type="submit"
			color="primary"
			(click)="onYesClick()"
		>
			Tak
		</button>
	</div>
</div>
