<h1 class="text-2xl p-4 font-semibold">
	{{ "Offer.rent-proposal" | translate }}
</h1>
<div mat-dialog-content>
	<mat-card>
		<p class="pt-4 font-semibold">{{ "Offer.rent-start-date" | translate }}:</p>
		<p>22-03-2024</p>
		<p class="pt-4 font-semibold">{{ "Offer.rent-period" | translate }}:</p>
		<p>1 rok</p>
		<div *ngIf="userProfile$ | async as user" class="profiles-container">
			<p class="pt-4 font-semibold">{{ "Offer.tenants" | translate }}:</p>
			<mat-card class="profile-details" (click)="showProfile(user.userId)">
				<div>
					<mat-card-avatar
						matTooltip="Pokaż profil"
						(click)="showProfile(user.userId)"
					>
						<img
							class="profile-avatar"
							src="{{ baseUrl }}/{{ user.profilePicture.path }}"
					/></mat-card-avatar>
					<div>
						<mat-chip-set>
							<mat-chip>{{ "Profile.name" | translate }}: {{ user.name }}</mat-chip>
							<mat-chip>{{ "Profile.age" | translate }}: {{ user.age }}</mat-chip>
							<mat-chip
								>{{ "Profile.university" | translate }}: {{ user.university }}</mat-chip
							>
						</mat-chip-set>
					</div>
				</div>
			</mat-card>
			<mat-card class="profile-details">
				<div>
					<mat-card-avatar
						matTooltip="Pokaż profil"
						(click)="showProfile(user.userId)"
					>
						<img
							class="profile-avatar"
							src="{{ baseUrl }}/{{ user.profilePicture.path }}"
					/></mat-card-avatar>
					<div>
						<mat-chip-set>
							<mat-chip>{{ "Profile.name" | translate }}: {{ user.name }}</mat-chip>
							<mat-chip>{{ "Profile.age" | translate }}: {{ user.age }}</mat-chip>
							<mat-chip
								>{{ "Profile.university" | translate }}: {{ user.university }}</mat-chip
							>
						</mat-chip-set>
					</div>
				</div>
			</mat-card>
		</div>
	</mat-card>
	<p class="pt-4">{{ "Offer.rent-proposal-info" | translate }}?</p>
	<div mat-dialog-actions class="button-box">
		<button
			mat-button
			mat-dialog-close
			cdkFocusInitial
			type="button"
			(click)="onClose()"
		>
			{{ "no" | translate }}
		</button>
		<button
			mat-button
			mat-dialog-close
			cdkFocusInitial
			type="submit"
			(click)="onYesClick()"
		>
			{{ "yes" | translate }}
		</button>
	</div>
</div>
