<h1 class="text-2xl p-4 font-semibold">
	{{ "Property-rating.details-property" | translate }}
</h1>
<div mat-dialog-content class="flex-col items-center justify-center">
	<div class="flex items-center mt-4">
		<mat-label class="flex text-xl p-4 font-semibold items-center">
			<mat-icon class="material-symbols-outlined mr-4 icon-feature" [inline]="true"
				>functions</mat-icon
			>{{ "Property-rating.overall-rating" | translate }}:</mat-label
		>
		<app-star-rating
			class="ml-auto"
			[avgRating]="data.avgRating"
		></app-star-rating>
	</div>
	<div class="flex items-center mt-4">
		<mat-label class="flex text-xl p-4 font-semibold items-center">
			<mat-icon class="material-symbols-outlined mr-4 icon-feature" [inline]="true"
				>savings</mat-icon
			>{{ "Property-rating.value-money" | translate }}:</mat-label
		>
		<app-star-rating
			class="ml-auto"
			[avgRating]="data.avgQualityForMoneyRating"
		></app-star-rating>
	</div>
	<div class="flex items-center mt-4">
		<mat-label class="flex text-xl p-4 font-semibold items-center">
			<mat-icon class="material-symbols-outlined mr-4 icon-feature" [inline]="true"
				>home_pin</mat-icon
			>{{ "Property-rating.location" | translate }}:</mat-label
		>
		<app-star-rating
			class="ml-auto"
			[avgRating]="data.avgLocationRating"
		></app-star-rating>
	</div>
	<div class="flex items-center mt-4">
		<mat-label class="flex text-xl p-4 font-semibold items-center">
			<mat-icon class="material-symbols-outlined mr-4 icon-feature" [inline]="true"
				>manage_accounts</mat-icon
			>{{ "Property-rating.service" | translate }}:</mat-label
		>
		<app-star-rating
			class="ml-auto"
			[avgRating]="data.avgServiceRating"
		></app-star-rating>
	</div>
	<div class="flex items-center mt-4">
		<mat-label class="flex text-xl p-4 font-semibold items-center">
			<mat-icon class="material-symbols-outlined mr-4 icon-feature" [inline]="true"
				>construction</mat-icon
			>{{ "Property-rating.equipment" | translate }}:</mat-label
		>
		<app-star-rating
			class="ml-auto"
			[avgRating]="data.avgEquipmentRating"
		></app-star-rating>
	</div>
</div>
<div mat-dialog-actions class="button-box">
	<button
		mat-raised-button
		mat-dialog-close
		color="primary"
		cdkFocusInitial
		(click)="onClose()"
	>
		{{ "return" | translate }}
	</button>
</div>
