<table
	multiTemplateDataRows
	mat-table
	class="mat-elevation-z8"
	[dataSource]="dataSource$"
>
	<ng-container
		*ngFor="let column of columnsToDisplay.keys()"
		matColumnDef="{{ column }}"
	>
		<th *matHeaderCellDef mat-header-cell>
			{{ columnsToDisplay.get(column) }}
		</th>
		<td *matCellDef="let element" mat-cell>{{ element[column] }}</td>
	</ng-container>

	<ng-container matColumnDef="expand">
		<th *matHeaderCellDef mat-header-cell aria-label="row actions"></th>
		<td *matCellDef="let element" mat-cell class="flex justify-end items-center">
			<button
				*ngIf="expandedElement === element && verificationType === 'users'"
				class="mr-2"
				mat-stroked-button
				(click)="acceptUser(element.userId)"
			>
				Zaakceptuj
			</button>
			<button
				*ngIf="expandedElement === element && verificationType === 'properties'"
				class="mr-2"
				mat-stroked-button
				(click)="acceptProperty(element.propertyId)"
			>
				Zaakceptuj
			</button>
			<button
				*ngIf="expandedElement === element && verificationType === 'users'"
				class="mr-2"
				mat-stroked-button
				(click)="rejectUser(element.userId)"
			>
				Odrzuć
			</button>
			<button
				*ngIf="expandedElement === element && verificationType === 'properties'"
				class="mr-2"
				mat-stroked-button
				(click)="rejectProperty(element.propertyId)"
			>
				Odrzuć
			</button>
			<button
				class="mr-2"
				mat-icon-button
				aria-label="expand row"
				(click)="
					expandedElement = expandedElement === element ? null : element;
					$event.stopPropagation()
				"
			>
				<mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
				<mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
			</button>
		</td>
	</ng-container>

	<ng-container matColumnDef="expandedDetail">
		<td
			*matCellDef="let element"
			mat-cell
			[attr.colspan]="columnsToDisplayWithExpand.length"
		>
			<div
				class="example-element-detail"
				[@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'"
			>
				<div class="example-element-description">
					<img
						class="inline-block h-32"
						alt="document"
						src="{{ baseUrl }}/{{ element.documentURL }}"
						(click)="openImageDialog(baseUrl + '/' + element.documentURL)"
					/>
					<ng-template #enlargedImageTemplate let-data>
						<img alt="Enlarged Image" class="full-width" [src]="data.src" />
					</ng-template>
				</div>
			</div>
		</td>
	</ng-container>

	<tr *matHeaderRowDef="columnsToDisplayWithExpand" mat-header-row></tr>
	<tr
		*matRowDef="let element; columns: columnsToDisplayWithExpand"
		mat-row
		class="example-element-row"
		[class.example-expanded-row]="expandedElement === element"
		(click)="expandedElement = expandedElement === element ? null : element"
	></tr>
	<tr
		*matRowDef="let row; columns: ['expandedDetail']"
		class="example-detail-row"
		mat-row
	></tr>
</table>
