<div class="survey">
	<form
		class="survey-form"
		[formGroup]="createProfileMode ? formToAdd : offerForm"
	>
		<ng-container *ngFor="let question of questions$ | async; let i = index">
			<div *ngIf="i < numberOfQuestions || offerForm.get('16')">
				<div class="pt-4">
					<mat-slide-toggle
						*ngIf="
							question.typeName === typeName.SWITCH &&
							question.name !== 'lookingForRoommate'
						"
						[formControlName]="question.name"
					></mat-slide-toggle>
				</div>

				<div class="pt-4">
					<mat-slide-toggle
						*ngIf="
							question.typeName === typeName.SWITCH &&
							question.name === 'lookingForRoommate'
						"
						[formControlName]="question.name"
						[(ngModel)]="showMoreQuestions"
					></mat-slide-toggle>
				</div>

				<mat-label *ngIf="i < 7" [ngSwitch]="question.name">
					<span *ngSwitchCase="'party'" class="flex justify-center items-center">
						<mat-icon class="mr-4">celebration</mat-icon>
						<span>{{ question.name }}</span>
					</span>
					<span *ngSwitchCase="'tidiness'" class="flex justify-center items-center">
						<mat-icon class="mr-4">clean_hands</mat-icon>
						<span>{{ question.name }}</span>
					</span>
					<div *ngSwitchCase="'smoking'" class="flex-col justify-center">
						<div><mat-icon>smoking_rooms</mat-icon></div>
						<div>{{ question.name }}</div>
					</div>
					<span *ngSwitchCase="'sociability'" class="flex-col justify-center">
						<div><mat-icon>groups</mat-icon></div>
						<div>{{ question.name }}</div>
					</span>
					<span *ngSwitchCase="'animals'" class="flex-col justify-center">
						<div><mat-icon>pets</mat-icon></div>
						<div>{{ question.name }}</div>
					</span>
					<div *ngSwitchCase="'vegan'" class="flex-col justify-center">
						<div>
							<mat-icon class="material-symbols-outlined">psychiatry</mat-icon>
						</div>
						<div>{{ question.name }}</div>
					</div>
					<div
						*ngSwitchCase="'lookingForRoommate'"
						class="flex-col justify-center mt-4"
					>
						<div><mat-icon>person_search</mat-icon></div>
						<div>{{ question.name }}</div>
					</div>
					<mat-divider
						*ngIf="
							question.typeName === typeName.SWITCH &&
							question.name === 'lookingForRoommate' &&
							showMoreQuestions
						"
					></mat-divider>
					<div *ngSwitchCase="'smokingAllowed'" class="flex-col justify-center">
						<div><mat-icon>smoking_rooms</mat-icon></div>
						<div>{{ question.name }}</div>
					</div>
					<span *ngSwitchCase="'partiesAllowed'" class="flex-col justify-center">
						<div><mat-icon>celebration</mat-icon></div>
						<div>{{ question.name }}</div>
					</span>
					<span *ngSwitchCase="'animalsAllowed'" class="flex-col justify-center">
						<div><mat-icon>pets</mat-icon></div>
						<div>{{ question.name }}</div>
					</span>
					<span *ngSwitchCase="'gender'" class="flex-col justify-center">
						<div><mat-icon>male</mat-icon><mat-icon>female</mat-icon></div>
						<div>{{ question.name }}</div>
					</span>
					<span *ngSwitchDefault>
						{{ question.name }}
					</span>
				</mat-label>

				<mat-label *ngIf="i >= 7 && showMoreQuestions" [ngSwitch]="question.name">
					<span *ngSwitchCase="'roommateGender'" class="flex-col justify-center">
						<div><mat-icon>male</mat-icon><mat-icon>female</mat-icon></div>
						<div>{{ question.name }}</div>
					</span>
					<span *ngSwitchDefault>
						{{ question.name }}
					</span>
				</mat-label>

				<div class="pt-4">
					<mat-slider
						*ngIf="question.typeName === typeName.SLIDER"
						discrete
						min="0"
						max="5"
						step="1"
					>
						<input matSliderThumb [formControlName]="question.name" />
					</mat-slider>
				</div>

				<mat-divider
					*ngIf="
						question.typeName === typeName.SLIDER && question.name === 'tidiness'
					"
				></mat-divider>

				<mat-form-field
					*ngIf="
						question.typeName === typeName.TEXT &&
						showMoreQuestions &&
						question.name !== 'city'
					"
					class="h-min"
				>
					<input matInput type="text" [formControlName]="question.name" />
				</mat-form-field>

				<mat-form-field
					*ngIf="
						question.typeName === typeName.TEXT &&
						showMoreQuestions &&
						question.name === 'city'
					"
					class="h-min"
				>
					<span matPrefix>
						<span class="px-4"
							><mat-icon class="material-symbols-outlined"> home_pin </mat-icon></span
						>
					</span>
					<input
						matInput
						type="text"
						[formControlName]="question.name"
						[matAutocomplete]="autoCity"
					/>
					<mat-autocomplete #autoCity="matAutocomplete">
						<mat-optgroup
							*ngFor="let groupCities of citiesGroupOptions$ | async"
							[label]="groupCities.whole"
						>
							<mat-option *ngFor="let city of groupCities.parts" [value]="city">
								{{ city }}
							</mat-option>
						</mat-optgroup>
					</mat-autocomplete>
				</mat-form-field>

				<mat-form-field
					*ngIf="
						question.typeName === typeName.NUMBER &&
						showMoreQuestions &&
						question.name === 'maxNumberOfRoommates'
					"
					class="h-min"
				>
					<span matPrefix>
						<span class="px-4"
							><mat-icon class="material-symbols-outlined"> groups_2 </mat-icon></span
						>
					</span>
					<input matInput type="number" min="1" [formControlName]="question.name" />
					<mat-error *ngIf="question.name === 'maxNumberOfRoommates'">
						Podano nieprawidłową wartość!
					</mat-error>
				</mat-form-field>

				<mat-form-field
					*ngIf="
						question.typeName === typeName.NUMBER &&
						showMoreQuestions &&
						question.name === 'minRoommateAge'
					"
					class="h-min"
				>
					<span matPrefix>
						<span class="px-4"
							><mat-icon class="material-symbols-outlined">
								arrow_circle_up
							</mat-icon></span
						>
					</span>
					<input
						matInput
						type="number"
						min="18"
						max="150"
						[formControlName]="question.name"
					/>
					<mat-error> Podano nieprawidłowy wiek!</mat-error>
				</mat-form-field>

				<mat-form-field
					*ngIf="
						question.typeName === typeName.NUMBER &&
						showMoreQuestions &&
						question.name === 'maxRoommateAge'
					"
					class="h-min"
				>
					<span matPrefix>
						<span class="px-4"
							><mat-icon class="material-symbols-outlined">
								arrow_circle_down
							</mat-icon></span
						>
					</span>
					<input
						matInput
						type="number"
						min="18"
						max="150"
						[formControlName]="question.name"
					/>
					<mat-error> Podano nieprawidłowy wiek! </mat-error>
				</mat-form-field>

				<section
					*ngIf="question.typeName === typeName.CHECKBOX && showMoreQuestions"
					class="example-section"
				>
					<mat-checkbox
						*ngFor="let answer of question.answers; let i = index"
						value="{{ i }}"
						>{{ answer }}</mat-checkbox
					>
				</section>

				<mat-radio-group
					*ngIf="
						(question.typeName === typeName.RADIOBUTTON && showMoreQuestions) ||
						(i < 7 &&
							question.typeName === typeName.RADIOBUTTON &&
							!createProfileMode)
					"
					[formControlName]="question.name"
				>
					<mat-radio-button
						*ngFor="let answer of question.answers; let i = index"
						[value]="i"
						>{{ answer }}</mat-radio-button
					>
				</mat-radio-group>
			</div>
		</ng-container>
	</form>
</div>
