.survey {
	padding-top: 48px;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// flex-direction: column;
	display: block;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.survey-form {
	display: block;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
