<form [formGroup]="offerForm">
	<ng-container *ngFor="let question of questions$ | async; let i = index">
		<div *ngIf="i < 7 || offerForm.get('16')">
			<mat-label class="mr-3">{{ question.content }} </mat-label>

			<mat-slider
				*ngIf="question.typeName === typeName.SLIDER"
				discrete
				min="0"
				max="5"
				step="1"
			>
				<input matSliderThumb [formControlName]="question.name" />
			</mat-slider>

			<mat-form-field
				*ngIf="question.typeName === typeName.FORM"
				class="h-1/2"
				appearance="outline"
			>
				<input matInput [formControlName]="question.name" />
			</mat-form-field>

			<mat-slide-toggle
				*ngIf="question.typeName === typeName.SWITCH"
				[formControlName]="question.name"
			></mat-slide-toggle>

			<section
				*ngIf="question.typeName === typeName.CHECKBOX"
				class="example-section"
			>
				<mat-checkbox
					*ngFor="let answer of question.answers; let i = index"
					value="{{ i }}"
					>{{ answer }}</mat-checkbox
				>
			</section>

			<mat-radio-group
				*ngIf="question.typeName === typeName.RADIOBUTTON"
				[formControlName]="question.name"
			>
				<mat-radio-button
					*ngFor="let answer of question.answers; let i = index"
					[value]="i"
					>{{ answer }}</mat-radio-button
				>
			</mat-radio-group>
		</div>
	</ng-container>
</form>
