<h1 mat-dialog-title class="text-2xl font-semibold text-center">
	{{ "Calendar.event" | translate }}
</h1>
<div mat-dialog-content class="p-4">
	<div class="flex flex-col gap-6">
		<div
			*ngFor="let event of events"
			class="p-4 border rounded-lg shadow-sm bg-white"
		>
			<div *ngIf="event?.user" class="mb-4">
				<img
					mat-card-avatar
					alt="avatar"
					class="profile-avatar__image"
					[src]="
						event?.user?.profilePicture?.path
							? baseUrl + '/' + event?.user?.profilePicture?.path
							: './assets/avatar.png'
					"
				/>
				<span class="text-black font-bold">{{ event.user.fullName }}</span>
			</div>
			<div class="mb-4">
				<span class="text-black font-bold"
					>{{ "Calendar.date" | translate }}:
				</span>
				<span>{{ event.date | date : "dd.MM.YYYY HH:mm" }}</span>
			</div>
			<div class="mb-4">
				<span class="text-black font-bold"
					>{{ "Calendar.place" | translate }}:
				</span>
				<span>{{ event.place }}</span>
			</div>
			<div class="mb-4">
				<span class="text-black font-bold"
					>{{ "Calendar.reason" | translate }}:
				</span>
				<span>{{ event.reason }}</span>
			</div>

			<div class="mb-4">
				<span class="text-black font-bold">
					{{ "Calendar.student-accepted" | translate }}:
				</span>
				<span>
					{{ event.studentAcceptDate ? (event.studentAcceptDate | date) : "-" }}
				</span>
			</div>
			<div class="mb-4">
				<span class="text-black font-bold">
					{{ "Calendar.owner-accepted" | translate }}:
				</span>
				<span>
					{{ event.ownerAcceptDate ? (event.ownerAcceptDate | date) : "-" }}
				</span>
			</div>
			<div class="mb-4">
				<a
					mat-dialog-close
					class="text-blue-600 hover:underline"
					[routerLink]="['/offer', 'details', event.offerId]"
					>{{ "Calendar.offerDetails" | translate }}</a
				>
			</div>
			<div *ngIf="event.needsAction" class="actions flex gap-4">
				<button
					mat-raised-button
					color="primary"
					(click)="onAccept(event.meetingId)"
				>
					{{ "Calendar.accept" | translate }}
				</button>
				<button mat-raised-button color="warn" (click)="onReject(event.meetingId)">
					{{ "Calendar.reject" | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
<div mat-dialog-actions class="flex justify-end p-4">
	<button
		mat-button
		mat-dialog-close
		cdkFocusInitial
		class="text-white px-4 py-2 rounded-lg"
	>
		{{ "close" | translate }}
	</button>
</div>
