<h1
	*ngIf="data$ | async as data"
	class="dialog-title text-2xl p-4 font-semibold"
>
	{{ "Rents-details.rate-rental" | translate }} {{ data.description }}
</h1>
<div mat-dialog-content>
	<form [formGroup]="form">
		<div>
			<mat-label>{{ "Rent-rate.rate" | translate }}</mat-label>
			<mat-slider thumbLabel tickInterval="1" min="1" max="10" step="1">
				<input matInput matSliderThumb formControlName="rating" />
			</mat-slider>
		</div>
		<div>
			<mat-label>{{ "Rent-rate.service" | translate }}</mat-label>
			<mat-slider thumbLabel tickInterval="1" min="1" max="10" step="1">
				<input matInput matSliderThumb formControlName="service" />
			</mat-slider>
		</div>
		<div>
			<mat-label>{{ "Rent-rate.location" | translate }}</mat-label>
			<mat-slider thumbLabel tickInterval="1" min="1" max="10" step="1">
				<input matInput matSliderThumb formControlName="location" />
			</mat-slider>
		</div>
		<div>
			<mat-label>{{ "Rent-rate.equipment" | translate }}</mat-label>
			<mat-slider thumbLabel tickInterval="1" min="1" max="10" step="1">
				<input matInput matSliderThumb formControlName="equipment" />
			</mat-slider>
		</div>
		<div>
			<mat-label>{{ "Rent-rate.value-for-money" | translate }}</mat-label>
			<mat-slider thumbLabel tickInterval="1" min="1" max="10" step="1">
				<input matInput matSliderThumb formControlName="qualityForMoney" />
			</mat-slider>
		</div>
		<mat-form-field appearance="fill">
			<mat-label>{{ "Rent-rate.opinion" | translate }}</mat-label>
			<textarea matInput formControlName="description"></textarea>
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions class="button-box">
	<button mat-raised-button mat-dialog-close cdkFocusInitial type="button">
		{{ "cancel" | translate }}
	</button>
	<button mat-raised-button color="primary" (click)="onSubmit()">
		{{ "Rent-rate.rate2" | translate }}
	</button>
</div>
