form {
	display: flex;
	flex-direction: column;
	gap: 16px;

	> div,
	mat-form-field {
		min-width: 300px;
	}

	> div {
		display: flex;
		flex-direction: column;
	}
}

.button-box {
	display: flex;
	justify-content: space-between;
	padding: 8px;
	flex-direction: row;
}
