<div *ngIf="actualRent$ | async as actualRent">
	<mat-form-field appearance="fill" class="title">
		<mat-label
			><div class="title-text">Wynajem - {{ actualRent.title }}</div></mat-label
		>
		<span matSuffix>
			<button
				class="box-icon"
				id="menu"
				mat-icon-button
				matTooltip="Więcej opcji"
				aria-label="MenuButton"
				[matMenuTriggerFor]="menu"
				[disabled]="actualRent.status === statusName.SUSPENDED"
			>
				<mat-icon>more_horiz</mat-icon>
			</button>
			<mat-menu #menu="matMenu" id="sort">
				<button
					*ngFor="let menuOption of this.menuOptions"
					mat-menu-item
					[value]="menuOption.description"
					(click)="onSelect(menuOption, actualRent)"
				>
					<span *ngIf="menuOption.option !== 'closeRent'">{{
						menuOption.description
					}}</span>
					<span *ngIf="menuOption.option === 'closeRent'" class="close-rent">{{
						menuOption.description
					}}</span>
				</button>
			</mat-menu>
		</span>
		<input
			#titleInput
			id="title"
			formControlName="title"
			type="text"
			placeholder="Tytuł"
			aria-label="Title"
			matInput
			[disabled]="true"
		/>
	</mat-form-field>
	<div class="gallery">
		<div class="container slider">
			<div [@slideAnimation]="currentIndex">
				<ng-template
					ngFor
					[ngForOf]="actualRent.imageArray"
					let-slide
					let-i="index"
				>
					<img
						*ngIf="isCurrentSlideIndex(i)"
						class="slide slide-animation nonDraggableImage"
						[src]="slide.image"
						(swiperight)="nextSlide(actualRent.imageArray.length)"
						(swipeleft)="prevSlide(actualRent.imageArray.length)"
					/>
				</ng-template>
			</div>

			<button
				class="arrow prev"
				(click)="nextSlide(actualRent.imageArray.length)"
			></button>
			<button
				class="arrow next"
				(click)="prevSlide(actualRent.imageArray.length)"
			></button>
			<nav class="nav">
				<div class="wrapper">
					<ul class="dots">
						<li
							*ngFor="let slide of actualRent.imageArray; let i = index"
							class="dot"
						>
							<span
								[ngClass]="{ active: isCurrentSlideIndex(i) }"
								(click)="setCurrentSlideIndex(i)"
							></span>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<div class="button-box">
		<!-- <button
			mat-button
			class="btn"
			[disabled]="actualRent.status === statusName.SUSPENDED"
		>
			Szczegóły oferty
		</button> -->
		<mat-label class="label-1"
			>Cena &nbsp;<span [appGetPrice]="actualRent.price"></span>&nbsp;
			PLN/mies.</mat-label
		>
	</div>
	<div class="label-3">
		<mat-label class="label-2"
			><mat-icon class="icon">description</mat-icon
			><span>Opis oferty</span></mat-label
		>
	</div>
	<mat-divider></mat-divider>
	<div class="container-2">
		<div class="column-1">
			<p>Data wystawienia:</p>
			<p>Data zakończenia:</p>
			<p>Adres:</p>
			<p>Metraż:</p>
			<p>Data wystawienia oceny:</p>
			<p>Okres wynajmu:</p>
			<p>Maks. liczba mieszkańców:</p>
			<p>Wyposażenie:</p>
			<p>Data płatności czynszu:</p>
			<p>Informacje o umowie:</p>
			<p>Współlokatorzy:</p>
		</div>
		<div class="column-2">
			<p>{{ actualRent?.publishDate }}</p>
			<p>12-12-2024</p>
			<p>Marszałkowska 44, {{ actualRent?.property?.regionCity?.city }}</p>
			<p>{{ actualRent?.property?.area }} m²</p>
			<p>-</p>
			<p>{{ actualRent.period }} lata</p>
			<p>4</p>
			<p>-</p>
			<p>10-12-2022</p>
			<p>-</p>
			<p>Jan Kowalski, Barbara Nowak</p>
		</div>
	</div>
	<div class="label-3">
		<mat-label class="label-2"
			><mat-icon class="icon">attach_money</mat-icon
			><span>Płatności</span></mat-label
		>
	</div>
	<div class="payments">
		<table mat-table class="mat-elevation-z8" [dataSource]="actualRent.payments">
			<ng-container
				*ngFor="let column of this.displayedColumnsStudent"
				[matColumnDef]="column"
			>
				<th *matHeaderCellDef mat-header-cell>{{ column }}</th>
				<td *matCellDef="let payment" mat-cell>{{ payment[column] }}</td>
			</ng-container>
			<tr
				*matRowDef="let paymentRow; columns: this.displayedColumnsStudent"
				mat-row
			></tr>
		</table>
	</div>
</div>
