<ng-template
	#modifyProfile
	let-actualForm="actualForm"
	let-actualUser="actualUser"
	let-userType="userType"
	let-ifConfidentialData="ifConfidentialData"
>
	<div
		*ngIf="actualUser && modificationType === mType.EDIT"
		class="container-title"
	>
		<h1 *ngIf="actualUser.userType === 1" class="text-4xl p-4 font-semibold">
			{{ "Profile-edit.edit-student-profile" | translate }}
		</h1>
		<h1 *ngIf="actualUser.userType === 0" class="text-4xl p-4 font-semibold">
			{{ "Profile-edit.edit-owner-profile" | translate }}
		</h1>
	</div>
	<form [formGroup]="actualForm" (ngSubmit)="onSubmit(actualUser.userType)">
		<mat-card class="edit-profile">
			<div *ngIf="modificationType === mType.EDIT" class="menu-btn">
				<button
					id="menu"
					mat-mini-fab
					color="primary"
					type="button"
					aria-label="MenuButton"
					matTooltip="{{ 'more-options' | translate }}"
					[matMenuTriggerFor]="menu"
				>
					<mat-icon>more_horiz</mat-icon>
				</button>
				<mat-menu #menu="matMenu" id="sort">
					<button
						*ngFor="let menuOption of this.menuOptions"
						mat-menu-item
						type="button"
						[value]="menuOption.description"
						[disabled]="menuOption.option === 'editSurvey'"
						(click)="onSelect(menuOption)"
					>
						<div
							class="flex items-center justify-center"
							[ngSwitch]="menuOption.option"
						>
							<mat-icon *ngSwitchCase="'editEmail'" class="material-icons-outlined"
								>mail</mat-icon
							>
							<mat-icon
								*ngSwitchCase="'changePassword'"
								class="material-icons-outlined"
								>key</mat-icon
							>
							<mat-icon *ngSwitchCase="'editSurvey'" class="material-icons-outlined"
								>fact_check</mat-icon
							>
							<span>{{ menuOption.description | translate }}</span>
						</div>
					</button>
				</mat-menu>
			</div>
			<div class="container-photo">
				<div class="image-box">
					<img class="profile-avatar__image" [src]="urlPhoto" />
					<input
						#photoUpload
						id="file"
						class="file-upload"
						type="file"
						accept="image/*"
						aria-label="File"
						value="urlPhoto"
						(change)="onFileSelected($event, regexImage)"
					/>
					<mat-error *ngIf="!urlPhoto || urlPhoto === urlAvatar">
						<div class="text-xl flex justify-center items-center">
							<mat-icon>error</mat-icon
							><span>{{ "Profile-edit.photo-load" | translate }}!</span>
						</div>
					</mat-error>
					<div
						*ngIf="actualUser && modificationType === mType.EDIT"
						class="text-3xl p-4 semibold"
					>
						{{ actualUser.name }} {{ actualUser.surname }}
					</div>
					<div
						*ngIf="modificationType === mType.CREATE"
						class="text-3xl p-4 semibold"
					>
						{{ name }} {{ surname }}
					</div>
					<div
						*ngIf="actualUser && modificationType === mType.EDIT"
						class="text-2xl pb-2"
					>
						Status:
						{{
							(actualUser.verificationStatus === 0
								? "Profile.verified"
								: "Profile.unverified"
							) | translate
						}}
					</div>
					<div
						*ngIf="actualUser && modificationType === mType.EDIT"
						class="text-2xl pb-2 text-center"
					>
						Email: {{ actualUser.email }}
					</div>
					<div
						*ngIf="modificationType === mType.CREATE"
						class="text-2xl pb-2 text-center"
					>
						email: {{ email }}
					</div>
					<div
						*ngIf="
							userType === uType.STUDENT || (actualUser && actualUser.userType === 1)
						"
					>
						<div
							*ngIf="
								actualUser &&
								modificationType === mType.EDIT &&
								getAge(actualUser.birthDate)
							"
							class="text-2xl pb-2"
						>
							{{ "Profile-edit.age1" | translate }} {{ getAge(actualUser.birthDate) }}
						</div>
						<div
							*ngIf="
								modificationType === mType.CREATE &&
								getAge(actualForm.get('birthDate')?.value)
							"
							class="text-3xl pb-4 semibold"
						>
							{{ "Profile-edit.age2" | translate }}
							{{ getAge(actualForm.get("birthDate")?.value ?? "") }}
						</div>
					</div>
					<div class="button-box">
						<button
							mat-raised-button
							color="primary"
							id="upload"
							type="button"
							aria-label="Upload"
							(click)="photoUpload.click()"
						>
							<span *ngIf="modificationType === mType.EDIT">{{
								"Profile-edit.change-photo" | translate
							}}</span>
							<span
								*ngIf="
									(modificationType === mType.CREATE && !urlPhoto) ||
									urlPhoto === urlAvatar
								"
								>{{ "Profile-edit.add-photo" | translate }}</span
							>
							<span
								*ngIf="
									modificationType === mType.CREATE && urlPhoto && urlPhoto !== urlAvatar
								"
								>{{ "Profile-edit.change-photo" | translate }}</span
							>
							<mat-icon iconPositionEnd>add_photo_alternate</mat-icon>
						</button>
					</div>
				</div>
			</div>
			<div class="container-inputs">
				<div class="data-container">
					<mat-form-field
						*ngIf="userType === uType.STUDENT && modificationType === mType.CREATE"
					>
						<mat-label>{{ "Profile-edit.birthDate" | translate }}</mat-label>
						<input
							matInput
							formControlName="birthDate"
							[matDatepicker]="picker"
							(dateChange)="setLocalDate($event, actualForm.get('birthDate'))"
						/>
						<mat-datepicker-toggle
							matIconSuffix
							[for]="picker"
						></mat-datepicker-toggle>
						<mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
						<mat-error *ngIf="actualForm.controls['birthDate'].errors?.['required']">
							{{ "Profile-edit.birthDate-info1" | translate }}!
						</mat-error>
						<mat-error
							*ngIf="actualForm.controls['birthDate'].errors?.['validityAge']"
						>
							{{ "Profile-edit.birthDate-info2" | translate }}!
						</mat-error>
					</mat-form-field>
					<mat-form-field
						*ngIf="
							userType === uType.STUDENT || (actualUser && actualUser.userType === 1)
						"
					>
						<mat-label>{{ "Profile-edit.student-number" | translate }}</mat-label>
						<input
							id="studentNumber"
							formControlName="studentNumber"
							type="text"
							aria-label="StudentNumber"
							matInput
							placeholder="{{ 'Profile-edit.student-number' | translate }}"
						/>
						<mat-error
							*ngIf="actualForm.controls['studentNumber'].errors?.['required']"
						>
							{{ "Profile-edit.student-number-info" | translate }}!
						</mat-error>
					</mat-form-field>
					<mat-form-field
						*ngIf="
							userType === uType.STUDENT || (actualUser && actualUser.userType === 1)
						"
					>
						<mat-label>{{ "Profile-edit.university" | translate }}</mat-label>
						<input
							id="university"
							formControlName="university"
							type="text"
							aria-label="University"
							matInput
							placeholder="{{ 'Profile-edit.university' | translate }}"
						/>
						<mat-error *ngIf="actualForm.controls['university'].errors?.['required']">
							{{ "Profile-edit.university-info" | translate }}!
						</mat-error>
					</mat-form-field>
					<mat-form-field>
						<mat-label>{{ "Profile-edit.address" | translate }}</mat-label>
						<input
							id="address"
							formControlName="address"
							type="text"
							aria-label="Address"
							matInput
							placeholder="{{ 'Profile-edit.address' | translate }}"
						/>
						<mat-error
							*ngIf="dataFormGroupStudent.controls['address'].errors?.['required']"
						>
							{{ "Profile-edit.address-info" | translate }}!
						</mat-error>
					</mat-form-field>
					<mat-form-field>
						<mat-label>{{ "Profile-edit.phone" | translate }}</mat-label>
						<input
							matInput
							formControlName="phoneNumber"
							placeholder="{{ 'Profile-edit.phone' | translate }}"
						/>
						<mat-error
							*ngIf="dataFormGroupStudent.controls['phoneNumber'].errors?.['required']"
						>
							{{ "Profile-edit.phone-info1" | translate }}!
						</mat-error>
						<mat-error
							*ngIf="dataFormGroupStudent.controls['phoneNumber'].errors?.['pattern']"
						>
							{{ "Profile-edit.phone-info2" | translate }}!
						</mat-error>
					</mat-form-field>
					<mat-form-field
						*ngIf="
							userType === uType.OWNER || (actualUser && actualUser.userType === 0)
						"
					>
						<mat-label>{{ "Profile-edit.bank-account" | translate }}</mat-label>
						<input
							matInput
							formControlName="bankAccount"
							placeholder="{{ 'Profile-edit.bank-account' | translate }}"
						/>
						<mat-error
							*ngIf="actualForm.controls['bankAccount'].errors?.['required']"
						>
							{{ "Profile-edit.bank-account-info1" | translate }}!
						</mat-error>
						<mat-error *ngIf="actualForm.controls['bankAccount'].errors?.['pattern']">
							{{ "Profile-edit.bank-account-info2" | translate }}!
						</mat-error>
					</mat-form-field>
					<mat-form-field
						*ngIf="
							userType === uType.STUDENT || (actualUser && actualUser.userType === 1)
						"
					>
						<mat-label>{{ "Profile.interest" | translate }}</mat-label>
						<mat-select
							multiple
							formControlName="interestIds"
							[compareWith]="hobbyComparisonFunction"
							[(ngModel)]="selectedHobbies"
						>
							<mat-select-trigger>
								<mat-chip-set>
									<mat-chip *ngFor="let myHobby of selectedHobbies">
										{{ "Interest." + myHobby.name | translate }}
									</mat-chip>
								</mat-chip-set>
							</mat-select-trigger>
							<mat-option
								*ngFor="let hobby of filteredHobbies$ | async"
								[value]="hobby"
								>{{ "Interest." + hobby.name | translate }}</mat-option
							>
						</mat-select>
					</mat-form-field>
					<mat-form-field
						*ngIf="
							userType === uType.STUDENT || (actualUser && actualUser.userType === 1)
						"
					>
						<mat-label>{{ "Profile-edit.links-social" | translate }}</mat-label>
						<mat-chip-grid #chipGrid2 aria-label="Links">
							<mat-chip-row
								*ngFor="let socialMedia of socialMedias"
								[editable]="true"
								[aria-description]="'press enter to edit ' + socialMedia"
								(removed)="removeSocialMedia(socialMedia, socialMedias)"
								(edited)="editSocialMedia(socialMedia, $event)"
							>
								<span class="flex items-center pr-4">
									<button
										matChipRemove
										type="button"
										[attr.aria-label]="'remove ' + socialMedia"
									>
										<mat-icon>cancel</mat-icon>
									</button>
									<span>{{ socialMedia }}</span>
								</span>
							</mat-chip-row>
							<input
								placeholder="{{ 'Profile-edit.links-social2' | translate }}"
								[formControl]="socialMediaCtrl"
								[matChipInputFor]="chipGrid2"
								[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
								[matChipInputAddOnBlur]="addOnBlur"
								(matChipInputTokenEnd)="
									addSocialMedia($event, socialMedias, socialMediaCtrl)
								"
							/>
						</mat-chip-grid>
					</mat-form-field>
					<span
						*ngIf="
							modificationType === mType.CREATE ||
							(modificationType === mType.EDIT && ifConfidentialData)
						"
						class="btn-upload-box"
					>
						<button
							mat-icon-button
							type="button"
							aria-label="Upload"
							matTooltip="{{
								(!this.urlNewScan || this.modificationType === mType.EDIT
									? 'Profile-edit.load-scan'
									: 'Profile-edit.change-scan'
								) | translate
							}}"
							(click)="scanUpload.click()"
						>
							<mat-icon class="material-symbols-outlined">attach_file</mat-icon>
						</button>
						<span
							*ngIf="
								(!urlNewScan && modificationType === mType.CREATE) ||
								(modificationType === mType.EDIT && ifConfidentialData)
							"
							class="scan-url-box-desc"
							>{{ "Profile-edit.load-scan-actual" | translate }}! |</span
						>
						<span
							*ngIf="urlNewScan && modificationType === mType.CREATE"
							class="scan-url-box-desc"
						>
							{{ "Profile-edit.load-scan-info2" | translate }}! |</span
						>
						<span *ngIf="urlNewScan" class="scan-url-box ml-4">{{
							fileScanName
						}}</span>
						<input
							#scanUpload
							id="documentScan"
							class="file-upload"
							type="file"
							accept="image/*,application/pdf"
							aria-label="File"
							(change)="onFileSelected($event, regexScan)"
						/>
						<mat-error *ngIf="!urlNewScan && modificationType === mType.CREATE"
							>{{ "Profile-edit.load-scan-info1" | translate }}!</mat-error
						>
					</span>
					<mat-form-field *ngIf="modificationType === mType.CREATE">
						<mat-label>{{ "Profile-edit.identification" | translate }}</mat-label>
						<mat-select id="documentType" formControlName="documentType">
							<mat-option
								*ngFor="let document of profileService.documentTypes"
								[value]="document.value"
								[disabled]="
									(userType === uType.OWNER ||
										(actualUser && actualUser.userType === 0)) &&
									document.value === 1
								"
							>
								{{ document.viewValue | translate }}
							</mat-option>
						</mat-select>
						<mat-error
							*ngIf="actualForm.controls['documentType'].errors?.['required']"
						>
							{{ "Profile-edit.identification-info" | translate }}!
						</mat-error>
					</mat-form-field>
					<mat-form-field>
						<mat-label>{{
							"Profile-edit.identification-date" | translate
						}}</mat-label>
						<input
							matInput
							formControlName="documentExpireDate"
							[matDatepicker]="picker"
							(dateChange)="setLocalDate($event, actualForm.get('documentExpireDate'))"
						/>
						<mat-datepicker-toggle
							matIconSuffix
							[for]="picker"
						></mat-datepicker-toggle>
						<mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
						<mat-error
							*ngIf="actualForm.controls['documentExpireDate'].errors?.['required']"
						>
							{{ "Profile-edit.identification-date-info" | translate }}!
						</mat-error>
						<mat-error
							*ngIf="actualForm.controls['documentExpireDate'].errors?.['validityTill']"
						>
							{{ "Profile-edit.identification-date-end" | translate }}!
						</mat-error>
					</mat-form-field>
					<mat-form-field
						*ngIf="
							(modificationType === mType.CREATE && userType === uType.OWNER) ||
							(modificationType === mType.EDIT && actualUser.userType === 0)
						"
					>
						<mat-label>{{ "Profile-edit.document-number" | translate }}</mat-label>
						<input
							id="documentNumber"
							formControlName="documentNumber"
							type="text"
							aria-label="DocumentNumber"
							matInput
							placeholder="{{ 'Profile-edit.document-number' | translate }}"
						/>
						<mat-error
							*ngIf="dataFormGroupOwner.controls['documentNumber'].errors?.['required']"
						>
							{{ "Profile-edit.document-number-info" | translate }}!
						</mat-error>
					</mat-form-field>
				</div>
				<div *ngIf="modificationType === mType.EDIT" class="btn-box-submit">
					<button
						mat-mini-fab
						color="primary"
						type="button"
						class="mr-4"
						[matTooltip]="'Profile-edit.confidential-edit' | translate"
						(click)="lockUnlockData(actualUser.userType)"
					>
						<mat-icon class="material-symbols-outlined">
							{{ ifConfidentialData ? "lock_open" : "lock" }}
						</mat-icon>
					</button>
					<button
						mat-raised-button
						color="primary"
						type="submit"
						[disabled]="!actualForm.valid || (ifConfidentialData && !editedScanFile)"
					>
						{{ "save" | translate }} <mat-icon iconPositionEnd>done_outline</mat-icon>
					</button>
				</div>
			</div>
		</mat-card>
	</form>
</ng-template>
<div *ngIf="modificationType === mType.EDIT">
	<div *ngIf="actualUser$ | async as actualUser">
		<ng-container
			*ngIf="actualUser.userType === 1"
			[ngTemplateOutlet]="modifyProfile"
			[ngTemplateOutletContext]="{
				actualForm: dataFormGroupStudent,
				actualUser: actualUser,
				userType: user,
				ifConfidentialData: ifConfidentialData
			}"
		></ng-container>
		<ng-container
			*ngIf="actualUser.userType === 0"
			[ngTemplateOutlet]="modifyProfile"
			[ngTemplateOutletContext]="{
				actualForm: dataFormGroupOwner,
				actualUser: actualUser,
				userType: user,
				ifConfidentialData: ifConfidentialData
			}"
		></ng-container>
	</div>
</div>
<div *ngIf="modificationType === mType.CREATE">
	<ng-container
		*ngIf="user === uType.STUDENT"
		[ngTemplateOutlet]="modifyProfile"
		[ngTemplateOutletContext]="{
			actualForm: dataFormGroupStudent,
			actualUser: null,
			userType: user
		}"
	></ng-container>
	<ng-container
		*ngIf="user === uType.OWNER"
		[ngTemplateOutlet]="modifyProfile"
		[ngTemplateOutletContext]="{
			actualForm: dataFormGroupOwner,
			actualUser: null,
			userType: user
		}"
	></ng-container>
</div>
