<div class="container-title"><h1>Edycja profilu</h1></div>
	<div class="edit-profile">
		<div class="container-1">
			<!-- <mat-card>
				<mat-card-content> -->
					<div class="button-box">
					<img
						src="../../../assets/candidate.webp"
						alt="avatar"
						class="profile-avatar__image"
					/>
					</div>
					<div class="button-box">
						<button mat-button class="btn2">
							Zmień zdjęcie <mat-icon iconPositionEnd> insert_photo</mat-icon>
						</button>
					</div>
					<div class="title2">
						<p>Wybierz swoje zainteresowania</p>
					</div>
					<div>
						<mat-chip-listbox>
							<mat-chip>Muzyka</mat-chip>
							<mat-chip>Sport</mat-chip>
							<mat-chip>Filmy</mat-chip>
							<mat-chip>Podróże</mat-chip>
							<mat-chip>Sztuka</mat-chip>
						</mat-chip-listbox>
					</div>
					<div class="button-box">
						<button mat-button class="btn2">
							Wybierz więcej <mat-icon iconPositionEnd>more</mat-icon>
						</button>
						<button mat-button class="btn">
							Zatwierdź zmiany
						</button>
					</div>
				<!-- </mat-card-content>
			</mat-card> -->
		</div>
	<div class="container-1">
		<form>
			<div class="title2">
				<p>Hasło</p>
			</div>
			<div class="button-box">
				<button mat-button class="btn">
					Zmień hasło
				</button>
			</div>
			<div class="title2">
				<p>Email</p>
			</div>
			<div class="button-box">
				<button mat-button class="btn">
					Zmień email
				</button>
			</div>
			<div class="title2">
				<p>Adres</p>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Podaj nowy adres</mat-label>
					<input matInput name="newAddress"/>
				</mat-form-field>
			</div>
			<div class="button-box">
				<button mat-button class="btn">
					Zmień adres zamieszkania
				</button>
			</div>
			<div class="title2">
				<p>Nr. telefonu</p>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Podaj nowy numer telefonu</mat-label>
					<input matInput name="newPhoneNumber"/>
				</mat-form-field>
			</div>
			<div class="button-box">
				<button mat-button class="btn">
					Zmień numer telefonu
				</button>
			</div>
		</form>
	</div>
</div>
