<h1 class="text-2xl p-4 font-semibold">Promowanie oferty</h1>
<form class="dialog" [formGroup]="promotionForm" (ngSubmit)="onYesClick()">
	<mat-form-field>
		<mat-label>Okres promownia</mat-label>
		<input
			matInput
			formControlName="promotionDays"
			placeholder="Liczba dni"
			type="number"
			[min]="1"
		/>
		<mat-error
			*ngIf="promotionForm.controls['promotionDays'].errors?.['required']"
		>
			Liczba dni jest wymagana!
		</mat-error>
		<mat-error *ngIf="promotionForm.controls['promotionDays'].errors?.['min']">
			Wprowadzona liczba dni jest nieprawidłowa!
		</mat-error>
		<mat-error *ngIf="promotionForm.controls['promotionDays'].errors?.['max']">
			Wprowadzona liczba dni jest nieprawidłowa!
		</mat-error>
	</mat-form-field>
	<div mat-dialog-content>
		<p>Czy potwierdzasz promowanie oferty?</p>
	</div>
	<div mat-dialog-actions class="button-box">
		<button
			mat-button
			mat-dialog-close
			cdkFocusInitial
			type="button"
			(click)="onClose()"
		>
			Nie
		</button>
		<button
			mat-button
			mat-dialog-close
			cdkFocusInitial
			type="submit"
			(click)="onYesClick()"
		>
			Tak
		</button>
	</div>
</form>
