<h1 class="text-2xl p-4 font-semibold">{{ "Offer.promoting" | translate }}</h1>
<form class="dialog" [formGroup]="promotionForm" (ngSubmit)="onYesClick()">
	<mat-form-field>
		<mat-label>{{ "Offer.promotion-period" | translate }}</mat-label>
		<input
			matInput
			formControlName="promotionDays"
			type="number"
			placeholder="{{ 'Offer.days-number' | translate }}"
			[min]="1"
		/>
		<mat-error
			*ngIf="promotionForm.controls['promotionDays'].errors?.['required']"
		>
			{{ "Offer.promotion-info1" | translate }}!
		</mat-error>
		<mat-error *ngIf="promotionForm.controls['promotionDays'].errors?.['min']">
			{{ "Offer.promotion-info2" | translate }}!
		</mat-error>
		<mat-error *ngIf="promotionForm.controls['promotionDays'].errors?.['max']">
			{{ "Offer.promotion-info2" | translate }}!
		</mat-error>
	</mat-form-field>
	<div mat-dialog-content>
		<p>{{ "Offer.promotion-info3" | translate }}?</p>
	</div>
	<div mat-dialog-actions class="button-box">
		<button
			mat-button
			mat-dialog-close
			cdkFocusInitial
			type="button"
			(click)="onClose()"
		>
			{{ "no" | translate }}
		</button>
		<button
			mat-raised-button
			mat-dialog-close
			cdkFocusInitial
			type="submit"
			color="primary"
			(click)="onYesClick()"
		>
			{{ "yes" | translate }}
		</button>
	</div>
</form>
