<h1 class="text-4xl p-4 font-semibold">{{ "Header.settings" | translate }}</h1>
<div class="settings">
	<mat-card>
		<nav>
			<ul>
				<li>
					<a routerLink="notifications" routerLinkActive="active">{{
						"Notifications.notification" | translate
					}}</a>
				</li>
				<li>
					<a routerLink="password-change" routerLinkActive="active">{{
						"Password-change.password-change" | translate
					}}</a>
				</li>
				<li>
					<a routerLink="email-change" routerLinkActive="active">{{
						"Email-change.email-change" | translate
					}}</a>
				</li>
				<li>
					<a routerLink="help-center" routerLinkActive="active">{{
						"Help-center.help-center" | translate
					}}</a>
				</li>
			</ul>
		</nav>
	</mat-card>
	<div class="flex-1">
		<router-outlet></router-outlet>
	</div>
</div>
