<div>
	<h1 class="text-4xl p-4 font-semibold">Obserwowane oferty</h1>
</div>
<div *ngIf="watchedOffers$ | async as watchedOffers" class="watched-offers">
	<div class="container">
		<mat-card
			*ngFor="let flat of watchedOffers.result"
			[ngClass]="flat.isPromoted === true ? 'promoted-card' : 'card'"
		>
			<div class="offer-title-outer">
				<span class="offer-title-inner"
					><h2 class="text-m">
						Wynajem -
						{{ realEstateService.propertyTypes.get(flat.property.propertyType) }}
						{{ flat.property.area }} m² {{ flat.property.city }}
						<mat-icon
							*ngIf="flat.isPromoted"
							class="promotion-icon"
							matTooltip="Promowana oferta"
							>new_releases</mat-icon
						>
					</h2>
				</span>
			</div>
			<img
				mat-card-image
				class="imgs"
				alt="Mieszkanie"
				src="{{ baseUrl }}/{{ flat.property.images[0].path }}"
				(click)="navigateToFlat(flat.offerId)"
			/>
			<mat-card-content matSort class="card-content">
				<mat-chip-listbox>
					<mat-chip>
						<div class="chip">
							<mat-icon>attach_money</mat-icon>
							<span>Cena: {{ flat.price }} zł/mc</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>add</mat-icon><span>Kaucja: {{ flat.deposit }} zł/mc</span>
						</div>
					</mat-chip>
					<mat-chip>
						<div class="chip">
							<mat-icon>straighten</mat-icon>
							<span>Powierzchnia: {{ flat.property.area }} m²</span>
						</div>
					</mat-chip>
					<mat-chip *ngIf="flat.property.propertyType !== 2">
						<div class="chip">
							<mat-icon>meeting_room</mat-icon>
							<span>Liczba pokoi: {{ flat.property.numberOfRooms }}</span>
						</div>
					</mat-chip>
					<mat-chip>
						<mat-mini-fab
							class="box-icon"
							id="deleteOffer"
							type="button"
							mat-icon-button
							matTooltip="Usuń z obserwowanych"
							aria-label="DeleteOffer"
							(click)="deleteInterest(flat.offerId)"
						>
							<mat-icon>delete_forever</mat-icon>
						</mat-mini-fab>
					</mat-chip>
				</mat-chip-listbox>
			</mat-card-content>
		</mat-card>
	</div>
	<mat-paginator
		#paginator
		id="paginator2"
		showFirstLastButtons
		aria-label="Paginator"
		[length]="watchedOffers.totalCount"
		[pageSize]="pageSize"
		[pageIndex]="pageIndex"
		[pageSizeOptions]="[3, 6, 12, 18]"
		(page)="changePage($event)"
	>
		>
	</mat-paginator>
</div>
