.watched-offers {
	background-color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
	padding-top: 0;
	justify-content: center;
}

.card {
	width: 100%;
	height: auto;
	min-width: 200px;
	max-width: 500px;
	cursor: pointer;
}

.imgs {
	object-fit: cover;
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 40px;
	grid-column-gap: 40px;
	padding: 0 40px 40px 40px;
	justify-content: center;
}

.box-icon {
	transform: scale(1.2);
	display: flex;
	align-content: center;
	justify-content: center;
	cursor: pointer;
}

mat-chip {
	background-color: #fbbb8b;

	.chip {
		display: flex;
		align-content: center;
		justify-content: center;
	}
}

mat-card-subtitle {
	padding-top: 4px;
	font-size: large;
}

// mat-card-content {
// 	text-align: justify;
// 	font-size: medium;
// 	justify-content: center;
// }

@media screen and (max-width: 992px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}

// @media screen and (max-width: 600px) {
// 	.container {
// 		grid-template-columns: repeat(1, 1fr);
// 	}
// }
