<h1 class="text-2xl p-4 font-semibold">Dodawanie spotkania</h1>
<div mat-dialog-content>
	<form class="flex flex-col" [formGroup]="meetingForm" (ngSubmit)="onAdd()">
		<mat-form-field>
			<mat-label>Data</mat-label>
			<input
				matInput
				readonly
				formControlName="date"
				[min]="minDate"
				[matDatepicker]="datepicker"
				(dateChange)="setLocalDate($event, meetingForm, 'date')"
			/>
			<mat-datepicker-toggle
				matIconSuffix
				[for]="datepicker"
			></mat-datepicker-toggle>
			<mat-datepicker #datepicker></mat-datepicker>
			<mat-error *ngIf="meetingForm.controls['date'].errors?.['required']">
				Pole jest wymagane!
			</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Miejsce</mat-label>
			<input matInput formControlName="place" type="text" />
			<mat-error *ngIf="meetingForm.controls['place'].errors?.['required']">
				Pole jest wymagane!
			</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Temat</mat-label>
			<input matInput formControlName="reason" type="text" />
			<mat-error *ngIf="meetingForm.controls['reason'].errors?.['required']">
				Pole jest wymagane!
			</mat-error>
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions class="button-box">
	<button mat-button mat-dialog-close cdkFocusInitial type="button">
		Anuluj
	</button>
	<button mat-raised-button type="submit" color="primary" (click)="onAdd()">
		Dodaj
	</button>
</div>
