<h1 class="text-2xl p-4 font-semibold">
	{{ "Meeting-add.meeting-add" | translate }}
</h1>
<div mat-dialog-content>
	<form class="flex flex-col" [formGroup]="meetingForm" (ngSubmit)="onAdd()">
		<mat-form-field>
			<mat-label>{{ "date" | translate }}</mat-label>
			<input
				matInput
				readonly
				formControlName="date"
				[min]="minDate"
				[matDatepicker]="datepicker"
			/>
			<mat-datepicker-toggle
				matIconSuffix
				[for]="datepicker"
			></mat-datepicker-toggle>
			<mat-datepicker #datepicker></mat-datepicker>
			<mat-error *ngIf="meetingForm.controls['date'].errors?.['required']">
				{{ "required-field" | translate }}
			</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>{{ "Meeting-add.place" | translate }}</mat-label>
			<input matInput formControlName="place" type="text" />
			<mat-error *ngIf="meetingForm.controls['place'].errors?.['required']">
				{{ "required-field" | translate }}
			</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>{{ "Meeting-add.topic" | translate }}</mat-label>
			<input matInput formControlName="reason" type="text" />
			<mat-error *ngIf="meetingForm.controls['reason'].errors?.['required']">
				{{ "required-field" | translate }}
			</mat-error>
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions class="button-box">
	<button mat-button type="submit" (click)="onAdd()">
		{{ "add" | translate }}
	</button>
	<button mat-button mat-dialog-close cdkFocusInitial type="button">
		{{ "cancel" | translate }}
	</button>
</div>
