<h1 class="dialog-title text-2xl p-4 font-semibold">
	{{ "Meeting-add.meeting-add" | translate }}
</h1>
<div mat-dialog-content>
	<div *ngIf="owner$ | async as owner" class="mb-4 flex flex-col gap-3">
		<div>{{ "Rents-details.owner" | translate }}</div>
		<div class="flex gap-3 items-center">
			<img
				mat-card-avatar
				alt="avatar"
				class="profile-avatar__image"
				[src]="
					owner?.profilePicture?.path
						? baseUrl + '/' + owner?.profilePicture?.path
						: './assets/avatar.png'
				"
			/>
			<span class="text-black font-bold"
				>{{ owner.name }} {{ owner.surname }}</span
			>
		</div>
	</div>
	<div *ngIf="tenant$ | async as tenant" class="mb-4 flex flex-col gap-3">
		<div>{{ "Rents-details.main-tenant" | translate }}</div>
		<div class="flex gap-3 items-center">
			<img
				mat-card-avatar
				alt="avatar"
				class="profile-avatar__image"
				[src]="
					tenant?.profilePicture?.path
						? baseUrl + '/' + tenant?.profilePicture?.path
						: './assets/avatar.png'
				"
			/>
			<span class="text-black font-bold">{{ tenant.fullName }}</span>
		</div>
	</div>
	<form class="flex flex-col" [formGroup]="meetingForm" (ngSubmit)="onAdd()">
		<mat-form-field>
			<mat-label>{{ "Calendar.date" | translate }}</mat-label>
			<input
				matInput
				readonly
				formControlName="date"
				[ngxMatDatetimePicker]="dateTimePicker"
				[min]="minDate"
			/>
			<ngx-mat-datepicker-toggle
				matSuffix
				[for]="dateTimePicker"
			></ngx-mat-datepicker-toggle>
			<ngx-mat-datetime-picker #dateTimePicker>
				<ngx-mat-datepicker-actions>
					<button mat-button ngxMatDatepickerCancel>
						{{ "cancel" | translate }}
					</button>
					<button mat-raised-button color="primary" ngxMatDatepickerApply>
						{{ "apply" | translate }}
					</button>
				</ngx-mat-datepicker-actions>
			</ngx-mat-datetime-picker>

			<mat-datepicker #datepicker></mat-datepicker>
			<mat-error *ngIf="meetingForm.controls['date'].errors?.['required']">
				{{ "required-field" | translate }}!
			</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>{{ "Meeting-add.place" | translate }}</mat-label>
			<input matInput formControlName="place" type="text" />
			<mat-error *ngIf="meetingForm.controls['place'].errors?.['required']">
				{{ "required-field" | translate }}!
			</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>{{ "Meeting-add.topic" | translate }}</mat-label>
			<input matInput formControlName="reason" type="text" />
			<mat-error *ngIf="meetingForm.controls['reason'].errors?.['required']">
				{{ "required-field" | translate }}!
			</mat-error>
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions class="button-box">
	<button mat-button mat-dialog-close cdkFocusInitial type="button">
		{{ "cancel" | translate }}
	</button>
	<button mat-raised-button type="submit" color="primary" (click)="onAdd()">
		{{ "add" | translate }}
	</button>
</div>
