<mat-card>
	<h1>{{ "Report-problem.report-problem" | translate }}</h1>
	<mat-card-content class="mx-auto pt-1 w-3/4 md:w-3/5 lg:w-1/2 2xl:w-2/5">
		<form [formGroup]="form" (ngSubmit)="reportProblem()">
			<div class="form-group">
				<mat-form-field>
					<mat-label>{{ "Report-problem.type" | translate }}</mat-label>
					<mat-select formControlName="kind" type="number">
						<mat-option [value]="1">{{
							"Report-problem.app-service" | translate
						}}</mat-option>
						<mat-option [value]="2">{{
							"Report-problem.payments" | translate
						}}</mat-option>
						<mat-option [value]="3">{{
							"Report-problem.account-performance" | translate
						}}</mat-option>
						<mat-option [value]="4">Inne</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field appearance="outline">
					<mat-label>{{ "Report-problem.description" | translate }}</mat-label>
					<textarea matInput required formControlName="description"> </textarea>
					<mat-error>{{ "required-field" | translate }}</mat-error>
				</mat-form-field>
			</div>
			<div class="buttons">
				<button
					mat-flat-button
					color="primary"
					class="btn-loginSubmit"
					type="submit"
					[disabled]="form.invalid"
				>
					{{ "send" | translate }}
				</button>
			</div>
		</form>
	</mat-card-content>
</mat-card>
