<h1 class="p-4 text-xl">Dodaj interwencję</h1>
<form [formGroup]="addInterventionForm" (ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<mat-form-field class="w-full text-lg">
			<mat-label>Werdykt</mat-label>
			<textarea matInput formControlName="justification"></textarea>
		</mat-form-field>
	</mat-dialog-content>
	<div mat-dialog-actions align="end">
		<button mat-raised-button mat-dialog-close>Anuluj</button>
		<button mat-raised-button mat-dialog-close type="submit">Wyślij</button>
	</div>
</form>
