<h1 class="text-4xl p-4 font-semibold">
	{{ "Profile.my-profile" | translate }}
</h1>
<mat-card *ngIf="user$ | async as user">
	<mat-card-content>
		<section class="flex flex-col items-center">
			<div class="flex justify-center">
				<img
					mat-card-avatar
					alt="avatar"
					class="profile-avatar__image"
					src="{{ baseUrl }}/{{ user?.profilePicture?.path }}"
				/>
			</div>
			<div class="text-3xl font-semibold flex justify-center">{{ user.name }}</div>
			<div class="profile-features__wrapper flex justify-center">
				<mat-chip-listbox *ngIf="user.userType === 1">
					<mat-chip *ngIf="!user.surveyStudent.smoking">
						<div class="chip">
							<mat-icon>smoke_free</mat-icon>
							<span>{{ "Profile.smoking" | translate }}</span>
						</div>
					</mat-chip>
					<mat-chip *ngIf="user.surveyStudent.sociability">
						<div class="chip">
							<mat-icon>group</mat-icon>
							<span>{{ "Profile.sociable" | translate }}</span>
						</div>
					</mat-chip>
					<mat-chip *ngIf="user.surveyStudent.animals">
						<div class="chip">
							<mat-icon>pets</mat-icon>
							<span>{{ "Profile.has-animals" | translate }}</span>
						</div>
					</mat-chip>
					<mat-chip *ngIf="user.surveyStudent.vegan">
						<div class="chip">
							<mat-icon>cruelty_free</mat-icon> <span>Vegan</span>
						</div>
					</mat-chip>
				</mat-chip-listbox>
			</div>
			<div class="flex flex-col items-start">
				<div *ngFor="let link of user.links" class="text-gray-400">
					<div class="profile-link">
						<mat-icon>link</mat-icon>
						<a href="{{ link }}">{{ link }}</a>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="profile-details__wrapper mb-4">
				<div class="profile-education__header text-2xl flex gap-2 content-center">
					<mat-icon>school</mat-icon>
					<span>{{ "Profile.university" | translate }}</span>
				</div>
				<div class="text-gray-400">
					{{ user.university }}
				</div>
			</div>
			<div class="profile-details__wrapper mb-4">
				<div class="profile-interests__header text-2xl flex gap-2 content-center">
					<mat-icon>travel_explore</mat-icon>
					<span>{{ "Profile.interest" | translate }}</span>
				</div>
				<div>
					<mat-chip-listbox>
						<mat-chip *ngFor="let interest of user.interests">{{
							"Interest." + interest.name | translate
						}}</mat-chip>
					</mat-chip-listbox>
				</div>
			</div>
			<div class="profile-details__wrapper grid gap-4">
				<div
					class="profile-opinions__header text-2xl flex justify-between gap-2 content-center"
				>
					<div>
						<mat-icon>rate_review</mat-icon>
						<span>{{ "Profile-add-opinion.opinions" | translate }}</span>
					</div>
					<button
						mat-mini-fab
						color="primary"
						[routerLink]="['/profile', user.userId, 'opinion', 'add']"
					>
						<mat-icon>add</mat-icon>
					</button>
				</div>
				<div class="flex flex-col">
					<app-star-rating [avgRating]="user.avgRating"></app-star-rating>
					<label
						>{{ "Profile-add-opinion.average" | translate }}:
						{{ user.avgRating }}</label
					>
				</div>
				<mat-chip-listbox>
					<mat-chip>
						<span
							>{{ "Profile-add-opinion.helpful" | translate }}:
							{{ user.sumHelpful }}</span
						>
					</mat-chip>
					<mat-chip>
						<span
							>{{ "Profile-add-opinion.ready-cooperate" | translate }}:
							{{ user.sumCooperative }}</span
						>
					</mat-chip>
					<mat-chip>
						<span
							>{{ "Profile-add-opinion.keeps-things-tidy" | translate }}:
							{{ user.sumTidy }}</span
						>
					</mat-chip>
					<mat-chip>
						<span
							>{{ "Profile-add-opinion.friendly" | translate }}:
							{{ user.sumFriendly }}</span
						>
					</mat-chip>
					<mat-chip>
						<span
							>{{ "Profile-add-opinion.respecting-privacy-others" | translate }}:
							{{ user.sumRespectingPrivacy }}</span
						>
					</mat-chip>
					<mat-chip>
						<span
							>{{ "Profile-add-opinion.communicative" | translate }}:
							{{ user.sumCommunicative }}</span
						>
					</mat-chip>
					<mat-chip>
						<span
							>{{ "Profile-add-opinion.dishonest" | translate }}:
							{{ user.sumUnfair }}</span
						>
					</mat-chip>
					<mat-chip>
						<span
							>{{ "Profile-add-opinion.lack-hygiene" | translate }}:
							{{ user.sumLackOfHygiene }}</span
						>
					</mat-chip>
					<mat-chip>
						<span
							>{{ "Profile-add-opinion.care-tidiness" | translate }}:
							{{ user.sumUntidy }}</span
						>
					</mat-chip>
					<mat-chip>
						<span
							>{{ "Profile-add-opinion.conflicting" | translate }}:
							{{ user.sumConflicting }}</span
						>
					</mat-chip>
					<mat-chip>
						<span
							>{{ "Profile-add-opinion.too-noisy" | translate }}:
							{{ user.sumNoisy }}</span
						>
					</mat-chip>
					<mat-chip>
						<span
							>{{ "Profile-add-opinion.not-follow-arrangements" | translate }}:
							{{ user.sumNotFollowingTheArrangements }}</span
						>
					</mat-chip>
				</mat-chip-listbox>
				<div class="profile-opinions__comments">
					<ng-container *ngFor="let opinion of user.userOpinions">
						<div
							*ngIf="opinion.description"
							class="profile-opinions__comments-comment"
						>
							<img
								src="{{ baseUrl }}/{{ opinion.sourceUserProfilePicture.path }}"
								[alt]="opinion.sourceUserProfilePicture.name"
							/>
							<span class="text-gray-500">
								{{ opinion.sourceUserName }} {{ opinion.date | date }}:
							</span>
							<span>{{ opinion.description }}</span>
						</div>
					</ng-container>
				</div>
			</div>
		</section>
	</mat-card-content>
</mat-card>
