<h1 class="text-4xl p-4 font-semibold">Mój profil</h1>
<mat-card *ngIf="user$ | async as user">
	<mat-card-content>
		<section class="flex flex-col items-center">
			<div class="flex justify-center">
				<img
					mat-card-avatar
					alt="avatar"
					class="profile-avatar__image"
					src="{{ baseUrl }}/{{ user.profilePicture.path }}"
				/>
			</div>
			<div class="profile-name flex justify-center">{{ user.name }}</div>
			<div class="profile-features__wrapper flex justify-center">
				<mat-chip-listbox *ngIf="user.userType === 1">
					<mat-chip *ngIf="!user.surveyStudent.smoking">
						<div class="chip">
							<mat-icon>smoke_free</mat-icon> <span>Nie pali</span>
						</div>
					</mat-chip>
					<mat-chip *ngIf="user.surveyStudent.sociability">
						<div class="chip">
							<mat-icon>group</mat-icon> <span>Lubi towarzystwo</span>
						</div>
					</mat-chip>
					<mat-chip *ngIf="user.surveyStudent.animals">
						<div class="chip">
							<mat-icon>pets</mat-icon> <span>Ma zwierzęta</span>
						</div>
					</mat-chip>
					<mat-chip *ngIf="user.surveyStudent.vegan">
						<div class="chip">
							<mat-icon>cruelty_free</mat-icon> <span>Vegan</span>
						</div>
					</mat-chip>
				</mat-chip-listbox>
			</div>
			<div class="flex flex-col items-start">
				<div *ngFor="let link of user.links" class="text-gray-400">
					<div class="profile-link">
						<mat-icon>link</mat-icon>
						<a href="{{ link }}">{{ link }}</a>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="profile-details__wrapper mb-4">
				<div class="profile-education__header text-2xl flex gap-2 content-center">
					<mat-icon>school</mat-icon>
					<span>Uczelnia</span>
				</div>
				<div class="text-gray-400">
					{{ user.university }}
				</div>
			</div>
			<div class="profile-details__wrapper mb-4">
				<div class="profile-interests__header text-2xl flex gap-2 content-center">
					<mat-icon>travel_explore</mat-icon>
					<span>Zainteresowania</span>
				</div>
				<div>
					<mat-chip-listbox>
						<mat-chip *ngFor="let interest of user.interests">{{
							interest.name
						}}</mat-chip>
					</mat-chip-listbox>
				</div>
			</div>
			<div class="profile-details__wrapper grid gap-4">
				<div
					class="profile-opinions__header text-2xl flex justify-between gap-2 content-center"
				>
					<div><mat-icon>rate_review</mat-icon> <span>Opinie</span></div>
					<button
						mat-mini-fab
						color="primary"
						[routerLink]="['/profile', user.userId, 'opinion', 'add']"
					>
						<mat-icon>add</mat-icon>
					</button>
				</div>
				<div class="flex flex-col">
					<app-star-rating [avgRating]="user.avgRating"></app-star-rating>
					<label>Średnia ocena: {{ user.avgRating }}</label>
				</div>
				<mat-chip-listbox>
					<mat-chip>
						<span>Pomocny: {{ user.sumHelpful }}</span>
					</mat-chip>
					<mat-chip>
						<span>Gotowy do współpracy: {{ user.sumCooperative }}</span>
					</mat-chip>
					<mat-chip>
						<span>Dba o porządek: {{ user.sumTidy }}</span>
					</mat-chip>
					<mat-chip>
						<span>Przyjazny: {{ user.sumFriendly }}</span>
					</mat-chip>
					<mat-chip>
						<span>Szanujący prywatność innych: {{ user.sumRespectingPrivacy }}</span>
					</mat-chip>
					<mat-chip>
						<span>Komunikatywny: {{ user.sumCommunicative }}</span>
					</mat-chip>
					<mat-chip>
						<span>Nieuczciwy: {{ user.sumUnfair }}</span>
					</mat-chip>
					<mat-chip>
						<span>Brak higieny osobistej: {{ user.sumLackOfHygiene }}</span>
					</mat-chip>
					<mat-chip>
						<span>Nie dba o porządek: {{ user.sumUntidy }}</span>
					</mat-chip>
					<mat-chip>
						<span>Konfliktowy: {{ user.sumConflicting }}</span>
					</mat-chip>
					<mat-chip>
						<span>Zbyt głośny: {{ user.sumNoisy }}</span>
					</mat-chip>
					<mat-chip>
						<span
							>Nie przestrzega ustaleń: {{ user.sumNotFollowingTheArrangements }}</span
						>
					</mat-chip>
				</mat-chip-listbox>
				<div class="profile-opinions__comments">
					<ng-container *ngFor="let opinion of user.userOpinions">
						<div
							*ngIf="opinion.description !== ''"
							class="profile-opinions__comments-comment"
						>
							<img
								src="{{ baseUrl }}/{{ opinion.sourceUserProfilePicture.path }}"
								[alt]="opinion.sourceUserProfilePicture.name"
							/>
							<span class="text-gray-500">
								{{ opinion.sourceUserName }} {{ opinion.date | date }}:
							</span>
							<span>{{ opinion.description }}</span>
						</div>
					</ng-container>
				</div>
			</div>
		</section>
	</mat-card-content>
</mat-card>
