<mat-card>
	<h1>Resetuj hasło</h1>
	<mat-card-content class="mx-auto pt-1 w-3/4 md:w-3/5 lg:w-1/2 2xl:w-2/5">
		<form [formGroup]="form" (ngSubmit)="resetPassword()">
			<div class="form-group">
				<mat-form-field appearance="outline">
					<mat-label>Nowe hasło</mat-label>
					<input
						matInput
						required
						name="password"
						type="password"
						formControlName="password"
					/>
					<mat-error>Pole jest wymagane</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field appearance="outline">
					<mat-label>Potwierdź nowe hasło</mat-label>
					<input
						matInput
						required
						name="confirmPassword"
						type="password"
						formControlName="confirmPassword"
					/>
					<mat-error>Pole jest wymagane</mat-error>
				</mat-form-field>
			</div>
			<mat-error *ngIf="form.invalid && form.dirty"
				>Hasła się nie zgadzają</mat-error
			>
			<div class="buttons">
				<button
					mat-flat-button
					color="primary"
					class="btn-loginSubmit"
					type="submit"
					[disabled]="form.invalid"
				>
					Resetuj hasło
				</button>
			</div>
		</form>
	</mat-card-content>
</mat-card>
