.messages-wrapper {
	display: flex;
	gap: 16px;
}

.messages-choice {
	min-width: 300px;
}

.messages-choice__conversation {
	width: 100%;
	min-height: 48px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	padding: 0 16px;
	cursor: pointer;

	> div {
		display: flex;
		gap: 4px;
	}

	&.active {
		background: #ecf3fe;
	}
}

.messages-box {
	flex: 1;
}

@media screen and (max-width: 992px) {
	.messages-wrapper {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	mat-card {
		width: 100%;
		padding: 16px;
	}
}
